<p>
Les clauses sont inspirées de Jean-Paul II avec le site de 
{{ mc.link("https://www.mariedenazareth.com", "Marie de Nazareth") }}.
</p>

<p>
Le chapelet basé sur le rosaire traditionnel s'inspire de l'application 
{{ mc.link("https://rosario.app/", "Rosario") }} par
{{ mc.link("https://hozana.org/", "Hozana") }}.
</p>