{% include npath + "pr-signe-croix.html" %}

<hr />

{% include rpath + "rs-credo.html" %}

<p><a href="#b_notre_pere" id="b_notre_pere">===</a></p>

{% include rpath + "rs-notre-pere.html" %}

<p><a href="#b_ste_marie" id="b_ste_marie">===</a></p>

{% include rpath + "rs-ste-marie.html" %}

{% include rpath + "rs-vertus.html" %}

<p><a href="#b_gloire_pere" id="b_gloire_pere">===</a></p>

{% include rpath + "rs-gloire-pere.html" %}

<p><a href="#b_salut_reine" id="b_salut_reine">===</a></p>

{% include rpath + "rs-salut-reine.html" %}