@import "cv-imprime/variables";
@import "cv-imprime/reset";
@import "cv-imprime/base";
@import "cv-imprime/page";
@import "cv-imprime/utils";
@import "cv-imprime/classes";
@import "cv-imprime/animations";
@import "cv-imprime/media-queries";

/* Classes utilitaires */

.intitule {
    font-weight: bold;
    color: blue;
}

/* Conteneur */

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Listes */

ul {
    list-style-position: inside;

    .certificat {
        list-style-image: url('/public/icons/certificat.svg');
    }
}

/* Gauche */

#gauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba(7, 7, 192, 0.15);
    padding: 0.7cm;
    font-size: 15px;
}

/* Gauche > Photo */

#photo {
    img {
        border-radius: 10px;
    }
}

/* Gauche > Informations */

#infos {
    ul {
        text-align: center;
    }
}

/* Gauche > Liens */

#liens {
    padding-top: 15px;
}

/* Droite */

#droite {
    width: 70%;
    padding: 0.7cm;
    font-size: 15px;
}
