@import "resume/variables";
@import "resume/reset";
@import "resume/base";
@import "resume/page";
@import "resume/utils";
@import "resume/classes";
@import "resume/animations";
@import "resume/media-queries";

ul {
    text-align: left;
    line-height: 1.5;
}

.gras {
    font-weight: bold;
}

.intitule {
    font-weight: bold;
    color: blue;
}

.nom-poste {
    font-family: monospace;
    color: blue;
}

/* Sections */

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Gauche */

#gauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba(7, 7, 192, 0.15);
    padding: 0.7cm;
    font-size: 15px;

    h2 {
        text-align: center;
    }
}

/** Photo **/

#photo {
    img {
        border-radius: 10px;
    }
}

/** Informations **/

#infos {
    padding-top: 10px;

    ul {
        text-align: center;
    }
}

/* Liens */

#liens {
    padding-top: 15px;
}

/** Compétences **/

#competences {
    padding-top: 10px;
}

/** Langues **/

#langues {
    padding-top: 10px;
}

/* Certifications */

#certifications {
    padding-top: 10px;

    ul {
        text-align: left;
    }
}

/** Loisirs **/

#loisirs {
    padding-top: 10px;
}

/* Droite */

#droite {
    width: 70%;
    padding: 0.7cm;
    font-size: 15px;
}

/** Bannière **/

header {
    text-align: center;
}

/** Expérience **/

#experiences {
    padding-top: 10px;
}

/** Formation **/

#formations {
    padding-top: 10px;
}
