@import "resume/variables";
@import "resume/reset";
@import "resume/base";
@import "resume/page";
@import "resume/utils";
@import "resume/classes";
@import "resume/animations";
@import "resume/media-queries";

.intitule {
    font-weight: bold;
    color: blue;
}

.infos-lieu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nom-poste {
    font-family: monospace;
    color: blue;
}

.nom-lieu {
    font-weight: bold;
}

/* Badges */

.badge {
    border: 1px solid;
    border-radius: 8px;
    padding: 6px;

    &-niveau {
        background-color: rgba(7, 192, 32, 0.3);
    }

    &-contrat {
        background-color: rgba(167, 179, 7, 0.3);
    }
}

/* Sections */

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Gauche */

#gauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba(7, 7, 192, 0.15);
    padding: 0.7cm;

    text-align: center;
    font-size: 15px;
}

/** Photo **/

#photo {
    img {
        border-radius: 10px;
    }
}

/** Informations **/

#infos {
    padding-top: 15px;

    td {
        &:first-child {
            width: 20%;
        }

        &:nth-child(2) {
            width: 80%;
        }
    }
}

/* Liens */

#liens {
    padding-top: 15px;

    td:nth-child(1),
    td:nth-child(2) {
        padding-right: 15px;
    }
}

/** Compétences **/

#competences {
    padding-top: 10px;

    ul li:not(:first-child) {
        padding-top: 5px;
    }

    td {
        &:first-child {
            width: 20%;
        }

        &:nth-child(2) {
            width: 80%;
        }
    }
}

/** Langues **/

#langues {
    padding-top: 10px;

    h2 {
        margin-top: 5px;
    }

    td {
        &:first-child {
            width: 20%;
        }

        &:nth-child(2) {
            width: 80%;
        }
    }
}

/* Certifications */

#certifications {
    padding-top: 10px;

    td {
        &:first-child {
            width: 20%;
        }

        &:nth-child(2) {
            width: 80%;
        }
    }
}

/** Loisirs **/

#loisirs {
    padding-top: 10px;

    td {
        &:first-child {
            width: 25%;
        }

        &:nth-child(2) {
            width: 75%;
        }
    }
}

/* Droite */

#droite {
    width: 70%;
    padding: 0.7cm;
    font-size: 15px;
}

/** Bannière **/

header {
    text-align: center;
}

/** Expérience **/

#experiences {
    padding: 10px;
}
