{% extends "layouts/exercice.jinja" %}

{% set title = "Cohérence Cardiaque" %}

{% block content %}
<p>
300 secondes = 5 minutes, matin - midi - soir<br>
<br>
(La musique est rejouée en boucle.)
</p>

<p>Suivre les instructions ET respirer (/!\ NE PAS SIFFLER)</p>

<h2 id="counter">300</h2>

<h3 id="step"></h3>

<p><button id="press_btn" onclick="setCounter()">COMMENCER</button></p>

<audio loop>
    <source src="/public/music/healing.mp3" type="audio/mp3" />
    La musique n'est pas disponible, mais l'exercice reste toujours valable.
</audio>

<p id="credits">
    <a href="https://incompetech.com/music/royalty-free/index.html" target="_blank">Beach Party - Kevin MacLeod (incompetech.com)</a><br>
    Licensed under Creative Commons: By Attribution 3.0<br>
    http://creativecommons.org/licenses/by/3.0/
</p>
{% endblock %}