{% extends "layouts/base.jinja" %}

{% set title = "Exercice des Nombres" %}

{% set spath = "prieres/sang/" %}

{% block content %}
<audio loop autoplay id="subliminal">
    <source src="/public/music/subliminal.mp3" type="audio/mp3" />
    La musique n'est pas disponible, mais l'exercice reste toujours valable.
</audio>

<div class="centre">
    <h2>Exercice des nombres</h2>

    <p>A répéter à haute voix et séparément</p>

    <h3>Attirer une bonne santé</h3>

    <p>8 0 8 4 5 7 0 0 9</p>

    <h3>Améliorer sa mémoire</h3>

    <p>5 8 9 3 2 4 0</p>

    <h2>Ex Video</h2>

    {{ mc.yvideo("GZ8pYNomacw?si=ucBU_3myDTAzbwq-") }}
    
    <span style="margin-bottom: 500px;"></span>
</div>

{{ mc.script("test.js") }}

{% endblock %}