{% extends "layouts/base.jinja" %}

{% set title = "Exercice des Nombres" %}

{% block content %}
<div style="text-align: center;">
    <p>/!\ L'exercice suivant ne remplace pas un suivi ou un traîtement médical.</p>

    <p>Répétez mentalement ou à haute voix chaque série de chiffres, au moins 3 fois.</p>

    <h3>Mémoire + Concentration</h3>

    <p>4 8 1 8 5 4 3 8 3</p>

    <p>7 7 0 7 1 1 8 2</p>

    <h3>Stabilisateur de l'énergie de la santé</h3>

    <p>9 9 4 7 7 8 6 7 7 8 5</p>

    <h3>Retour aux normes de la santé</h3>

    <p>1 8 1 4 3 2 1</p>

    <h3>Rétablissement de la santé pour soi</h3>

    <p>8 8 8 8 8 4 8 8 8 8 8</p>

    <h3>Auto-Guérison</h3>

    <p>7 2 1 3 4 8 1 9 2</p>

    <h3>Récupération + Rétablissement rapide de la santé</h3>

    <p>1 9 7 5 1</p>

    <hr />

    <p>Vidéo Bonus</p>

    {{ mc.yvideo("GZ8pYNomacw?si=0d3j7tCKNLd9vb6S") }}
</div>
{% endblock %}