{% extends "layouts/base.jinja" %}

{% set title = "Exercice des Nombres" %}

{% set spath = "prieres/saints/" %}

{% block content %}
<div class="centre">
    <h2>Ex Nombres</h2>

    <p>/!\ L'exercice suivant ne remplace pas un suivi ou un traîtement médical.</p>

    <p>Répétez mentalement ou à haute voix chaque série de chiffres, au moins 3 fois.</p>

    <h3>Mémoire + Concentration</h3>

    <p>4 8 1 8 5 4 3 8 3</p>

    <p>7 7 0 7 1 1 8 2</p>

    <h3>Auto-Guérison</h3>

    <p>7 2 1 3 4 8 1 9 2</p>

    <h3>Récupération + Rétablissement rapide de la santé</h3>

    <p>1 9 7 5 1</p>

    <h2>Ex Affirmations</h2>

    {% include spath + "st-esprit.jinja" %}

    <h2>Vidéo Bonus</h2>

    {{ mc.yvideo("7dxoq0gWDmI?si=26o6zJoH5acXyaYE") }}
</div>
{% endblock %}
