{% extends "layouts/exercice.jinja" %}

{% set title = "Sonore (Variante)" %}

{% block content %}
<p>Inspirer / Expirer en suivant le rythme de la vidéo</p>

<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/yUybki_-7SY?si=Bp-tYQgblJsnf9m4" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
</iframe>
{% endblock %}