{{ mc.header("priere_medaille", "Prière à Ste Marie de la médaille miraculeuse") }}

<p class="priere">
<b>Ô Marie, conçue sans pêché,</b><br>
Sur vous est venu le Saint-Esprit<br>
Et vous nous avez donné votre Fils.<br>

<b>Ô Marie, confidente de Ste Catherine,</b><br>
Apprenez-nous à nous asseoir au pied du Seigneur<br>
Pour écouter sa parole et la garder dans notre coeur.<br>

<b>Ô Marie, debout au pied de la Croix,</b><br>
Conduisez-nous au pied de l'autel<br>
Pour devenir une offrande agréable au Père.<br>

<b>Ô Marie, Mère de l'Eglise,</b><br>
Vous portez le monde et l'offrez à Dieu<br>
Priez pour nous qui avons recours à vous.<br>

<b>Ô Marie, comblée de grâces,</b><br>
Répandez vos rayons de lumière<br>
Sur chacun d'entre nous qui vous le demandons.<br>

<b>Ô Marie, icône de l'humilité,</b><br>
Donnez-nous de porter la sainte Médaille<br>
Signe de notre amour pour les Coeurs de Jésus et Marie.<br>

<b>Ô Marie, Servante du Seigneur,</b><br>
Aidez-nous à vivre de charité comme Ste Catherine<br>
Qui ne cesse d'intercéder en notre faveur.<br>

Amen.
</p>

{{ mc.anchor("nv_medaille_fin") }}

<p class="priere">
<b>Ô Marie, conçue sans pêché,</b><br>
priez pour nous qui avons recours à vous. (x 3)
</p>