<div id="intro">
    <p>Etant passionné de développement web et mobile, j'ai songé à en faire mon métier.</p>

    <p>Mes compétences de base sont :</p>

    <ul>
        <li>- HTML, (S)CSS et JavaScript en front end</li>
        <li>- PHP (Symfony et Laravel) en back end</li>
        <li>- Dart (Flutter) en développement mobile</li>
        <li>- Python pour les scripts</li>
    </ul>

    <p>J'ai décidé de poursuivre avec C#, ASP.NET et Avalonia UI.</p>

    <p>Je m'entraîne quotidiennement avec <a href="https://www.codingame.com/profile/6bde83565678622d3379dc0dfc31bcf16659304" target="_blank">CodinGame</a> en mode "clash".</p>
</div>