<p class="verset" id="douloureux_1">
Dieu a tellement aimé le monde qu’il a donné son Fils unique,<br>
afin que quiconque croit en lui ne se perde pas,<br>
mais obtienne la vie éternelle. (Jn 3, 16)
</p>

<p class="verset" id="douloureux_2">
Le Seigneur est proche du coeur brisé. Il sauve l’esprit abattu. (Ps 33, 19)
</p>

<p class="verset" id="douloureux_3">
Crée en moi un coeur pur ô mon Dieu, renouvelle et raffermis au fond de moi mon esprit. (Ps 50)
</p>

<p class="verset" id="douloureux_4">
Dieu est pour nous refuge et force, secours dans la détresse, toujours offert. (Ps 45, 2)
</p>

<p class="verset" id="douloureux_5">
Si je traverse les ravins de la mort, je ne crains aucun mal, car tu es avec moi.<br>
Ton bâton me guide et me rassure. (Ps 22, 4)
</p>
