<p class="verset" id="glorieux_1">
Jésus dit : "Moi, je suis la résurrection et la vie.<br>
Celui qui croit en moi, même s’il meurt, vivra." (Jn 11, 25)
</p>

<p class="verset" id="glorieux_2">
A l’Agneau la louange et l’honneur, la gloire et la souveraineté pour les siècles des siècles. (Ap 5,13)
</p>

<p class="verset" id="glorieux_3">
Chantez au Seigneur un chant nouveau, car il a fait des merveilles. (Ps 97, 1)
</p>

<p class="verset" id="glorieux_4">
Vers toi j’ai les yeux levés.<br>
Vers toi qui es au ciel. (Ps 122, 1)
</p>

<p class="verset" id="glorieux_5">
L’Esprit et l’Épouse disent : "Viens !"<br>
Celui qui entend, qu’il dise : "Viens !"<br>
Celui qui a soif, qu’il vienne.<br>
Celui qui le désire, qu’il reçoive l’eau de la vie, gratuitement.<br>
(Ap 22, 17)
</p>