<p class="verset" id="joyeux_1">
Ce n’est plus moi qui vis, c’est le Christ qui vit en moi. (Ga 2, 20)
</p>

<p class="verset" id="joyeux_2">
Mon âme exalte le Seigneur, exulte mon esprit en Dieu, mon Sauveur ! (Lc 1, 46-47)
</p>

<p class="verset" id="joyeux_3">
Gloire à Dieu au plus haut des cieux et paix sur la terre aux hommes qu’Il aime. (Lc 2, 14)
</p>

<p class="verset" id="joyeux_4">
Mes yeux ont vu le salut que tu préparais à la face des peuples. (Luc 2, 30-31)
</p>

<p class="verset" id="joyeux_5">
Père, tu es en moi, et moi en toi. (Jn 17, 21)
</p>