<p class="verset" id="lumineux_1">
Vous tous que le baptême a unis au Christ, vous avez revêtu le Christ. (Ga 3, 27)
</p>

<p class="verset" id="lumineux_2">
Mon bien-aimé ! C’est lui, il vient.<br>
Il bondit sur les montagnes. (Ca 2, 8)
</p>

<p class="verset" id="lumineux_3">
Chantez au Seigneur et bénissez son nom !<br>
De jour en jour, proclamez son salut. (Ps 95)
</p>

<p class="verset" id="lumineux_4">
Ô Seigneur, notre Dieu, qu’il est grand ton nom, par toute la terre ! (Ps 8)
</p>

<p class="verset" id="lumineux_5">
Jésus dit : "Moi, je suis le pain vivant, qui est descendu du ciel.<br>
Si quelqu’un mange de ce pain, il vivra éternellement." (Jn 6, 51)
</p>
