{% extends "layouts/base.jinja" %}

{% set title = "Portfolio" %}

{% block content %}

{{ mc.links(data, "profil", "CV et Portfolio") }}
{{ mc.links(data, "chapelets", "Chapelets") }}
{{ mc.links(data, "litanies", "Litanies") }}
{{ mc.links(data, "exercices", "Exercices") }}

{% endblock %}