<!-- Listes > Grains -->

{%
    set lists = {
        "vertus" : ["-", "foi", "espérance", "charité"],
        "anges" : ["-", "St Michel", "St Gabriel", "St Raphaël", "Ange gardien"],
        "trio" : range(0, 4),
        "septaine" : [0, 2, 4, 6, 7],
        "vrapide" : [0, 4, 8, 10],
        "dizaine" : range(0, 11, 2)
    }
%}

<!-- Script JS -->

{% macro script(path) %}
<script src="/public/js/{{ path }}"></script>
{% endmacro %}

<!-- Vidéo YouTube -->

{% macro yvideo(link) %}
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/{{ link }}" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>
</iframe>
{% endmacro %}

<!-- Version latine -->

{% macro vlatine() %}
&RightArrow; <span class="traduction" onclick="switchLang(event);">Latin</span>
{% endmacro %}

<!-- Liste de liens -->

{% macro links(data, path, title) %}
<h2>{{ title }}</h2>

<ul>
    {% for link in data[path] %}
    <li><a href="{{ path }}/{{ link.href }}.html" target="_blank">{{ link.title }}</a></li>
    {% endfor %}
</ul>
{% endmacro %}

<!-- Titres (H2) -->

{% macro header(id, title) %}
<h2 id="{{ id }}"><a href="#{{ id }}">{{ title }}</a></h2>
{% endmacro %}

<!-- Ancres -->

{% macro anchor(id, type = "*") %}
<div id="{{ id }}">
    <a href="#{{ id }}">
    {% if type == "=" %}
    ===
    {% else %}
    ***
    {% endif %}
    </a>
</div>
{% endmacro %}

<!-- Ancre d'une liste -->

{% macro list_anchor(id, text) %}
<a href="#{{ id }}" id="{{ id }}">{{ text }}</a>
{% endmacro %}

<!-- Séparateur d'une liste -->

{% macro list_separator() %}
<li class="separation"></li>
{% endmacro %}

<!-- Lien de retour vers le haut -->

{% macro return_link(id = "") %}
<p><a href="#{{ id }}" class="bleu">Retour en haut</a></p>
{% endmacro %}

<!-- Lien simple -->

{% macro link(href, content) %}
<a href="{{ href }}" class="bleu" target="_blank">{{ content }}</a>
{% endmacro %}

<!-- Bouton radio (simple) -->

{% macro radio_btn(value, name, id) %}
<input type="radio" name="{{ name }}" id="{{ id }}" />
<label for="{{ id }}">{{ value }}</label>
{% endmacro %}

<!-- Boutons radios => Grains -->

{% macro grains(type, name) %}
    {% set values = lists[type] %}

    <p>
    {% for val in values %}
        {% set id = name + "_" + loop.index | string %}

        {{ radio_btn(val, name, id) }}
    {% endfor %}
    </p>
{% endmacro %}

<!-- Rondes (liste de choix) -->

{% macro rondes(end = 5) %}
<p>
    Ronde

    <select id="sel_rondes" onchange="checkFirst();">
        {% for nb in range(1, end + 1) %}
        <option>n°{{ nb }}</option>
        {% endfor %}
    </select>
</p>
{% endmacro %}

<!-- Elément d'une liste de litanies -->

{% macro litany(id, text) %}
<li>{{ list_anchor(id, text) }}, prie pour nous.</li>
{% endmacro %}