<!-- Vidéo YouTube -->

{% macro yvideo(link) %}
<iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/{{ link }}" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>
</iframe>
{% endmacro %}

<!-- Liste de liens -->

{% macro links(data, path, title) %}
<h2>{{ title }}</h2>

<ul>
    {% for link in data[path] %}
    <li><a href="{{ path }}/{{ link.href }}.html" target="_blank">{{ link.title }}</a></li>
    {% endfor %}
</ul>
{% endmacro %}