{% extends "layouts/base.jinja" %}

{% set title = "Tests" %}

{% block content %}
<p>
Esprit Saint, guide-moi sur le chemin de la paix et de la sérénité.<br>
Esprit Saint, conduis-moi sur le sentier de la bienveillance et de l'amour.<br>
Esprit Saint, éclaire-moi pour trouver la guérison dans toutes les dimensions de ma vie.<br>
Esprit Saint, accompagne-moi dans les moments de joie comme dans les épreuves.<br>
Esprit Saint, sois ma lumière et ma voie tout au long de ma vie.<br>
Amen.
</p>

<p>
Je vous salue Joseph,<br>
vous que la grâce divine a comblé,<br>
le Sauveur a reposé dans vos bras et grandi sous vos yeux.<br>
Vous êtes béni entre tous les hommes,<br>
et Jésus, l'enfant divin de votre virginale épouse, est béni.<br>
Saint Joseph, donné pour père au Fils de Dieu,<br>
priez pour nous, dans nos soucis de famille, de santé et de travail,<br>
jusqu’à nos derniers jours,<br>
et daignez nous secourir à l’heure de notre mort.<br>
Amen.
</p>
{% endblock %}