<section id="competences">
    <h2>Compétences</h2>

    <ul>
        <li>HTML, (S)CSS</li>
        <li>JavaScript, jQuery, D3</li>
        <li>PHP, Symfony, Laravel</li>
        <li>Dart, Flutter</li>
        <li>SQL, MongoDB</li>
        <li>Python, Flask, FastAPI</li>
        <li>Linux, Bash</li>
        <li>Git, Docker, Azure</li>
    </ul>
</section>