<section id="formation">
    <h2>Formation</h2>

    <div class="formation">
        <p class="element-liste">
            <span class="intitule">Formations en ligne</span>
        </p>

        <p class="element-liste">septembre 2023 - actuel</p>

        <ul>
            <li><b>DataCamp</b> : Apprentissage autodidacte en data science</li>
            <li><b>Dyma</b> : Formation complémentaire sur les outils DevOPS</li>
        </ul>
    </div>

    <hr>

    <div class="formation">
        <p class="element-liste">
            <span class="intitule">Formation - Développeur Grands Systèmes</span>
        </p>

        <p class="element-liste">
            <b>SERFA</b>, Strasbourg, septembre - décembre 2022
        </p>

        <ul>
            <li>- Programmation avec COBOL sur IDE et zOS</li>
            <li>- Initiation à l'environnement et aux outils Mainframe</li>
        </ul>
    </div>

    <hr>

    <div class="formation">
        <p class="element-liste">
            <span class="intitule">Titre de Concepteur-Développeur</span>, Niveau <strong>Bac + 3</strong>
        </p>
            
        <p class="element-liste">
            <b>CCI Campus</b>, Strasbourg, octobre 2021 - juillet 2022
        </p>

        <ul>
            <li>- Conception logicielle (maquettes, base de données, UML)</li>
            <li>- Gestion de projet avec méthodologie agile</li>
        </ul>
    </div>

    <hr>

    <div class="formation">
        <p class="element-liste">
            <span class="intitule">Titre de Développeur Web et Mobile</span>, Niveau <strong>Bac + 2</strong>
        </p>
            
        <p class="element-liste">
            <b>Élan Formation</b>, Strasbourg, février - septembre 2021
        </p>

        <ul>
            <li>- Développement front-end avec HTML, CSS et JavaScript</li>
            <li>- Développement back-end avec PHP et Symfony</li>
        </ul>
    </div>
</section>