<section id="loisirs">
    <h2>Loisirs</h2>

    <ul>
        <li>Apprentissage des langues</li>
        <li>Développement personnel</li>
        <li>Sport en salle</li>
        <li>Vélo</li>
        <li>Yin Yoga</li>
        <li>Cuisine</li>
    </ul>
</section>