<ul class="priere">
    <li class="gras">Credo in Deum, Patrem omnipotentem,</li>
	<li>Je crois en Dieu, le Père Tout-Puissant,</li>

    <li class="gras">Creatorem Caeli et Terrae,</li>
	<li>Créateur du Ciel et de la Terre,</li>
	
    <li class="gras">et in Jesum Christum, Filium eius unicum,</li>
    <li>et en Jésus-Christ, son Fils unique, notre Seigneur,</li>
	
    <li class="gras">Dominum nostrum,</li>
    <li>qui a été conçu du Saint-Esprit,</li>
	
    <li class="gras">qui conceptus est de Spiritu Sancto,</li>
    <li>est né de la Vierge Marie,</li>
	
    <li class="gras">natus ex Maria Virgine,</li>
	<li>a souffert sous Ponce Pilate,</li>
	
    <li class="gras">passus sub Pontio Pilato,</li>
	<li>a été crucifié, est mort et a été enseveli,</li>
	
    <li class="gras">crucifixus, mortuus, et sepultus,</li>
	<li>est descendu aux enfers,</li>
	
    <li class="gras">descendit ad inferos,</li>
	<li>le troisième jour est ressuscité des morts,</li>
	
    <li class="gras">tertia die resurrexit a mortuis,</li>
	<li>est monté aux cieux,</li>
	
    <li class="gras">ascendit ad caelos,</li>
	<li>est assis à la droite de Dieu le Père Tout-Puissant,</li>
	
    <li class="gras">sedet ad dexteram Dei Patris omnipotentis,</li>
	<li>d’où il viendra juger les vivants et les morts.</li>
	
    <li class="gras">inde venturus est judicare vivos et mortuos.</li>
    <li class="separation"></li>
	
    <li class="gras">Credo in Spiritum Sanctum,</li>
	<li>Je crois en l’Esprit-Saint,</li>
	
    <li class="gras">sanctam Ecclesiam catholicam,</li>
	<li>à la Sainte Eglise catholique,</li>
	
    <li class="gras">sanctorum communionem,</li>
	<li>à la communion des saints,</li>
	
    <li class="gras">remissionem peccatorum,</li>
	<li>à la rémission des péchés,</li>
	
    <li class="gras">carnis resurrectionem,</li>
	<li>à la résurrection de la chair,</li>
	
    <li class="gras">vitam aeternam.</li>
	<li>à la vie éternelle.</li>
	
    <li class="separation"></li>
	
    <li class="gras">Amen.</li>
</ul>