<h2>Je crois en Dieu</h2>

<ul class="priere">
	<li>Je crois en Dieu, le Père tout-puissant,</li>
	<li>Créateur du Ciel et de la Terre,</li>
	<li>et en Jésus-Christ, son Fils unique, notre Seigneur,</li>
	<li>qui a été conçu du Saint-Esprit,</li>
	<li>est né de la Vierge Marie,</li>
	<li>a souffert sous Ponce Pilate,</li>
	<li>a été crucifié, est mort et a été enseveli,</li>
	<li>est descendu aux enfers,</li>
	<li>le troisième jour est ressuscité des morts,</li>
	<li>est monté aux cieux,</li>
	<li>est assis à la droite de Dieu le Père tout-puissant,</li>
	<li>d’où il viendra juger les vivants et les morts.</li>
	<li class="separation"></li>
	<li>Je crois en l’Esprit-Saint,</li>
	<li>à la Sainte Eglise catholique,</li>
	<li>à la communion des saints,</li>
	<li>à la rémission des péchés,</li>
	<li>à la résurrection de la chair,</li>
	<li>à la vie éternelle.</li>
	<li class="separation"></li>
	<li>Amen.</li>
</ul>