<p class="fr">
Je crois en Dieu, le Père Tout-Puissant,<br>
Créateur du Ciel et de la Terre,<br>
et en Jésus-Christ, son Fils unique, notre Seigneur,<br>
qui a été conçu du Saint-Esprit,<br>
est né de la Vierge Marie,<br>
a souffert sous Ponce Pilate,<br>
a été crucifié, est mort et a été enseveli,<br>
est descendu aux enfers,<br>
le troisième jour est ressuscité des morts,<br>
est monté aux cieux,<br>
est assis à la droite de Dieu le Père Tout-Puissant,<br>
d’où il viendra juger les vivants et les morts.<br>
<br>
Je crois en l’Esprit-Saint,<br>
à la Sainte Eglise catholique,<br>
à la communion des saints,<br>
à la rémission des péchés,<br>
à la résurrection de la chair,<br>
à la vie éternelle.<br>
<br>
Amen.
</p>

<p class="latin">
Credo in Deum, Patrem omnipotentem,<br>
Creatorem Caeli et Terrae,<br>
et in Jesum Christum, Filium eius unicum,<br>
Dominum nostrum,<br>
qui conceptus est de Spiritu Sancto,<br>
natus ex Maria Virgine,<br>
passus sub Pontio Pilato,<br>
crucifixus, mortuus, et sepultus,<br>
descendit ad inferos,<br>
tertia die resurrexit a mortuis,<br>
ascendit ad caelos,<br>
sedet ad dexteram Dei Patris omnipotentis,<br>
inde venturus est judicare vivos et mortuos.<br>
<br>
Credo in Spiritum Sanctum,<br>
sanctam Ecclesiam catholicam,<br>
sanctorum communionem,<br>
remissionem peccatorum,<br>
carnis resurrectionem,<br>
vitam aeternam.<br>
<br>
Amen.
</p>