<ul class="priere gauche">
	<li class="gras">Ecce Crucem Domini !</li>
	<li>Voici la Croix du Seigneur !</li>

	<li class="gras">Fugite, partes adversae !</li>
	<li>Fuyez, puissances ennemies !</li>
	
	<li class="gras">Vicit Leo de tribu Juda,</li>
    <li>Le lion de la tribu de Juda,</li>
	
	<li class="gras">Radix David !</li>
    <li>le rejeton de David, a vaincu !</li>

	<li class="gras">Alleluia !</li>
</ul>
