<p class="fr">
Voici la Croix du Seigneur !<br>
Fuyez, puissances ennemies !<br>
Le lion de la tribu de Juda,<br>
le rejeton de David, a vaincu !<br>
Alléluia !
</p>

<p class="latin">
Ecce Crucem Domini !<br>
Fugite, partes adversae !<br>
Vicit Leo de tribu Juda, Radix David !<br>
Alleluia !
</p>