<p class="priere">
    Ô Jésus, divin rédempteur,<br>
    sois miséricordieux pour nous et pour le monde entier.<br>

    Dieu saint, Dieu fort, Dieu immortel,<br>
    aie pitié de nous et du monde entier.<br>

    Ô père éternel, traite-nous avec miséricorde<br>
    par le sang de Jésus, ton Fils unique.<br>

    Traite-nous avec miséricorde, nous t’en conjurons.<br>

    Amen.
</p>