<ul class="priere">
    <li>Jésus, <b>aie pitié de</b> moi.</li>
    <li>Jésus, <b>guéris</b>-moi.</li>
    <li>Jésus, <b>sauve</b>-moi.</li>
    <li>Jésus, <b>libère</b>-moi.</li>
    <li>Jésus, <b>aide</b>-moi.</li>
</ul>