<p class="fr">
Gloire au Père, et au Fils, et au Saint-Esprit,<br>
comme il était au commencement,<br>
maintenant et toujours,<br>
pour les siècles des siècles.<br>
Amen.
</p>

<p class="latin">
Gloria Patri, et Filio, et Spiritui Sancto,<br>
sicut erat in principio,<br>
et nunc et semper,<br>
et in saecula saeculorum.<br>
Amen.
</p>