<h2>Gloire au Père</h2>

<ul class="priere" lang="fr">
	<li>Gloire au Père, et au Fils, et au Saint-Esprit,</li>
	<li>comme il était au commencement,</li>
	<li>maintenant et toujours,</li>
	<li>pour les siècles des siècles.</li>
	<li>Amen.</li>
</ul>

<ul class="priere" lang="latin">
	<li>Gloria Patri, et Filio, et Spiritui Sancto,</li>
	<li>sicut erat in principio,</li>
	<li>et nunc et semper,</li>
	<li>et in saecula saeculorum.</li>
	<li>Amen.</li>
</ul>