<h2>{{ mc.vtranslate("fr", "Gloire au Père") }} &minus; {{ mc.vtranslate("latin", "Gloria Patri") }}</h2>

{{ mc.paragraph(data, "gloire-pere", "fr") }}
{{ mc.paragraph(data, "gloire-pere", "latin") }}