<p class="fr">
Notre Père, qui est aux cieux,<br>
que ton nom soit sanctifié,<br>
que ton règne vienne,<br>
que ta volonté soit faite, sur la terre comme au ciel.<br>
Donne-nous aujourd'hui notre pain de ce jour,<br>
et pardonne-nous nos offenses,<br>
comme nous pardonnons aussi à ceux qui nous ont offensés,<br>
et ne nous laisse pas entrer en tentation,<br>
mais délivre-nous du mal.<br>
Amen.
</p>

<p class="latin">
Pater Noster, qui es in caelis<br>
sanctificetur nomen tuum,<br>
adveniat regnum tuum,<br>
fiat voluntas tua, sicut in caelo et in terra.<br>
Panem nostrum quotidianum da nobis hodie,<br>
et dimitte nobis debita nostra,<br>
sicut et nos dimittimus debitoribus nostris,<br>
et ne nos inducas in tentationem,<br>
sed libera nos a malo.<br>
Amen.
</p>