<ul class="priere gauche">
	<li class="gras">Pater Noster, qui es in caelis</li>
	<li>Notre Père, qui est aux cieux,</li>

	<li class="gras">sanctificetur nomen tuum,</li>
	<li>que ton nom soit sanctifié,</li>
    
	<li class="gras">adveniat regnum tuum,</li>
	<li>que ton règne vienne,</li>
    
	<li class="gras">fiat voluntas tua, sicut in caelo et in terra.</li>
	<li>que ta volonté soit faite, sur la terre comme au ciel.</li>
    
	<li class="gras">Panem nostrum quotidianum da nobis hodie,</li>
	<li>Donne-nous aujourd'hui notre pain de ce jour,</li>
    
	<li class="gras">et dimitte nobis debita nostra,</li>
	<li>et pardonne-nous nos offenses,</li>
    
	<li class="gras">sicut et nos dimittimus debitoribus nostris,</li>
	<li>comme nous pardonnons aussi à ceux qui nous ont offensés,</li>
    
	<li class="gras">et ne nos inducas in tentationem,</li>
	<li>et ne nous laisse pas entrer en tentation,</li>
    
	<li class="gras">sed libera nos a malo.</li>
	<li>mais délivre-nous du mal.</li>
    
	<li class="gras">Amen.</li>
</ul>
