<h2>{{ mc.vtranslate("fr", "Prière de Fatima") }} &minus; {{ mc.vtranslate("latin", "Oratio Fatimae") }}</h2>

{{ mc.paragraph(data, "priere-fatima", "fr") }}
{{ mc.paragraph(data, "priere-fatima", "latin") }}