<p class="fr">
Ô mon Jésus,<br>
pardonnez-nous nos péchés,<br>
préservez-nous du feu de l'enfer,<br>
et conduisez au Ciel toutes les âmes,<br>
surtout celles qui ont le plus besoin de votre miséricorde.<br>
Amen.
</p>

<p class="latin">
Domine Jesu,<br>
dimitte nobis debita nostra,<br>
salva nos ab igne inferiori,<br>
perduc in caelum omnes animas,<br>
praesertim eas, quae misericordiae tuae maxime indigent.<br>
Amen.
</p>