<h2>Prière de Fatima</h2>

<p class="maskable">
Ô mon Jésus,<br>
pardonne-nous nos pêchés,<br>
préserve-nous du feu de l'enfer,<br>
et conduis au Ciel toutes les âmes,<br>
surtout celles qui ont le plus besoin de ta sainte miséricorde.<br>
Amen.
</p>
