<h2>{{ mc.vtranslate("fr", "Salut ô Reine") }} &minus; {{ mc.vtranslate("latin", "Salve Regina") }}</h2>

{{ mc.paragraph(data, "salut-reine", "fr") }}
{{ mc.paragraph(data, "salut-reine", "latin") }}