<h2>Salut ô Reine {{ mc.vlatine() }}</h2>

<ul class="priere" lang="fr">
	<li>Salut, ô Reine, Mère de miséricorde,</li>
	<li>notre vie, notre douceur et notre espérance. Salut !</li>
	<li>Enfants d'Eve, exilés, nous crions vers vous.</li>
	<li>Vers vous, nous soupirons,</li>
	<li>gémissant et pleurant dans cette vallée de larmes.</li>
	<li>Ô vous, notre avocate,</li>
	<li>tournez vers nous vos regards miséricordieux.</li>
	<li>Et après cet exil, montrez-nous Jésus, le fruit béni de vos entrailles.</li>
	<li>Ô clémente, ô pieuse, ô douce Vierge Marie.</li>
	<li>Amen.</li>
</ul>

<ul class="priere" lang="latin">
	<li>Salve, Regina, Mater misericordiae,</li>
	<li>vita, dulcedo, et spes nostra. Salve !</li>
	<li>Ad te clamamus exsules filii Evae,</li>
	<li>ad te suspiramus, gementes et flentes</li>
	<li>in hac lacrimarum valle.</li>
	<li>Eia, ergo, advocata nostra,</li>
	<li>illos tuos misericordes oculos ad nos converte.</li>
	<li>Et Iesum, benedictum fructum ventris tui,</li>
	<li>nobis post hoc exsilium ostende.</li>
	<li>O clemens, O pia, O dulcis Virgo Maria.</li>
	<li>Amen.</li>
</ul>