<ul class="priere gauche">
	<li class="gras">Salve, Regina, Mater misericordiae,</li>
	<li>Salut, Reine, Mère de Miséricorde,</li>
	
	<li class="gras">Vita, dulcedo et spes nostra. Salve !</li>
    <li>Notre Vie, notre Douceur, et notre espérance. Salut !</li>
	
	<li class="gras">Ad te clamamus, exsules filii Evae.</li>
    <li>Vers toi nous élevons nos cris, pauvres enfants d'Ève exilés.</li>
	
	<li class="gras">Ad te suspiramus, gementes et flentes in hac lacrimarum valle.</li>
    <li>Vers toi nous soupirons, gémissant et pleurant dans cette vallée de larmes.</li>
	
	<li class="gras">Eia ergo, advocata nostra, illos tuos misericordes oculos ad nos converte.</li>
    <li>Tourne donc, ô notre Avocate, tes yeux miséricordieux vers nous.</li>
	
	<li class="gras">Et Jesum, benedictum fructum ventris tui, nobis post hoc exilium ostende.</li>
    <li>Et, Jésus, le fruit béni de tes entrailles, montre-le nous après cet exil.</li>
	
	<li class="gras">O clemens, o pia, o dulcis Virgo Maria.</li>
    <li>Ô clémente, ô pieuse, ô douce Vierge Marie !</li>
	
    <li class="gras">Amen.</li>
</ul>
