<p class="fr maskable">(Au nom du <b>Père</b>, et du <b>Fils</b> et du <b>Saint-Esprit</b>. Amen.)</p>

<p class="latin maskable">(In nomine <b>Patris</b>, et <b>Filii</b> et <b>Spiritus Sancti</b>. Amen.)</p>