<ul class="priere gauche">
    <li>(In nomine <b>Patris</b>, et <b>Filii</b> et <b>Spiritus Sancti</b>. Amen.)</li>
    <li>(Au nom du <b>Père</b>, et du <b>Fils</b> et du <b>Saint-Esprit</b>. Amen.)</li>
</ul>
