<ul class="priere" lang="fr">
    <li>Au nom du <b>Père</b>, et du <b>Fils</b> et du <b>Saint-Esprit</b>.</li>
    <li>Amen.</li>
</ul>

<ul class="priere" lang="latin">
    <li>In nomine <b>Patris</b>, et <b>Filii</b> et <b>Spiritus Sancti</b>.</li>
    <li>Amen.</li>
</ul>