<p class="fr">
Je vous salue Marie, pleine de grâce,<br>
le Seigneur est avec vous.<br>
Vous êtes bénie entre toutes les femmes,<br>
et Jésus, votre enfant, est béni.<br>
Sainte Marie, Mère de Dieu,<br>
priez pour nous, pauvres pécheurs,<br>
maintenant et à l'heure de notre mort.<br>
Amen.
</p>

<p class="latin">
Ave Maria, gratia plena,<br>
Dominus tecum.<br>
Benedicta tu in mulieribus,<br>
et benedictus fructus ventris tui, Jesus.<br>
Sancta Maria, Mater Dei,<br>
ora pro nobis, peccatoribus,<br>
nunc, et in ora mortis nostræ.<br>
Amen.
</p>