<ul class="priere gauche">
	<li class="gras">Ave Maria, gratia plena,</li>
	<li>Je te salue Marie, pleine de grâce,</li>
	
	<li class="gras">Dominus tecum.</li>
    <li>le Seigneur est avec toi.</li>
	
	<li class="gras">Benedicta tu in mulieribus,</li>
    <li>Tu es bénie entre toutes les femmes,</li>
	
	<li class="gras">et benedictus fructus ventris tui, Jesus.</li>
    <li>et Jésus, le fruit de tes entrailles, est béni.</li>
	
	<li class="gras">Sancta Maria, Mater Dei,</li>
    <li>Sainte Marie, Mère de Dieu,</li>
	
	<li class="gras">ora pro nobis, peccatoribus,</li>
    <li>prie pour nous, pauvres pécheurs,</li>
	
	<li class="gras">nunc, et in ora mortis nostræ.</li>
    <li>maintenant et à l'heure de notre mort.</li>
	
    <li class="gras">Amen.</li>
</ul>
