<h2>Je vous salue Marie</h2>

<ul class="priere">
	<li>Je vous salue Marie, pleine de grâce,</li>
	<li>le Seigneur est avec vous.</li>
	<li>Vous êtes bénie entre toutes les femmes,</li>
	<li>et Jésus, <span id="clausule" class="gras">incarné</span>, est béni.</li>
	<li>Sainte Marie, Mère de Dieu,</li>
	<li>priez pour nous, pauvres pécheurs,</li>
	<li>maintenant et à l'heure de notre mort.</li>
	<li>Amen.</li>
</ul>