<p class="fr maskable">
Je vous salue Marie, pleine de grâce,<br>
le Seigneur est avec vous.<br>
Vous êtes bénie entre toutes les femmes,<br>
et Jésus, votre enfant, est béni.<br>
Sainte Marie, Mère de Dieu, priez pour nous.
</p>

<p class="latin maskable">
Ave Maria, gratia plena,<br>
Dominus tecum.<br>
Benedicta tu in mulieribus,<br>
et benedictus fructus ventris tui, Jesus.<br>
Sancta Maria, Mater Dei, ora pro nobis.
</p>