<h2>{{ mc.vtranslate("fr", "Je vous salue Marie") }} &minus; {{ mc.vtranslate("latin", "Ava Maria") }}</h2>

{{ mc.paragraph(data, "ste-marie", "fr") }}
{{ mc.paragraph(data, "ste-marie", "latin") }}
