<h2>Je vous salue Marie {{ mc.vlatine() }}</h2>

<ul class="priere" lang="fr">
	<li>Je vous salue Marie, pleine de grâce,</li>
	<li>le Seigneur est avec vous.</li>
	<li>Vous êtes bénie entre toutes les femmes,</li>
	<li>et Jésus, <span id="clausule" class="gras">incarné</span>, est béni.</li>
	<li>Sainte Marie, Mère de Dieu,</li>
	<li>priez pour nous, pauvres pécheurs,</li>
	<li>maintenant et à l'heure de notre mort.</li>
	<li>Amen.</li>
</ul>

<ul class="priere" lang="latin">
	<li>Ave Maria, gratia plena,</li>
	<li>Dominus tecum.</li>
	<li>Benedicta tu in mulieribus,</li>
	<li>et benedictus fructus ventris tui, Jesus.</li>
	<li>Sancta Maria, Mater Dei,</li>
	<li>ora pro nobis, peccatoribus,</li>
	<li>nunc et in ora mortis nostrae.</li>
	<li>Amen.</li>
</ul>