<p>
    Mystères

    <select id="sel_type" onchange="selectType();">
        <option>joyeux</option>
        <option>douloureux</option>
        <option>glorieux</option>
    </select>
</p>

<ul class="priere gauche">
    <li>{{ mc.radio_btn("m1", "mysteres", "1. L'annonciation à St Joseph") }} </li>
    <li>{{ mc.radio_btn("m2", "mysteres", "2. La naissance de Jésus") }} </li>
    <li>{{ mc.radio_btn("m3", "mysteres", "3. L'attribution du nom de Jésus") }} </li>
    <li>{{ mc.radio_btn("m4", "mysteres", "4. La présentation de Jésus au temple de Jérusalem") }} </li>
    <li>{{ mc.radio_btn("m5", "mysteres", "5. Le recouvrement de Jésus au temple de Jérusalem") }} </li>
</ul>