<p>
Père Éternel, je Vous offre le très précieux Sang<br>
de Votre Divin Fils, Jésus,<br>
en union avec les saintes messes célébrées<br>
aujourd’hui à travers le monde,<br>
pour toutes les âmes du purgatoire,<br>
pour les pécheurs dans l’Église Universelle,<br>
pour les pécheurs en tout lieu,<br>
ceux de mon entourage et de ma propre famille.<br>
Amen.
</p>