<p>{{ mc.checkbox("cb_credo", "Credo") }}</p>

<p>{{ mc.checkbox("cb_pater", "Notre Père") }}</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("vertus", "ste_marie_vertus") }}

<p>{{ mc.checkbox("cb_gloria", "Gloire au Père") }}</p>