<p>
{{ mc.checkbox("cb_credo", value) }} <b>Credo</b>
</p>

<p>
{{ mc.checkbox("cb_pater", value) }} <b>Notre Père</b>
</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("vertus", "ste_marie_vertus") }}

<p>
{{ mc.checkbox("cb_gloria", value) }} <b>Gloire au Père</b>
</p>