<p>{{ mc.checkbox("Credo") }}</p>

<p>{{ mc.checkbox("Notre Père") }}</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains(["-", "foi", "espérance", "charité"], "base_trio") }}

<p>{{ mc.checkbox("Gloire au Père") }}</p>
