{% import "macros.jinja" as mc %}

{% macro dizaine(code) %}
    <p>{{ mc.checkbox("Notre Père") }}</p>

    <p class="gras">Je vous salue Marie</p>

    {{ mc.grains(range(0, 11), "dz_grains_" + code) }}

    <p>{{ mc.checkbox("Gloire au Père") }}</p>

    <p>{{ mc.checkbox("Prière de Fatima") }}</p>
{% endmacro %}
