{% include rpath + "rs-mysteres.jinja" %}

<!-- Prières -->

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("dizaine", "dz_grains") }}

{{ mc.anchor("gloria") }}

{% include bpath + "gloire-pere.jinja" %}