{% include rpath + "rs-mysteres.jinja" %}

<!-- Prières -->

<p>
{{ mc.checkbox("cb_dz_pater", value) }} <b>Notre Père</b>
</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("dizaine", "dz_grains") }}

<p>
{{ mc.checkbox("cb_dz_gloria", value) }} <b>Gloire au Père</b>
</p>

<p>
{{ mc.checkbox("cb_dz_fatima", value) }} <b>Prière de Fatima</b>
</p>
