<p class="gras">Les mystères douloureux</p>

<ul class="priere gauche">
    <li>{{ mc.radio_btn("d1", "mysteres", "1. L'agonie au jardin de Gethsémani") }} </li>
    <li>{{ mc.radio_btn("d2", "mysteres", "2. La flagellation") }} </li>
    <li>{{ mc.radio_btn("d3", "mysteres", "3. Le couronnement d'épines") }} </li>
    <li>{{ mc.radio_btn("d4", "mysteres", "4. Le portement de croix jusqu'au Golgotha") }} </li>
    <li>{{ mc.radio_btn("d5", "mysteres", "5. La crucifixion") }} </li>
</ul>

<p>Notre Père &gt; 10 x Je vous salue Marie &gt; Gloire Père</p>