{% include rpath + "rs-dizaine-min.jinja" %}

<!-- Ajout -->

{{ mc.anchor("dz_fatima") }}

{% include bpath + "priere-fatima.jinja" %}

{{ mc.anchor("dz_fidelium") }}

{% include bpath + "fidelium.jinja" %}
