<p class="gras">Les mystères glorieux</p>

<ul class="priere gauche">
    <li>{{ mc.radio_btn("g1", "mysteres", "1. La résurrection de Jésus") }} </li>
    <li>{{ mc.radio_btn("g2", "mysteres", "2. L'ascension") }} </li>
    <li>{{ mc.radio_btn("g3", "mysteres", "3. La Pentecôte") }} </li>
    <li>{{ mc.radio_btn("g4", "mysteres", "4. L'Assomption de Marie") }} </li>
    <li>{{ mc.radio_btn("g5", "mysteres", "5. Le couronnement de Marie") }} </li>
</ul>

<p>Notre Père &gt; 10 x Je vous salue Marie &gt; Gloire Père</p>