<p class="gras">Les mystères joyeux</p>

<ul class="priere gauche">
    <li>{{ mc.radio_btn("j1", "mysteres", "1. L'annonciation") }} </li>
    <li>{{ mc.radio_btn("j2", "mysteres", "2. La visitation") }} </li>
    <li>{{ mc.radio_btn("j3", "mysteres", "3. la naissance de Jésus") }} </li>
    <li>{{ mc.radio_btn("j4", "mysteres", "4. la présentation de Jésus au temple de Jérusalem") }} </li>
    <li>{{ mc.radio_btn("j5", "mysteres", "5. le recouvrement de Jésus au temple de Jérusalem") }} </li>
</ul>

<p>Notre Père &gt; 10 x Je vous salue Marie &gt; Gloire Père</p>