<p class="gras">Les mystères lumineux</p>

<ul class="priere gauche">
    <li>{{ mc.radio_btn("l1", "mysteres", "1. Le baptême de Jésus") }} </li>
    <li>{{ mc.radio_btn("l2", "mysteres", "2. Les noces de Cana") }} </li>
    <li>{{ mc.radio_btn("l3", "mysteres", "3. L'annonce du Royaume de Dieu") }} </li>
    <li>{{ mc.radio_btn("l4", "mysteres", "4. La transfiguration au Mont Thabor") }} </li>
    <li>{{ mc.radio_btn("l5", "mysteres", "5. L'institution de l'eucharistie") }} </li>
</ul>

<p>Notre Père &gt; 10 x Je vous salue Marie &gt; Gloire Père</p>