<!-- Macro -->

{% macro ex_mystere(id, value) %}
<input type="radio" name="rd_mysteres" id="{{ id }}" onclick="resetButtons();" />
<label for="{{ id }}">{{ value }}</label>
{% endmacro %}

<!-- Types -->

<p>
    Mystères

    <select id="sel_types" onchange="setBlock();">
        <option>joyeux (L, S)</option>
        <option>lumineux (J)</option>
        <option>douloureux (Ma, V)</option>
        <option>glorieux (Me, D)</option>
    </select>
</p>

<!-- Blocs -->

<div class="mysteres" id="m_joyeux">
{% include cpath + "ch-joyeux.jinja" %}
</div>

<div class="mysteres" id="m_lumineux">
{% include cpath + "ch-lumineux.jinja" %}
</div>

<div class="mysteres" id="m_douloureux">
{% include cpath + "ch-douloureux.jinja" %}
</div>

<div class="mysteres" id="m_glorieux">
{% include cpath + "ch-glorieux.jinja" %}
</div>

<hr />

{% include rpath + "rs-dizaine.jinja" %}