<!-- Macro -->

{% macro ex_mystere(id, value) %}
<input type="radio" name="rd_mysteres" id="{{ id }}" onclick="resetButtons();" />
<label for="{{ id }}">{{ value }}</label>
{% endmacro %}

<!-- Types -->

<p>
    Mystères

    <select id="sel_types" onchange="setBlock();">
        <option>joyeux (L, S)</option>
        <option>lumineux (J)</option>
        <option>douloureux (Ma, V)</option>
        <option>glorieux (Me, D)</option>
    </select>
</p>

<!-- Blocs -->

<div id="m_joyeux" class="priere gauche">
    <ul class="mysteres">
        <li>{{ ex_mystere("j1", "1. L'annonciation") }}</li>
        <li>{{ ex_mystere("j2", "2. La visitation") }}</li>
        <li>{{ ex_mystere("j3", "3. La nativité") }}</li>
        <li>{{ ex_mystere("j4", "4. La présentation de Jésus au temple") }}</li>
        <li>{{ ex_mystere("j5", "5. Le recouvrement de Jésus au temple") }}</li>
    </ul>
</div>

<div id="m_lumineux" class="priere gauche">
    <ul class="mysteres">
        <li>{{ ex_mystere("l1", "1. Le baptême de Jésus") }}</li>
        <li>{{ ex_mystere("l2", "2. Les noces de Cana") }}</li>
        <li>{{ ex_mystere("l3", "3. L'annonce du Royaume de Dieu") }}</li>
        <li>{{ ex_mystere("l4", "4. La transfiguration au Mont Thabor") }}</li>
        <li>{{ ex_mystere("l5", "5. L'institution de l'eucharistie") }}</li>
    </ul>
</div>

<div id="m_douloureux" class="priere gauche">
    <ul class="mysteres">
        <li>{{ ex_mystere("d1", "1. L'agonie de Jésus") }}</li>
        <li>{{ ex_mystere("d2", "2. La flagellation") }}</li>
        <li>{{ ex_mystere("d3", "3. Le couronnement d'épines") }}</li>
        <li>{{ ex_mystere("d4", "4. Le portement de croix") }}</li>
        <li>{{ ex_mystere("d5", "5. La crucifixion") }}</li>
    </ul>
</div>

<div id="m_glorieux" class="priere gauche">
    <ul class="mysteres ">
        <li>{{ ex_mystere("g1", "1. La résurrection de Jésus") }}</li>
        <li>{{ ex_mystere("g2", "2. L'ascension de Jésus") }}</li>
        <li>{{ ex_mystere("g3", "3. La Pentecôte") }}</li>
        <li>{{ ex_mystere("g4", "4. L'Assomption de Marie") }}</li>
        <li>{{ ex_mystere("g5", "5. Le couronnement de Marie") }}</li>
    </ul>
</div>
