<!-- Macro -->

{% macro ex_mystere(id, value) %}
<input type="radio" name="rd_mystere" id="{{ id }}" onclick="resetButtons();" />
<label class="txt_mystere" for="{{ id }}">{{ value }}</label>
{% endmacro %}

<!-- Types -->

<p>
    Mystères

    <select id="sel_types" onchange="majMysteres();">
        <option>joyeux (L, S)</option>
        <option>lumineux (J)</option>
        <option>douloureux (Ma, V)</option>
        <option>glorieux (Me, D)</option>
    </select>
</p>

<!-- Options -->

<div class="priere gauche">
    <ul>
        <li>{{ ex_mystere("m1", "1. L'annonciation") }}</li>
        <li>{{ ex_mystere("m2", "2. La visitation") }}</li>
        <li>{{ ex_mystere("m3", "3. La nativité") }}</li>
        <li>{{ ex_mystere("m4", "4. La présentation de Jésus au temple") }}</li>
        <li>{{ ex_mystere("m5", "5. Le recouvrement de Jésus au temple") }}</li>
    </ul>
</div>
