<p><b>joyeux</b> (L, J, S) - <b>douloureux</b> (Ma, V) - <b>glorieux</b> (Me, D)</p>

<p>
    <select id="sel_type" onchange="majMysteres();">
        <option>joyeux</option>
        <option>douloureux</option>
        <option>glorieux</option>
    </select>

    <select id="sel_mysteres" onchange="checkFirst();">
        <option>1. L'annonciation à Joseph</option>
        <option>2. La naissance de Jésus</option>
        <option>3. La circoncision et l'attribution du nom de Jésus</option>
        <option>4. La présentation de Jésus au temple</option>
        <option>5. Le recouvrement de Jésus au temple</option>
    </select>
</p>
