{{ mc.anchor("dz_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("dz_ames") }}

<p>
Père Éternel, je vous offre le très précieux Sang de votre Divin Fils, Jésus,<br>
en union avec les saintes messes célébrées aujourd’hui à travers le monde,<br>
pour toutes les âmes du purgatoire,<br>
pour les pécheurs dans l’Église Universelle,<br>
les pécheurs en tout lieu,<br>
ceux de mon entourage et de ma propre famille. Amen.
</p>

{{ mc.grains("dz_grains", range(0, 11)) }}

{{ mc.anchor("dz_coeurs") }}

<p>
<b>Cœur Sacré de Jésus</b>, ouvrez les cœurs et les esprits des pêcheurs<br>
à la vérité et à la lumière de Dieu, le Père.<br>
<b>Cœur Immaculé de Marie</b>, priez pour la conversion des pêcheurs et du monde.
</p>

{{ mc.anchor("dz_gloria") }}

{% include bpath + "gloire-pere.jinja" %}