<p class="gauche">
Dieu, notre refuge et notre force,<br>
regarde favorablement ton peuple qui crie vers toi et,<br>
par l’intercession de la glorieuse et immaculée Vierge Marie, Mère de Dieu,<br>
de saint Joseph, son bienheureux époux,<br>
des bienheureux apôtres Pierre et Paul et de tous les saints,<br>
écoute avec miséricorde et bienveillance,<br>
les prières que nous t’adressons pour la conversion des pécheurs,<br>
et pour la liberté et l’exaltation de notre Mère, la sainte Église.<br>

Par le Christ, notre Seigneur. Amen. 
</p>

{{ mc.anchor("final2") }}
 
<p class="gauche">
Ô très Précieux Sang de Jésus Christ,<br>
nous Vous louons, nous Vous bénissons, nous Vous adorons<br>
parce que Vous avez amené l’Alliance Nouvelle et Eternelle,<br>
source de paix pour l’humanité.<br>

Cicatrisez les plaies du Très Saint Coeur de Jésus.<br>

Consolez le Père Tout-Puissant assis sur Son trône<br>
et effacez les péchés du monde entier.<br>

Que tous Vous vénèrent.<br>

Ô Précieux Sang, soyez miséricordieux. Amen. 
</p>
 
{{ mc.anchor("final3") }}
 
<p class="gauche">
Très Saint <b>Coeur de Jésus</b>, ayez pitié de nous.<br>
<b>Coeur Immaculé de Marie</b>, priez pour nous.<br>
<b>Saint Joseph</b>, chaste époux de Marie, priez pour nous.<br>
<b>Saint Pierre</b> et <b>Saint Paul</b>, priez pour nous.<br>
<b>Saint Jean</b> au pied de la Croix, priez pour nous.<br>
<b>Sainte Marie Madeleine</b>, priez pour nous.<br>
Tous les <b>soldats de la prière</b> et <b>intercesseurs au ciel</b>, priez pour nous.<br>
Tous les <b>grands saints</b> de Notre-Seigneur, priez pour nous.<br>
Toute la <b>Milice céleste</b>, priez pour nous.<br>
<b>Légion de Marie</b>, priez pour nous.<br>
</p>