<p>
Je loue le SANG précieux de l’Agneau de Dieu qui guérit les infirmités de mon Corps.<br>
Je loue le SANG précieux de l’Agneau de Dieu qui guérit les infirmités de mon Âme.<br>
Je loue le SANG précieux de l’Agneau de Dieu qui guérit les infirmités de mon Esprit.<br>
<br>
J’adore le SANG de l’Agneau dans sa puissance de PARDON.<br>
J’adore le SANG de l’Agneau dans sa puissance de GUÉRISON.<br>
J’adore le SANG de l’Agneau dans sa puissance de PURIFICATION.<br>
J’adore le SANG de l’Agneau dans sa puissance de RÉNOVATION.<br>
J’adore le SANG de l’Agneau dans sa puissance de PROTECTION.<br>
<br>
Je loue le SANG de Jésus qui couvre tout mon péché et m’en Purifie.<br>
Je loue le SANG de Jésus qui me libère de tout Esclavage.<br>
Je loue le SANG de Jésus qui est plus fort que mon sang Corruptible.<br>
Je loue le SANG de Jésus qui me transforme à son Image.<br>
Je loue le SANG de Jésus qui fait de moi une créature Nouvelle.<br>
<br>
Gloire au SANG de Jésus-Christ qui me libère des puissances du Mal.<br>
Gloire au SANG de Jésus-Christ qui triomphe de mes Ennemis.<br>
Gloire au SANG de Jésus-Christ qui me protège des ruses de Satan.<br>
Gloire au SANG de Jésus-Christ qui me revêt de la robe blanche pour les noces de l’Agneau.<br>
Gloire au SANG de Jésus-Christ qui fait toutes choses nouvelles en Moi.<br>
<br>
Amen ! Alléluia !
</p>