{% include spath + "sg-coeur.jinja" %}

<hr />

<p>{{ mc.checkbox("Notre Père") }}</p>

<p>{{ mc.checkbox("Je vous salue Marie") }}</p>

<p>{{ mc.checkbox("\"Précieux Sang de Jésus-Christ, sauvez-nous et le monde entier.\" (x 12)") }}</p>

<p>{{ mc.checkbox("Gloire au Père") }}</p>

<hr />

{% include spath + "sg-louange.jinja" %}