<p>
"Ô Très Précieux Sang de Jésus-Christ,<br>
cicatrise les plaies du Très Saint Cœur de Jésus."
</p>

{{ mc.anchor("dz_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("dz_priere") }}

<p>"Précieux Sang de Jésus-Christ, sauve-nous et le monde entier." (x 12)</p>

{{ mc.anchor("dz_gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("dz_tabernacle") }}

{% include spath + "sg-tabernacle.jinja" %}