{% include spath + "sg-coeur.jinja" %}

<hr />

{{ mc.checkbox("Notre Père") }}

{{ mc.checkbox("Je vous salue Marie") }}

{{ mc.checkbox("\"Précieux Sang de Jésus-Christ, sauvez-nous et le monde entier.\" (x 12)") }}

{{ mc.checkbox("Gloire au Père") }}

<hr />

{% include spath + "sg-louange.jinja" %}