<p class="gauche">
Dieu, notre refuge et notre force,<br>
regarde favorablement ton peuple qui crie vers toi<br>
et, par l'intercession de la glorieuse et immaculée<br>
Vierge Marie, Mère de Dieu,<br>
de saint Joseph son bienheureux époux,<br>
des bienheureux apôtres Pierre et Paul<br>
et de tous les saints,<br>
écoute avec miséricorde et bienveillance,<br>
les prières que nous t'adressons<br>
pour la conversion des pécheurs,<br>
et pour la liberté et l'exaltation de notre Mère,<br>
la sainte Église.<br>
Par le Christ, notre Seigneur. Amen.
</p>

{{ mc.anchor("final2") }}

<p class="gauche">
Ô très Précieux Sang de Jésus Christ,<br>
nous Vous louons, nous Vous bénissons, nous Vous adorons<br>
parce que Vous avez amené l'Alliance Nouvelle et Eternelle,<br>
source de paix pour l'humanité.<br>
Cicatrisez les plaies du Très Saint Coeur de Jésus.<br>
Consolez le Père Tout-Puissant assis sur Son trône<br>
et effacez les péchés du monde entier.<br>
Que tous Vous vénèrent.<br>
Ô Précieux Sang, soyez miséricordieux. Amen. 
</p>