<p class="gauche">
Ô Très Précieux Sang de Jésus-Christ,<br>
nous t’honorons, nous t’adorons et nous te bénissons.<br>
Guéris les blessures de nos âmes et lave les péchés du monde entier.<br>
Ô Précieux Sang, prends pitié de nous et du monde entier. Amen.
</p>

{{ mc.anchor("litanies") }}

<p class="gauche">
<b>Cœur Sacré de Jésus</b>, j’ai confiance en Toi.<br>
<b>Cœur Immaculé de Marie</b>, prie pour nous.<br>
<b>Saint Joseph</b>, prie pour nous.<br>
<b>Saint Pierre</b> et <b>Saint Paul</b>, priez pour nous.<br>
<b>Saint Jean</b> au pied de la Croix, prie pour nous.<br>
<b>Sainte Marie-Madeleine</b>, prie pour nous.<br>
Tous les <b>Saints</b> et les <b>Anges</b> du Ciel, priez pour nous.
</p>
