{% include spath + "sg-chant.jinja" %}

{{ mc.anchor("st_esprit") }}

{% include spath + "sg-esprit-saint.jinja" %}

{{ mc.anchor("credo") }}

<p>{{ mc.checkbox("Credo") }}</p>

{% include spath + "sg-louange.jinja" %}

{% include spath + "sg-coeur.jinja" %}

{{ mc.anchor("b_prieres") }}

<p>{{ mc.checkbox("Notre Père") }}</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains(["-", "foi", "espérance", "charité"], "base_trio") }}

<p>{{ mc.checkbox("Gloire au Père") }}</p>

{{ mc.anchor("b_louanges") }}

{% include spath + "sg-louange.jinja" %}