
{% include mpath + "1-main-droite.jinja" %}

{% include mpath + "2-main-gauche.jinja" %}

{% include mpath + "3-pied-droit.jinja" %}

{% include mpath + "4-pied-gauche.jinja" %}

{% include mpath + "5-cote-sacre.jinja" %}

{% include spath + "sg-coeur.jinja" %}