{% include spath + "sg-chant.jinja" %}

{{ mc.anchor("st_esprit") }}

{% include spath + "sg-esprit-saint.jinja" %}

{{ mc.anchor("credo") }}

{{ mc.checkbox("Credo") }}

{% include spath + "sg-louange.jinja" %}

{% include spath + "sg-coeur.jinja" %}

{{ mc.anchor("b_prieres") }}

{{ mc.checkbox("Notre Père") }}

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("vertus", "ste_marie_vertus") }}

{{ mc.checkbox("Gloire au Père") }}

{{ mc.anchor("b_louanges") }}

{% include spath + "sg-louange.jinja" %}