<p class="intro">
Par la précieuse plaie de ta <b>main droite</b><br>
et la douleur causée par le clou qui l'a transpercée,<br>
puisse le Précieux Sang qui s'en écoule<br>
sauver les pécheurs du monde entier<br>
et convertir beaucoup d'âmes. Amen.
</p>

<p class="intro">
Par la précieuse plaie de ta <b>main gauche</b><br>
et la douleur causée par le clou qui l'a transpercée,<br>
puisse le Précieux Sang qui s'en écoule<br>
sauver les âmes du purgatoire et protéger les mourants<br>
contre les attaques des esprits de l'enfer. Amen.
</p>

<p class="intro">
Par la précieuse plaie de ton <b>pied droit</b><br>
et la douleur causée par le clou qui l'a transpercé,<br>
puisse le Précieux Sang qui s'en écoule<br>
protéger le fondement de l'église catholique<br>
contre les plans du royaume occulte et des hommes mauvais. Amen.
</p>

<p class="intro">
Par la précieuse plaie de ton <b>pied gauche</b><br>
et la douleur causée par le clou qui l'a transpercé,<br>
puisse le Précieux Sang qui s'en écoule<br>
nous protéger en tout lieu contre les plans et les attaques<br>
des mauvais esprits et de leurs agents. Amen.
</p>

<p class="intro">
Par la précieuse plaie de ton <b>côté Sacré</b><br>
et la douleur causée par la lance qui l'a percé,<br>
puisse le Précieux Sang et l'Eau qui s'en écoulent<br>
guérir les malades, ressusciter les morts, régler nos problèmes actuels<br>
et nous enseigner la Voie qui mène à Dieu pour Sa gloire éternelle. Amen. 
</p>
