{{ mc.checkbox("Salut ô Reine") }}

<p>
V. Priez pour nous, sainte Mère de Dieu,<br>
R. afin que nous devenions dignes des promesses de Jésus Christ. 
</p>

{{ mc.anchor("oraisons") }}

{% include spath + "sg-oraisons.jinja" %}

{{ mc.anchor("litanies") }}

{% include spath + "sg-litanies.jinja" %}