<p>
    <select id="sel_mysteres" onchange="setIntro();">
        <option>1. La main droite</option>
        <option>2. La main gauche</option>
        <option>3. Le pied droit</option>
        <option>4. Le pied gauche</option>
        <option>5. Le côté sacré</option>
    </select>
</p>

{% include spath + "sg-intros.jinja" %}