<ul class="priere gauche">
	<li>Très Saint <b>Coeur de Jésus</b>, ayez pitié de nous.
	<li><b>Coeur Immaculé de Marie</b>, priez pour nous.</li>
	<li><b>Saint Joseph</b>, chaste époux de Marie, priez pour nous.</li>
	<li><b>Saint Pierre</b> et <b>Saint Paul</b>, priez pour nous.</li>
	<li><b>Saint Jean</b> au pied de la Croix, priez pour nous.</li>
	<li><b>Sainte Marie Madeleine</b>, priez pour nous.</li>
	<li>Tous les <b>soldats de la prière</b> et <b>intercesseurs au ciel</b>, priez pour nous.</li>
	<li>Tous les <b>grands saints</b> de Notre-Seigneur, priez pour nous.</li>
	<li>Toute la <b>Milice Céleste</b>, priez pour nous.</li>
	<li><b>Légion de Marie</b>, priez pour nous.</li>
</ul>