<p class="priere intro" id="m_resurrection">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de ta triomphante ressurection,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère, une vive foi.
</p>

<p class="priere intro" id="m_ascension">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de ta glorieuse ascension,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une ferme espérance et un grand désir du paradis.
</p>

<p class="priere intro" id="m_pentecote">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur du mystère de la Pentecôte,<br>
et je te demande, par ce mystère et l'intercession de Marie,<br>
la divine sagesse pour connaître, goûter et pratiquer la vérité 
et la faire participer à tout le monde.
</p>

<p class="priere intro" id="m_assomption">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de l'Immaculée Conception<br>
et de l'Assomption en corps et en âme de ta sainte mère dans les cieux,<br>
et je te demande, par ces deux mystères et son intercession,<br>
une vraie dévotion envers elle pour bien vivre et bien mourir.
</p>

<p class="priere intro" id="m_couronnement_marie">
Je t'offre, Seigneur Jésus, par les 20 mystères de ta vie, ta mort et ta passion, <br>
ta gloire et les mérites de ta sainte mère, de convertir les pécheurs, <br>
d'aider les agonisants, de délivrer les âmes du purgatoire, <br>
de nous donner à tous ta grâce pour bien vivre et mourir,<br>
et ta gloire pour te voir face à face et t'aimer pour l'éternité.
</p>