<ul class="priere">
    <li class="gras">Concede nos famulos tuos, quaesumus, Domine Deus,</li>
    <li>Seigneur, daignez nous accorder, à nous vos serviteurs,</li>

    {{ mc.list_separator() }}

    <li class="gras">perpetua mentis et corporis sanitate gaudere,</li>
    <li>de jouir toujours de la santé de l’âme et du corps,</li>

    {{ mc.list_separator() }}

    <li class="gras">et gloriosa beatae Mariae semper Virginis intercessione,</li>
    <li>et par la glorieuse intercession de la bienheureuse Marie toujours vierge,</li>

    {{ mc.list_separator() }}

    <li class="gras">a praesenti liberari tristitia,</li>
    <li>délivrez-nous des tristesses de la vie présente,</li>

    {{ mc.list_separator() }}

    <li class="gras">et aeterna perfrui laetitia.</li>
    <li>et donnez-nous d’avoir part aux joies éternelles.</li>

    {{ mc.list_separator() }}

    <li class="gras">Per Christum Dominum nostrum.</li>
    <li>Par Jésus-Christ, notre Seigneur.</li>
    
    {{ mc.list_separator() }}

    <li class="gras">Amen.</li>
</ul>