<p class="gauche">
<b>V. Ora pro nobis, Sancta Dei Genitrix.</b><br>
Sainte Mère de Dieu, priez pour nous.<br>

<b>R. Ut digni efficiamur promissionibus Christi.</b><br>
Afin que nous devenions dignes des promesses de Jésus-Christ.
</p>