<p class="gauche">
    <b>Seigneur</b>, aie pitié de nous. (x 2)<br>
    <b>Jésus-Christ</b>, aie pitié de nous. (x 2)<br>
    <b>Jésus-Christ</b>, écoute-nous. (x 2)<br>
    <b>Jésus-Christ</b>, exauce-nous. (x 2)<br>
    <b>Père Céleste</b>, qui es Dieu, aie pitié de nous.<br>
    <b>Fils Rédempteur du monde</b>, qui es Dieu, aie pitié de nous.<br>
    <b>Esprit-Saint</b>, qui es Dieu, aie pitié de nous.<br>
    <b>Trinité Sainte</b>, qui es un seul Dieu, aie pitié de nous.
</p>
