<ul class="priere gauche">
    <li>{{ mc.list_anchor("sainte", "Sainte Marie") }}, priez pour nous.</li>
    <li><b>Sainte Mère de Dieu</b>, ...</li>
    <li><b>Sainte Vierge des vierges</b>, ...</li>

    <li class="separation"></li>

    <li>{{ mc.list_anchor("mere", "Mère du Christ") }}, priez pour nous.</li>
    <li><b>Mère de l'Eglise</b>, ...</li>
    <li><b>Mère de la divine grâce</b>, ...</li>
    <li><b>Mère très pure</b>, ...</li>
    <li><b>Mère très chaste</b>, ...</li>
    <li><b>Mère sans tache</b>, ...</li>
    <li><b>Mère sans corruption</b>, ...</li>
    <li><b>Mère aimable</b>, ...</li>
    <li><b>Mère admirable</b>, ...</li>
    <li><b>Mère du bon conseil</b>, ...</li>
    <li><b>Mère du Créateur</b>, ...</li>
    <li><b>Mère du Sauveur</b>, ...</li>

    <li class="separation"></li>

    <li>{{ mc.list_anchor("vierge", "Vierge très prudente") }}, priez pour nous.</li>
    <li><b>Vierge vénérable</b>, ...</li>
    <li><b>Vierge digne de louanges</b>, ...</li>
    <li><b>Vierge puissante</b>, ...</li>
    <li><b>Vierge clémente</b>, ...</li>
    <li><b>Vierge fidèle</b>, ...</li>

    <li class="separation"></li>

    <li>{{ mc.list_anchor("noms", "Miroir de justice") }}, priez pour nous.</li>
    <li><b>Siège de la sagesse</b>, ...</li>
    <li><b>Cause de notre joie</b>, ...</li>
    <li><b>Vase spirituel</b>, ...</li>
    <li><b>Vase honorable</b>, ...</li>
    <li><b>Vase insigne de la dévotion</b>, ...</li>
    <li><b>Rose mystique</b>, ...</li>
    <li><b>Tour de David</b>, ...</li>
    <li><b>Tour d'ivoire</b>, ...</li>
    <li><b>Maison d'or</b>, ...</li>
    <li><b>Arche d'alliance</b>, ...</li>
    <li><b>Porte du Ciel</b>, ...</li>
    <li><b>Etoile du matin</b>, ...</li>
    <li><b>Salut des infirmes</b>, ...</li>
    <li><b>Refuge des pécheurs</b>, ...</li>
    <li><b>Consolatrice des affligés</b>, ...</li>
    <li><b>Secours des chrétiens</b>, ...</li>

    <li class="separation"></li>

    <li>{{ mc.list_anchor("reine", "Reine des Anges") }}, priez pour nous.</li>
    <li><b>Reine des Patriarches</b>, ...</li>
    <li><b>Reine des Prophètes</b>, ...</li>
    <li><b>Reine des Apôtres</b>, ...</li>
    <li><b>Reine des Martyrs</b>, ...</li>
    <li><b>Reine des Confesseurs</b>, ...</li>
    <li><b>Reine des Vierges</b>, ...</li>
    <li><b>Reine de tous les Saints</b>, ...</li>
    <li><b>Reine conçue sans le péché originel</b>, ...</li>
    <li><b>Reine élevée au ciel</b>, ...</li>
    <li><b>Reine du Saint Rosaire</b>, ...</li>
    <li><b>Reine des familles</b>, ...</li>
    <li><b>Reine de la paix</b>, ...</li>
</ul>