<ul class="priere gauche">
    <li><b>Agnus Dei, qui tollis peccata mundi</b>, parce nobis, Domine.</li>
    <li><b>Agneau de Dieu, qui efface les péchés du monde</b>, pardonne-nous, Seigneur.</li>

    {{ mc.list_separator() }}

    <li><b>Agnus Dei, qui tollis peccata mundi</b>, exaudi nos, Domine.</li>
    <li><b>Agneau de Dieu, qui efface les péchés du monde</b>, exauce-nous, Seigneur.</li>

    {{ mc.list_separator() }}

    <li><b>Agnus Dei, qui tollis peccata mundi</b>, miserere nobis.</li>
    <li><b>Agneau de Dieu, qui efface les péchés du monde</b>, aie pitié de nous.</li>
</ul>