<p class="gauche">
Seigneur, daignez nous accorder, à nous vos serviteurs,<br>
de jouir toujours de la santé de l’âme et du corps,<br>
et par la glorieuse intercession de la bienheureuse Marie toujours vierge,<br>
délivrez-nous des tristesses de la vie présente,<br>
et donnez-nous d’avoir part aux joies éternelles.<br>
Par Jésus-Christ, notre Seigneur. Amen.
</p>