<h2>Litanies de Lorette</h2>

{% include lpath + "lit-intro.jinja" %}

{{ mc.anchor("louanges") }}

<ul class="priere gauche">
{% for louange in data %}
    {% set loop_id = "litanies" + loop.index | string %}

    <li>{{ mc.list_anchor(loop_id, louange) }}, prie pour nous.</li>
{% endfor %}
</ul>

{{ mc.anchor("agneau_dieu") }}

{% include lpath + "lit-agneau-dieu.jinja" %}
 
{{ mc.anchor("dialogue") }}

{% include lpath + "lit-dialogue.jinja" %}

{{ mc.anchor("priere_finale") }}

{% include lpath + "lit-fin.jinja" %}
