<p class="gauche">
    <b>Agnus Dei, qui tollis peccata mundi, parce nobis, Domine.</b><br>
    Agneau de Dieu, qui efface les péchés du monde, pardonne-nous, Seigneur.<br>

    <b>Agnus Dei, qui tollis peccata mundi, exaudi nos, Domine.</b><br>
    Agneau de Dieu, qui efface les péchés du monde, exauce-nous, Seigneur.<br>

    <b>Agnus Dei, qui tollis peccata mundi, miserere nobis.</b><br>
    Agneau de Dieu, qui efface les péchés du monde, aie pitié de nous.
</p>
