<p class="gauche">
    <b>Concede nos famulos tuos, quaesumus, Domine Deus,</b><br>
    Seigneur, daignez nous accorder, à nous vos serviteurs,<br>

    <b>perpetua mentis et corporis sanitate gaudere</b><br>
    de jouir toujours de la santé de l’âme et du corps,<br>

    <b>et gloriosa beatae Mariae semper Virginis intercessione</b><br>
    et par la glorieuse intercession de la bienheureuse Marie toujours vierge,<br>

    <b>a praesenti liberari tristitia,</b><br>
    délivrez-nous des tristesses de la vie présente,<br>

    <b>et aeterna perfrui laetitia.</b><br>
    et donnez-nous d’avoir part aux joies éternelles.<br>

    <b>Per Christum Dominum nostrum. Amen.</b><br>
    Par Jésus-Christ, notre Seigneur. Amen.
</p>