<p class="gauche">
Agneau de Dieu, qui efface les péchés du monde, <b>pardonne-nous</b>, Seigneur.<br>
Agneau de Dieu, qui efface les péchés du monde, <b>exauce-nous</b>, Seigneur.<br>
Agneau de Dieu, qui efface les péchés du monde, <b>aie pitié de nous.</b>
</p>
