<p class="gauche">
    <b>Kyrie eleison.</b> (x 2)<br>
    Seigneur, aie pitié de nous. (x 2)<br>

    <b>Christe eleison.</b> (x 2)<br>
    Jésus-Christ, aie pitié de nous. (x 2)<br>

    <b>Christe, audi nos.</b> (x 2)<br>
    Jésus-Christ, écoute-nous. (x 2)<br>

    <b>Christe, exaudi nos.</b> (x 2)<br>
    Jésus-Christ, exauce-nous. (x 2)<br>

    <b>Pater de caelis, Deus, miserere nobis.</b><br>
    Père céleste, qui es Dieu, aie pitié de nous.<br>

    <b>Fili, Redemptor mundi, Deus, miserere nobis.</b><br>
    Fils Rédempteur du monde, qui es Dieu, aie pitié de nous.<br>

    <b>Spiritus Sancte, Deus, miserere nobis.</b><br>
    Esprit-Saint, qui es Dieu, aie pitié de nous.<br>

    <b>Sancta Trinitas, unus Deus, miserere nobis.</b><br>
    Trinité Sainte, qui es un seul Dieu, aie pitié de nous.<br>
</p>
