<ul class="priere gauche">
    <li><b>Seigneur</b>, aie pitié de nous. (x 2)</li>
    <li><b>Jésus-Christ</b>, aie pitié de nous. (x 2)</li>
    <li><b>Jésus-Christ</b>, écoute-nous. (x 2)</li>
    <li><b>Jésus-Christ</b>, exauce-nous. (x 2)</li>
    <li><b>Père céleste</b>, qui es Dieu, aie pitié de nous.</li>
    <li><b>Fils Rédempteur du monde</b>, qui es Dieu, aie pitié de nous.</li>
    <li><b>Esprit-Saint</b>, qui es Dieu, aie pitié de nous.</li>
    <li><b>Trinité Sainte</b>, qui es un seul Dieu, aie pitié de nous.</li>
</ul>
