<ul class="priere">
    <li class="gras">Ora pro nobis, Sancta Dei Genitrix.</li>
    <li>Sainte Mère de Dieu, priez pour nous.</li>

    {{ mc.list_separator() }}

    <li class="gras">Ut digni efficiamur promissionibus Christi.</li>
    <li>Afin que nous devenions dignes des promesses de Jésus-Christ.</li>
</ul>