<p class="gauche">
{{ mc.list_anchor("s1", "Sainte Marie") }}, prie pour nous.<br>
{{ mc.list_anchor("s2", "Sainte Mère de Dieu") }}, prie pour nous.<br>
{{ mc.list_anchor("s3", "Sainte Vierge des vierges") }}, prie pour nous.<br>
<br>
{{ mc.list_anchor("m1", "Mère du Christ") }}, prie pour nous.<br>
{{ mc.list_anchor("m2", "Mère de l'Eglise") }}, prie pour nous.<br>
{{ mc.list_anchor("m3", "Mère de la divine grâce") }}, prie pour nous.<br>
{{ mc.list_anchor("m4", "Mère très pure") }}, prie pour nous.<br>
{{ mc.list_anchor("m5", "Mère très chaste") }}, prie pour nous.<br>
{{ mc.list_anchor("m6", "Mère toujours vierge") }}, prie pour nous.<br>
{{ mc.list_anchor("m7", "Mère sans tache") }}, prie pour nous.<br>
{{ mc.list_anchor("m8", "Mère aimable") }}, prie pour nous.<br>
{{ mc.list_anchor("m9", "Mère admirable") }}, prie pour nous.<br>
{{ mc.list_anchor("m10", "Mère du bon conseil") }}, prie pour nous.<br>
{{ mc.list_anchor("m11", "Mère du Créateur") }}, prie pour nous.<br>
{{ mc.list_anchor("m12", "Mère du Sauveur") }}, prie pour nous.<br>
<br>
{{ mc.list_anchor("v1", "Vierge très prudente") }}, prie pour nous.<br>
{{ mc.list_anchor("v2", "Vierge vénérable") }}, prie pour nous.<br>
{{ mc.list_anchor("v3", "Vierge digne de louanges") }}, prie pour nous.<br>
{{ mc.list_anchor("v4", "Vierge puissante") }}, prie pour nous.<br>
{{ mc.list_anchor("v5", "Vierge clémente") }}, prie pour nous.<br>
{{ mc.list_anchor("v6", "Vierge fidèle") }}, prie pour nous.<br>
<br>
{{ mc.list_anchor("n1", "Miroir de justice") }}, prie pour nous.<br>
{{ mc.list_anchor("n2", "Siège de la sagesse") }}, prie pour nous.<br>
{{ mc.list_anchor("n3", "Cause de notre joie") }}, prie pour nous.<br>
{{ mc.list_anchor("n4", "Vase spirituel") }}, prie pour nous.<br>
{{ mc.list_anchor("n5", "Vase honorable") }}, prie pour nous.<br>
{{ mc.list_anchor("n6", "Vase insigne de la dévotion") }}, prie pour nous.<br>
{{ mc.list_anchor("n7", "Rose mystique") }}, prie pour nous.<br>
{{ mc.list_anchor("n8", "Tour de David") }}, prie pour nous.<br>
{{ mc.list_anchor("n9", "Tour d'ivoire") }}, prie pour nous.<br>
{{ mc.list_anchor("n10", "Maison d'or") }}, prie pour nous.<br>
{{ mc.list_anchor("n11", "Arche d'alliance") }}, prie pour nous.<br>
{{ mc.list_anchor("n12", "Porte du Ciel") }}, prie pour nous.<br>
{{ mc.list_anchor("n13", "Etoile du matin") }}, prie pour nous.<br>
{{ mc.list_anchor("n14", "Salut des infirmes") }}, prie pour nous.<br>
{{ mc.list_anchor("n15", "Refuge des pécheurs") }}, prie pour nous.<br>
{{ mc.list_anchor("n16", "Consolatrice des affligés") }}, prie pour nous.<br>
{{ mc.list_anchor("n17", "Secours des chrétiens") }}, prie pour nous.<br>
<br>
{{ mc.list_anchor("r1", "Reine des anges") }}, prie pour nous.<br>
{{ mc.list_anchor("r2", "Reine des patriarches") }}, prie pour nous.<br>
{{ mc.list_anchor("r3", "Reine des prophètes") }}, prie pour nous.<br>
{{ mc.list_anchor("r4", "Reine des apôtres") }}, prie pour nous.<br>
{{ mc.list_anchor("r5", "Reine des martyrs") }}, prie pour nous.<br>
{{ mc.list_anchor("r6", "Reine des confesseurs") }}, prie pour nous.<br>
{{ mc.list_anchor("r7", "Reine des vierges") }}, prie pour nous.<br>
{{ mc.list_anchor("r8", "Reine de tous les saints") }}, prie pour nous.<br>
{{ mc.list_anchor("r9", "Reine conçue sans le péché originel") }}, prie pour nous.<br>
{{ mc.list_anchor("r10", "Reine élevée au ciel") }}, prie pour nous.<br>
{{ mc.list_anchor("r11", "Reine du très saint Rosaire") }}, prie pour nous.<br>
{{ mc.list_anchor("r12", "Reine des familles") }}, prie pour nous.<br>
{{ mc.list_anchor("r13", "Reine de la paix") }}, prie pour nous.
</p>
