<p class="gauche">
{{ mc.louange("s1", "Sancta Maria", "Sainte Marie") }}
{{ mc.louange("s2", "Sancta Dei Genitrix", "Sainte Mère de Dieu") }}
{{ mc.louange("s3", "Sancta Virgo Virginum", "Sainte Vierge des vierges") }}
<br>
{{ mc.louange("m1", "Mater Christi", "Mère du Christ") }}
{{ mc.louange("m2", "Mater Ecclesiæ", "Mère de l'Eglise") }}
{{ mc.louange("m3", "Mater divinae gratiae", "Mère de la divine grâce") }}
{{ mc.louange("m4", "Mater purissima", "Mère très pure") }}
{{ mc.louange("m5", "Mater castissima", "Mère très chaste") }}
{{ mc.louange("m6", "Mater inviolata", "Mère sans tache") }}
{{ mc.louange("m7", "Mater intemerata", "Mère sans corruption") }}
{{ mc.louange("m8", "Mater amabilis", "Mère aimable") }}
{{ mc.louange("m9", "Mater admirabilis", "Mère admirable") }}
{{ mc.louange("m10", "Mater boni consilii", "Mère du bon conseil") }}
{{ mc.louange("m11", "Mater Creatoris", "Mère du Créateur") }}
{{ mc.louange("m12", "Mater Salvatoris", "Mère du Sauveur") }}
<br>
{{ mc.louange("v1", "Virgo prudentissima", "Vierge très prudente") }}
{{ mc.louange("v2", "Virgo veneranda", "Vierge vénérable") }}
{{ mc.louange("v3", "Virgo praedicanda", "Vierge digne de louanges") }}
{{ mc.louange("v4", "Virgo potens", "Vierge puissante") }}
{{ mc.louange("v5", "Virgo clemens", "Vierge clémente") }}
{{ mc.louange("v6", "Virgo fidelis", "Vierge fidèle") }}
<br>
{{ mc.louange("n1", "Speculum justitiae", "Miroir de justice") }}
{{ mc.louange("n2", "Sedes sapientiae", "Siège de la sagesse") }}
{{ mc.louange("n3", "Causa nostrae laetitiae", "Cause de notre joie") }}
{{ mc.louange("n4", "Vas spirituale", "Vase spirituel") }}
{{ mc.louange("n5", "Vas honorabile", "Vase honorable") }}
{{ mc.louange("n6", "Vas insigne devotionis", "Vase insigne de la dévotion") }}
{{ mc.louange("n7", "Rosa mystica", "Rose mystique") }}
{{ mc.louange("n8", "Turris Davidica", "Tour de David") }}
{{ mc.louange("n9", "Turris eburnea", "Tour d'ivoire") }}
{{ mc.louange("n10", "Domus aurea", "Maison d'or") }}
{{ mc.louange("n11", "Foederis arca", "Arche d'alliance") }}
{{ mc.louange("n12", "Janua caeli", "Porte du Ciel") }}
{{ mc.louange("n13", "Stella matutina", "Etoile du matin") }}
{{ mc.louange("n14", "Salus infirmorum", "Salut des infirmes") }}
{{ mc.louange("n15", "Refugium peccatorum", "Refuge des pécheurs") }}
{{ mc.louange("n16", "Consolatrix afflictorum", "Consolatrice des affligés") }}
{{ mc.louange("n17", "Auxilium christianorum", "Secours des chrétiens") }}
<br>
{{ mc.louange("r1", "Regina Angelorum", "Reine des Anges") }}
{{ mc.louange("r2", "Regina Patriarcharum", "Reine des Patriarches") }}
{{ mc.louange("r3", "Regina Prophetarum", "Reine des Prophètes") }}
{{ mc.louange("r4", "Regina Apostolorum", "Reine des Apôtres") }}
{{ mc.louange("r5", "Regina Martyrum", "Reine des Martyrs") }}
{{ mc.louange("r6", "Regina Confessorum", "Reine des Confesseurs") }}
{{ mc.louange("r7", "Regina Virginum", "Reine des Vierges") }}
{{ mc.louange("r8", "Regina Sanctorum omnium", "Reine de tous les Saints") }}
{{ mc.louange("r9", "Regina sine labe originali concepta", "Reine conçue sans le péché originel") }}
{{ mc.louange("r10", "Regina in cælum assumpta", "Reine élevée au ciel") }}
{{ mc.louange("r11", "Regina Sacratissimi Rosarii", "Reine du Saint Rosaire") }}
{{ mc.louange("r12", "Regina familiae", "Reine des familles") }}
{{ mc.louange("r13", "Regina pacis", "Reine de la paix") }}
</p>
