<p class="gauche">
{{ mc.list_anchor("d1", "Seigneur") }}, prends pitié de nos frères défunts,<br>spécialement de ceux qui ont le plus besoin de ta miséricorde.<br>
{{ mc.list_anchor("d2", "Jésus-Christ") }}, prends pitié de nos frères défunts,<br>spécialement de ceux qui ont le plus besoin de ta miséricorde.
</p>

{{ mc.anchor("ml_louanges") }}

<p class="gauche">
Marie, {{ mc.list_anchor("s1", "Fille du Père éternel") }}, secours nos frères défunts.<br>
Marie, {{ mc.list_anchor("s2", "Mère du Sauveur des hommes") }}, ...<br>
Marie, {{ mc.list_anchor("s3", "Temple du Saint-Esprit") }}, ...<br>
Marie, {{ mc.list_anchor("s4", "choisie par Dieu de toute éternité") }}, ...<br>
Marie, {{ mc.list_anchor("s5", "chantée par les prophètes") }}, ...<br>
<br>
Marie, {{ mc.list_anchor("s6", "aurore du soleil de justice") }}, ...<br>
Marie, {{ mc.list_anchor("s7", "née sans le péché originel") }}, ...<br>
Marie, {{ mc.list_anchor("s8", "dont le corps n'a pas connu la corruption du tombeau") }}, ...<br>
Marie, {{ mc.list_anchor("s9", "Mère de l'Église") }}, ...<br>
Marie, {{ mc.list_anchor("s10", "que Jésus a revêtue de sa gloire") }}, ...<br>
<br>
Marie, {{ mc.list_anchor("s11", "dont le trône est près de celui de Jésus") }}, ...<br>
Marie, {{ mc.list_anchor("s12", "Reine des anges") }}, ...<br>
Marie, {{ mc.list_anchor("s13", "Reine de tous les saints") }}, ...<br>
Marie, {{ mc.list_anchor("s14", "Reine du ciel et de la terre") }}, ...<br>
Marie, {{ mc.list_anchor("s15", "terreur des démons") }}, ...<br>
<br>
Marie, {{ mc.list_anchor("s16", "dispensatrice de la grâce divine") }}, ...<br>
Marie, {{ mc.list_anchor("s17", "gage de salut pour ceux qui t'invoquent") }}, ...<br>
Marie, {{ mc.list_anchor("s18", "dont le nom inspire la confiance") }}, ...<br>
Marie, {{ mc.list_anchor("s19", "dont la main bénit toujours") }}, ...<br>
Marie, {{ mc.list_anchor("s20", "image du Coeur de Jésus") }}, ...<br>
<br>
Marie, {{ mc.list_anchor("s21", "modèle de foi et d'humilité") }}, ...<br>
Marie, {{ mc.list_anchor("s22", "modèle de vie intérieure") }}, ...<br>
Marie, {{ mc.list_anchor("s23", "modèle de soumission à la volonté de Dieu") }}, ...<br>
Marie, {{ mc.list_anchor("s24", "modèle de toutes les vertus") }}, ...<br>
Marie, {{ mc.list_anchor("s25", "honneur de l'humanité") }}, ...<br>
<br>
Marie, {{ mc.list_anchor("s26", "que l'on n'implore jamais en vain") }}, ...<br>
Marie, {{ mc.list_anchor("s27", "qui as soustrait l'Enfant Jésus à la fureur d'Hérode") }}, ...<br>
Marie, {{ mc.list_anchor("s28", "qui as partagé les souffrances du Sauveur du monde") }}, ...<br>
<br>
Marie, {{ mc.list_anchor("s29", "qui as suivi Jésus sur le Calvaire") }}, ...<br>
Marie, {{ mc.list_anchor("s30", "qui as offert ton Fils pour notre salut") }}, ...<br>
Marie, {{ mc.list_anchor("s31", "dont le coeur fut transpercé d'un glaive de douleur") }}, ...<br>
</p>

{{ mc.anchor("ml_vertus") }}

<p class="gauche">
{{ mc.list_anchor("v1", "Vierge compatissante") }}, secours nos frères défunts.<br>
{{ mc.list_anchor("v2", "Médiatrice de paix entre Dieu et les hommes") }}, ...<br>
{{ mc.list_anchor("v3", "Notre avocate auprès de Dieu") }}, ...<br>
<br>
{{ mc.list_anchor("v4", "Source de vie") }}, ...<br>
{{ mc.list_anchor("v5", "Asile des orphelins") }}, ...<br>
{{ mc.list_anchor("v6", "Force des faibles") }}, ...<br>
<br>
{{ mc.list_anchor("v7", "Refuge des pécheurs") }}, ...<br>
{{ mc.list_anchor("v8", "Tendresse de Dieu près des mourants") }}, ...<br>
{{ mc.list_anchor("v9", "Espoir des désespérés") }}, ...<br>
<br>
{{ mc.list_anchor("v10", "Porte du Ciel") }}, ...<br>
{{ mc.list_anchor("v11", "Providence des malheureux") }}, ...<br>
{{ mc.list_anchor("v12", "Consolatrice des affligés") }}, ...<br>
</p>

{{ mc.anchor("ml_notre_dame") }}

<p class="gauche">
{{ mc.list_anchor("nd1", "Notre-Dame de Consolation") }}, secours nos frères défunts.<br>
{{ mc.list_anchor("nd2", "Notre-Dame de la Miséricorde") }}, ...<br>
{{ mc.list_anchor("nd3", "Notre-Dame du perpétuel secours") }}, ...<br>
<br>
{{ mc.list_anchor("nd4", "Notre-Dame Libératrice") }}, ...<br>
{{ mc.list_anchor("nd5", "Notre-Dame de l'Espérance") }}, ...<br>
{{ mc.list_anchor("nd6", "Notre-Dame de Montligeon") }}, ...
</p>