/* Base */

body {
    font-family: sans-serif;
    background: rgb(204, 204, 204);
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    position: relative;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@page {
    size: 21cm 29.7cm;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
}

.intitule {
    font-weight: bold;
    color: blue;
}

.infos-lieu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nom-poste {
    font-family: monospace;
    color: blue;
}

.nom-lieu {
    font-weight: bold;
}

/* Badges */

.badge {
    border: 1px solid;
    border-radius: 8px;
    padding: 6px;
}

.badge-niveau {
    background-color: rgba(7, 192, 32, 0.3);
}

.badge-contrat {
    background-color: rgba(167, 179, 7, 0.3);
}

/* Sections */

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#gauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba(7, 7, 192, 0.15);
    padding: 0.7cm;
}

#droite {
    width: 70%;
    padding: 0.7cm;
    font-size: 15px;
}

/* Gauche */

#gauche {
    text-align: center;
    font-size: 15px;
}

/** Photo **/

#photo img {
    border-radius: 10px;
}

/** Informations **/

.liens-externes {
    display: flex;
    justify-content: space-around;
}

/** Compétences **/

#competences ul {
    padding: 0;
    list-style-type: none;
}

#competences ul li:not(:first-child) {
    padding-top: 5px;
}

/** Langues **/

#langues ul {
    padding: 0;
    list-style-type: none;
}

#langues h2 {
    margin-top: 5px;
}

.drapeaux {
    display: flex;
    justify-content: space-between;
}

.drapeaux span:not(:first-child) {
    padding-left: 50px;
}

/** Certifications **/

#certifications ul {
    padding: 0;
    list-style-type: none;
}

/** Loisirs **/

#loisirs ul {
    padding: 0;
    list-style-type: none;
}

#loisirs h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.loisirs {
    display: flex;
}

.loisirs:not(:first-child) {
    padding-top: 20px;
}

.loisirs span:not(:first-child) {
    padding-left: 20px;
}

/* Droite */

/** Bannière **/

header {
    text-align: center;
}

/** Expérience **/

#experiences {
    padding: 10px;
    border: 2px dashed;
    border-radius: 5px;
}

#experiences ul {
    padding: 0;
    list-style-type: none;
}

/** Formation **/

#formations ul {
    padding: 0;
    list-style-type: none;
}