{% extends "layouts/prieres.jinja" %}

{% set title = "C-St-Antoine" %}

{% set bpath = "prieres/base/" %}
{% set ipath = "prieres/intros/" %}
{% set spath = "prieres/saints/" %}

{% block content %}
<h1>Chapelet de St Antoine</h1>

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("rondes", "=") }}

<p>
    <select id="sel_rondes" onchange="setIntro();">
        {% for nb in range(1, 14) %}
        <option>Ronde n°{{ nb }}</option>
        {% endfor %}
    </select>
</p>

{% include ipath + "intros-st-antoine.jinja" %}

{{ mc.anchor("notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.return_link() }}

{{ mc.anchor("bref_st_antoine", "=") }}

{% include spath + "bref-st-antoine.jinja" %}

{{ mc.anchor("fin_st_antoine", "=") }}

{% include spath + "fin-st-antoine.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}
{{ mc.script("chapelets/saints/ch-st-antoine.js") }}

{% endblock %}