<p>
Je vous salue Joseph,<br>
vous que la grâce divine a comblé,<br>
le Sauveur a reposé dans vos bras et grandi sous vos yeux.<br>
Vous êtes béni entre tous les hommes,<br>
et Jésus, l'enfant divin de votre virginale épouse, est béni.<br>
Saint Joseph, donné pour père au Fils de Dieu,<br>
priez pour nous, dans nos soucis de famille, de santé et de travail,<br>
jusqu’à nos derniers jours,<br>
et daignez nous secourir à l’heure de notre mort.<br>
Amen.
</p>