{% extends "templates/layouts/exercice.jinja" %}

{% set title = "Sonore (Variante)" %}

{% block content %}
<p>Inspirer / Expirer en suivant le rythme de la vidéo</p>

{{ mc.yvideo("yUybki_-7SY?si=8KjIiiRiVoa5TvWN") }}

{% endblock %}