<h2>Credo in Deum</h2>

<ul class="priere">
	<li>Credo in Deum, Patrem omnipotentem,</li>
	<li>Creatorem caeli et terrae,</li>
	<li>et in Iesum Christum, Filium eius unicum, Dominum nostrum,</li>
	<li>qui conceptus est de Spiritu Sancto,</li>
	<li>natus ex Maria Virgine,</li>
	<li>passus sub Pontio Pilato,</li>
	<li>crucifixus, mortuus, et sepultus,</li>
	<li>descendit ad inferos,</li>
	<li>tertia die resurrexit a mortuis,</li>
	<li>ascendit ad caelos,</li>
	<li>sedet ad dexteram Dei Patris omnipotentis,</li>
	<li>inde venturus est iudicare vivos et mortuos.</li>
	<li class="separation"></li>
	<li>Credo in Spiritum Sanctum,</li>
	<li>sanctam Ecclesiam catholicam,</li>
	<li>sanctorum communionem,</li>
	<li>remissionem peccatorum,</li>
	<li>carnis resurrectionem,</li>
	<li>vitam aeternam.</li>
	<li class="separation"></li>
	<li>Amen.</li>
</ul>
