<h2>Oratio Fatimae</h2>

<ul class="priere">
	<li>Domine Iesu,</li>
	<li>dimitte nobis debita nostra,</li>
	<li>salva nos ab igne inferiori,</li>
	<li>perduc in caelum omnes animas,</li>
	<li>praesertim eas, quae misericordiae tuae maxime indigent.</li>
	<li>Amen.</li>
</ul>