<h2>Ave Maria</h2>

<ul class="priere">
	<li>Ave Maria, gratia plena,</li>
	<li>Dominus tecum.</li>
	<li>Benedicta tu in mulieribus,</li>
	<li>et benedictus fructus ventris tui, Jesus.</li>
	<li>Sancta Maria, Mater Dei,</li>
	<li>ora pro nobis, peccatoribus,</li>
	<li>nunc et in ora mortis nostrae.</li>
	<li>Amen.</li>
</ul>