<h2>Salve Regina</h2>

<ul class="priere">
	<li>Salve, Regina, Mater misericordiae,</li>
	<li>vita, dulcedo, et spes nostra. Salve !</li>
	<li>ad te clamamus exsules filii Evae,</li>
	<li>ad te suspiramus, gementes et flentes</li>
	<li>in hac lacrimarum valle.</li>
	<li>Eia, ergo, advocata nostra,</li>
	<li>illos tuos misericordes oculos ad nos converte.</li>
	<li>Et Iesum, benedictum fructum ventris tui,</li>
	<li>nobis post hoc exsilium ostende.</li>
	<li>O clemens, O pia, O dulcis Virgo Maria.</li>
	<li>Amen.</li>
</ul>