<h2>Pater Noster</h2>

<ul class="priere">
	<li>Pater Noster, qui es in caelis,</li>
	<li>sanctificetur nomen tuum,</li>
	<li>adveniat regnum tuum,</li>
	<li>fiat voluntas tua, sicut in caelo et in terra.</li>
	<li>Panem nostrum quotidianum da nobis hodie,</li>
	<li>et dimitte nobis debita nostra,</li>
	<li>sicut et nos dimittimus debitoribus nostris,</li>
	<li>et ne nos inducas in tentationem,</li>
	<li>sed libera nos a malo.</li>
	<li>Amen.</li>
</ul>