{% extends "layouts/prieres.jinja" %}

{% set title = "C-St-Charbel" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/saints/" %}

{% block content %}
<h1>Chapelet de St Charbel</h1>

{% include bpath + "signe-croix.jinja" %}

<hr />

<p>Ô Père de vérité, voici votre Fils, victime pour vous plaire.</p>

<hr />

<div>
    <select id="sel_rondes">
        <option>1. voeu de pauvreté</option>
        <option>2. voeu de chasteté</option>
        <option>3. voeu d'obéissance</option>
        <option>4. messe quotidienne</option>
        <option>5. Sainte Eucharistie</option>
        <option>6. dévotion pour Ste Marie</option>
    </select>
</div>

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("trio_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("trio", "ste_marie_trio") }}

{{ mc.return_link() }}

<hr />

{% include spath + "fin-st-charbel.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{% endblock %}