{% extends "layouts/prieres.jinja" %}

{% set title = "C-St-Esprit" %}

{% set bpath = "prieres/base/" %}
{% set ipath = "prieres/intros/" %}

{% block content %}
<h1>Chapelet des 7 dons du Saint-Esprit</h1>

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("credo", "=") }}

{% include bpath + "credo.jinja" %}

{{ mc.anchor("b_notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("b_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("vertus", "trio_vertus") }}

{{ mc.anchor("b_gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("a_dons", "=") }}

<p>
    <select id="sel_dons" onchange="setSuite();">
        <option>1. la sagesse</option>
        <option>2. le conseil</option>
        <option>3. la force</option>
        <option>4. l'intelligence</option>
        <option>5. la science</option>
        <option>6. la piété</option>
        <option>7. la crainte de Dieu</option>
    </select>
</p>

{% include ipath + "intros-st-esprit.jinja" %}

<p>***</p>

<p class="priere">
Viens, Esprit-Saint,<br>
remplis le coeur de tes fidèles<br>
et allume en eux le feu de ton amour.
</p>

{{ mc.grains("septaine", "serie") }}

{{ mc.anchor("fin_gloire_pere", "=") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("trio", "fin_trio") }}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{{ mc.script("utils.js") }}
{{ mc.script("chapelets/ch-st-esprit.js") }}

{% endblock %}