<section id="competences">
    <h2>Compétences</h2>

    <ul>
        <li class="element-liste">
            <img src="public/icons/competences/css.svg" alt="icône css">
            <span>HTML, (S)CSS</span>
        </li>

        <li class="element-liste">
            <img src="public/icons/competences/js.svg" alt="icône js">
            <span>JS, jQuery, Angular</span>
        </li>
        
        <li class="element-liste">
            <img src="public/icons/competences/php.svg" alt="icône php">
            <span>Symfony, Laravel</span>
        </li>
        
        <li class="element-liste">
            <img src="public/icons/competences/android.svg" alt="icône tête android">
            <span>Dart, Flutter</span>
        </li>

        <li class="element-liste">
            <img src="public/icons/competences/csharp.svg" alt="icône c#">
            <span>C#, ASP.NET</span>
        </li>
        
        <li class="element-liste">
            <img src="public/icons/competences/bdd.svg" alt="icône base de données">
            <span>SQL, MongoDB</span>
        </li>

        <li class="element-liste">
            <img src="public/icons/competences/code.svg" alt="icône balises code">
            <span>COBOL, Mainframe</span>
        </li>
        
        <li class="element-liste">
            <img src="public/icons/competences/console.svg" alt="icône console">
            <span>Linux, Python, Bash</span>
        </li>
        
        <li class="element-liste">
            <img src="public/icons/competences/infini.svg" alt="icône infini devops">
            <span>Git, Docker</span>
        </li>
    </ul>
</section>