<section id="experience">
    <h2>Expérience</h2>

    <div class="exp-pro">
        <p class="element-liste">
            <span class="intitule">Développeur COBOL / Mainframe</span>, <b>CDI</b>
        </p>

        <p class="element-liste">
            <b>Eastelson</b>, Schiltigheim, avril - novembre 2023
        </p>

        <ul>
            <li>- Maintenance évolutive de programmes COBOL pour les livrets d’épargne chez Euro Information (Crédit Mutuel, CIC)</li>
            <li>- Compréhension des outils internes et des besoins du client</li>
            <li>- Initiation au framework C# interne DevBooster</li>
            <li>- Tests unitaires et d'intégration (recette courte et longue)</li>
        </ul>
    </div>

    <hr>

    <div class="exp-pro">
        <p class="element-liste">
            <span class="intitule">Développeur Mobile / Flutter sur Android</span>, <b>Stage</b>
        </p>

        <p class="element-liste">
            <b>Indoor Santé</b>, Strasbourg</span>, juin - juillet 2021</span>
        </p>

        <ul>
            <li>- Développement de l’interface graphique d’une application mobile de séances d'entraînement adaptées</li>
            <li>- Travail en binôme avec un développeur back-end sur Go et MongoDB</li>
        </ul>
    </div>
</section>