<section id="experience">
    <h2>Expérience</h2>

    <div class="exp-pro">
        <p class="element-liste">
            <span class="intitule">Développeur COBOL / Mainframe</span>
            <img src="public/icons/infos/experience.svg" alt="icône mallette">
            <span class="gras">CDI</span>
        </p>

        <p class="element-liste">
            <span class="gras">Eastelson</span>
            <img src="public/icons/infos/localisation.svg" alt="icône localisation">
            <span>Schiltigheim</span>
            <img src="public/icons/experience/calendrier.svg" alt="icône calendrier">
            <span>avril - novembre 2023</span>
        </p>

        <ul>
            <li>- Maintenance évolutive de programmes COBOL pour les livrets d’épargne chez Euro Information (Crédit Mutuel, CIC)</li>
            <li>- Compréhension des outils internes et des besoins du client</li>
            <li>- Tests unitaires et d'intégration</li>
        </ul>
    </div>

    <hr>

    <div class="exp-pro">
        <p class="element-liste">
            <span class="intitule">Développeur Mobile / Flutter sur Android</span>
            <img src="public/icons/infos/experience.svg" alt="icône mallette">
            <span class="gras">Stage</span>
        </p>

        <p class="element-liste">
            <span class="gras">Indoor Santé</span>
            <img src="public/icons/infos/localisation.svg" alt="icône localisation">
            <span>Strasbourg</span>
            <img src="public/icons/experience/calendrier.svg" alt="icône calendrier">
            <span>juin - juillet 2021</span>
        </p>

        <ul>
            <li>- Développement de l’interface graphique d’une application mobile de séances d'entraînement adaptées</li>
            <li>- Travail en binôme avec un développeur back-end sur Go et MongoDB</li>
        </ul>
    </div>
</section>