<section id="formation">
    <h2>Formation</h2>

    <div class="formation">
        <p class="element-liste">
            <span class="intitule">Dyma</span>
            <img src="public/icons/infos/formation.svg" alt="icône chapeau diplôme">
            <span class="gras">Formation en ligne</span>
            <img src="public/icons/experience/calendrier.svg" alt="icône calendrier">
            <span>octobre 2023 - actuel</span>
        </p>

        <ul>
            <li>- Apprentissage autodidacte de Node.js et React</li>
            <li>- Formation complémentaire sur les outils DevOps (Git, Docker)</li>
            <li>- Formation complémentaire sur Python et MongoDB</li>
        </ul>

        <p class="element-liste">
            <span class="intitule">Développeur Grands Systèmes</span>
            <img src="public/icons/infos/formation.svg" alt="icône chapeau diplôme">
            <span class="gras">Diplôme Universitaire</span>
        </p>

        <p class="element-liste">
            <span class="gras">SERFA</span>
            <img src="public/icons/infos/localisation.svg" alt="icône localisation">
            <span>Strasbourg</span>
            <img src="public/icons/experience/calendrier.svg" alt="icône calendrier">
            <span>septembre - décembre 2022</span>
        </p>

        <ul>
            <li>- Programmation avec COBOL sur IDE et zOS</li>
            <li>- Initiation à l'environnement et aux outils Mainframe</li>
        </ul>
    </div>

    <hr>

    <div class="formation">
        <p class="element-liste">
            <span class="intitule">Titre de Concepteur-Développeur</span>
            <img src="public/icons/infos/formation.svg" alt="icône chapeau diplôme">
            <span>Niveau <strong>Bac + 3</strong></span>
        </p>
            
        <p class="element-liste">
            <span class="gras">CCI Campus</span>
            <img src="public/icons/infos/localisation.svg" alt="icône localisation">
            <span>Strasbourg</span>
            <img src="public/icons/experience/calendrier.svg" alt="icône calendrier">
            <span>octobre 2021 - juillet 2022</span>
        </p>
    </div>

    <hr>

    <div class="formation">
        <p class="element-liste">
            <span class="intitule">Titre de Développeur Web et Mobile</span>
            <img src="public/icons/infos/formation.svg" alt="icône chapeau diplôme">
            <span>Niveau <strong>Bac + 2</strong></span>
        </p>
            
        <p class="element-liste">
            <span class="gras">Élan Formation</span>
            <img src="public/icons/infos/localisation.svg" alt="icône localisation">
            <span>Strasbourg</span>
            <img src="public/icons/experience/calendrier.svg" alt="icône calendrier">
            <span>février - septembre 2021</span>
        </p>

        <ul>
            <li>- Développement front-end avec HTML, CSS et JavaScript</li>
            <li>- Développement back-end avec PHP et Symfony</li>
        </ul>
    </div>
</section>