<section id="loisirs">
    <h2>Loisirs</h2>

    <ul>
        <li class="element-liste">
            <img src="public/icons/loisirs/velo.svg" alt="vélo">
            <span>Vélo</span>
        </li>

        <li class="element-liste">
            <img src="public/icons/loisirs/fitness.svg" alt="haltère">
            <span>Fitness</span>
        </li>

        <li class="element-liste">
            <img src="public/icons/loisirs/cuisine.svg" alt="toque">
            <span>Cuisine</span>
        </li>

        <li class="element-liste">
            <img src="public/icons/loisirs/ecriture.svg" alt="crayon et carnet">
            <span>Ecriture</span>
        </li>
    </ul>
</section>