<section id="langues">
    <h2>Langues</h2>

    <ul>
        <li class="element-liste">
            <img src="public/icons/langues/anglais.svg" alt="drapeau anglais" />
            <span>B2</span>
        </li>

        <li class="element-liste">
            <img src="public/icons/langues/allemand.svg" alt="drapeau allemand" />
            <span>A2</span>
        </li>
        
        <li class="element-liste">
            <img src="public/icons/langues/espagnol.svg" alt="drapeau espagnol" />
            <span>A2</span>
        </li>
    </ul>
</section>