<p>
<b>Cœur Sacré de Jésus</b>, ouvre les cœurs et les esprits des pécheurs<br>
à la vérité et à la lumière de Dieu, le Père.<br>
<b>Cœur Immaculé de Marie</b>, priez pour la conversion des pécheurs et du monde.
</p>