{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/sang/" %}

{% set title = "Chapelet de l'abandon" %}

{% block content %}
<p>Ce chapelet est basé sur l'acte d'abandon de <b>Don Dolindo</b>.</p>

{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}

{% include bpath + "signe-croix.jinja" %}

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>
Dieu, viens à mon aide !<br>

Seigneur, à notre secours !<br>

Gloire au Père et au Fils et au Saint-Esprit,<br>
au Dieu qui est, qui était et qui vient,<br>
pour les siècles des siècles.<br>
Amen ! Alléluia !
</p>

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(1,6)) }}

<p>"Seigneur, que soit béni ton nom et que soit faite ta volonté !"</p>

<hr />

<p>"<span id="nom" class="gras">Jésus</span>, c'est à toi d'y penser." (x 10)</p>

{{ mc.anchor("gloria") }}

{% include bpath + "gloire-pere.jinja" %}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.jinja" %}

{{ mc.anchor("pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-abandon.js") }}

{% endblock %}