{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/ames/" %}

{% set title = "Dizaines de libération des âmes" %}

{% block content %}
<p>La prière de <b>Ste Gertrude</b> permet de libérer jusqu'à <b>1000 âmes</b> à chaque récitation.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

{% include spath + "ex-pere-eternel.jinja" %}

{{ mc.anchor("dz_coeurs") }}

{% include spath + "ex-coeurs.jinja" %}

{{ mc.grains("dz_grains", range(0, 11)) }}

{{ mc.return_link("base") }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-ames.js") }}

{% endblock %}