{% extends "layouts/prieres.jinja" %}

{% set cpath = "partials/chapelet/" %}
{% set npath = "partials/prieres/" %}

{% set apath = cpath + "anges/" %}
{% set rpath = cpath + "rosaire/" %}

{% set title = "C-Anges" %}

{% block content %}
<h1>Chapelet de St Michel et des anges</h1>

<p class="priere">
Saint Michel Archange, grand prince des milices célestes,<br>
défendez-nous dans le combat pour que nous ne périssions pas au jour du jugement.<br>
Ô Dieu, venez à mon aide,<br>
Seigneur, hâtez-vous de me secourir.
</p>



<hr />


<hr />


<p><a href="#">Revenir en haut</a></p>

<script src="/public/js/reset.js"></script>
{% endblock %}