{% extends "layouts/prieres.jinja" %}

{% set path = "partials/prieres/" %}

{% set cpath = path + "chapelet/" %}
{% set apath = path + "anges/" %}

{% set title = "C-Anges" %}

{% set choeurs = ["séraphins", "chérubins", "trônes", "dominations", "puissances", "vertus", "principautés", "archanges", "anges"] %}

{% block content %}
<h1>Chapelet de St Michel et des anges</h1>

{% include apath + "an-intro.html" %}

<hr />

{% include apath + "an-choeurs.html" %}

<hr />

{% include apath + "an-fin.html" %}

<script src="/public/js/ch-anges.js"></script>
{% endblock %}