{% extends "layouts/prieres.jinja" %}

{% set path = "partials/prieres/" %}
{% set lpath = path + "liberation/" %}

{% set title = "C-Liberation" %}

{% block content %}
<h1>Chapelet de libération</h1>

{% include path + "signe-croix.html" %}

<hr />

{% include path + "credo.html" %}

{{ mc.anchor("base_fils") }}

{% include lpath + "lib-fils.html" %}

{{ mc.anchor("base_jesus") }}

{% include lpath + "lib-jesus.html" %}

<p>
{% for nb in range(0, 4) %}
<input type="radio" name="n_trio" id="trio_{{ loop.index }}" {% if loop.first %} checked {% endif %} />
<label for="trio_{{ loop.index }}">{{ nb }}</label>
{% endfor %}
</p>

<hr id="rondes" />

<select id="sel_rondes" onchange="updateText();">
    {% for nb in range(1, 6) %}
    <option>Ronde n°{{ nb }}</option>
    {% endfor %}
</select>

{% include lpath + "lib-fils.html" %}

<p>***</p>

<p>Jésus, <span id="clausule" class="gras">aie pitié de</span> __ !</p>

{% include path + "dz-grains.html" %}

<hr />

{% include path + "salut-reine.html" %}

<hr />

{% include path + "signe-croix.html" %}

{{ mc.return_link() }}

<script src="/public/js/ch-liberation.js"></script>
{% endblock %}