{% extends "layouts/prieres.jinja" %}

{% set path = "partials/prieres/" %}

{% set cpath = path + "chapelet/" %}
{% set rpath = path + "rosaire/" %}
{% set mpath = path + "misericorde/" %}

{% set title = "C-Misericorde" %}

{% block content %}
<h1>Chapelet de la Miséricorde Divine</h1>

{% include mpath + "mis-intro.html" %}

<hr />

{% include mpath + "mis-dizaine.html" %}

<hr />

{% include mpath + "mis-fin.html" %}

<p><a href="#" class="bleu">Revenir en haut</a></p>

<script src="/public/js/ch-misericorde.js"></script>
{% endblock %}