{% extends "layouts/prieres.jinja" %}

{% set title = "C-St-Antoine" %}

{% set path = "partials/prieres/" %}

{% block content %}
<h1>Chapelet de St Antoine</h1>

{% include path + "signe-croix.html" %}

<hr />

<div>
    <select id="sel_ronde" onchange="setSuite();">
        {% for nb in range(0, 14) %}
            {% if nb > 0 %}
            <option>Ronde n°{{ nb }}</option>
            {% else %}
            <option>Bref de St Antoine</option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<p class="priere" id="suite">
Voici la croix du Seigneur !<br>
Fuyez, puissances ennemis !<br>
Le lion de la tribu de Juda, le rejeton de David, a vaincu !<br>
Alléluia !
</p>

<p><a href="#notre_pere" id="notre_pere">===</a></p>

{% include path + "notre-pere.html" %}

<p><a href="#ste_marie" id="ste_marie">===</a></p>

{% include path + "ste-marie.html" %}

<p><a href="#gloire_pere" id="gloire_pere">===</a></p>

{% include path + "gloire-pere.html" %}

<p><a href="#" class="bleu">Revenir en haut</a></p>

<hr />

{% include path + "st-antoine.html" %}

<hr />

{% include path + "signe-croix.html" %}

<p><a href="#" class="bleu">Revenir en haut</a></p>

<script src="/public/js/ch-st-antoine.js"></script>
{% endblock %}