{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/special/" %}

{% set title = "Chapelet des âmes" %}

{% set ext_site = "https://boutique.labonnenouvelle.net/chapelets-et-rosaire/" %}
{% set ext_url = ext_site + "1073-chapelet-des-ames-du-purgatoire-9502379583487.html" %}

{% block content %}
<p>Le chapelet est basé sur les {{ mc.link(ext_url, "13 vertus de Notre Dame") }}.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>
{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}
</p>

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("credo") }}

{% include bpath + "credo.jinja" %}

{{ mc.anchor("pater") }}

{% include bpath + "notre-pere.jinja" %}

<hr />

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("base_trio", ["-", "Saints", "St Michel", "Anges gardiens"]) }}

<hr />

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("ex_medaille") }}

{% include spath + "ex-medaille.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{% include spath + "ex-niveaux.jinja" %}

{% include bpath + "ste-marie.jinja" %}

<hr />

<p>
Ô Seigneur, donnez-leur le repos éternel et faites briller sur eux la lumière éternelle.<br>
Que les âmes des fidèles défunts reposent en paix par la miséricorde de Dieu.<br>
Amen.
</p>

{{ mc.grains("nv_trio", range(0, 4)) }}

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-ames.js") }}

{% endblock %}