{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}

{% set title = "Chapelet du salut des âmes" %}

{% block content %}
<p>La récitation du chapelet permet de libérer jusqu'à <b>5000 âmes</b> sur <b>4 générations</b>.</p>

<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} sont listées sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

{% include bpath + "signe-croix.jinja" %}

{% include rpath + "rs-base.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(1, 6)) }}

<p>
Père Eternel, je vous offre le Sacré-Cœur de Jésus et le Cœur Immaculé de Marie<br>
pour le salut de nos âmes, de nos familles et du monde entier.
</p>

<hr />

<p>
Sacré-Cœur de Jésus, aie pitié de nous.<br>
Cœur Immaculé de Marie, priez pour nous.
</p>

{{ mc.grains("dz_grains", range(0, 11)) }}

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("final", "=") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("fin_trio", ["-", "Père", "Fils", "Saint-Esprit"]) }}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-ames.js") }}

{% endblock %}