{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Chapelet de dévotion" %}

{% block content %}
<p>
Ce chapelet de dévotion est dédié à la prière de <b>Sainte Bernard de Clairvaux</b>,<br>
en l'honneur de la <b>plaie inconnue de l'épaule de Jésus</b>.
</p>

<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} sont listées sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

{% include bpath + "signe-croix.jinja" %}

<hr />

{% include spath + "st-bernard.jinja" %}

<!-- Rondes -->

{{ mc.anchor("pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.grains("pater_trio", range(0, 4)) }}

{{ mc.anchor("ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("ave_trio", range(0, 4)) }}

{{ mc.anchor("gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("gloria_trio", range(0, 4)) }}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-devotion.js") }}

{% endblock %}