{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}

{% set title = "Chapelet de libération (*)" %}

{% set ext_url = "https://hozana.org/priere/chapelet/liberation" %}

{% block content %}
<p>Ce <b>chapelet de libération</b> est personnel, tout en s'inspirant de la {{ mc.link(ext_url, "version de base") }}.</p>

<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

<!-- Base -->

{{ mc.anchor("croix", "=") }}

{% include bpath + "signe-croix.jinja" %}

{% include bpath + "credo.jinja" %}

<!-- Dizaines -->

{{ mc.anchor("rondes", "=") }}

<p>
    <select id="sel_rondes" onchange="checkFirst();">
        {% for nb in range(1, 6) %}
        <option>Ronde n°{{ nb }}</option>
        {% endfor %}
    </select>
</p>

{% include bpath + "notre-pere.jinja" %}

<hr />

<p>"Si Jésus vous libère, vous serez vraiment libres." (Jean 8, 36)</p>

{{ mc.grains("dizaine", "dz_grains") }}

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-liberation.js") }}

{% endblock %}