{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set mpath = "prieres/misericorde/" %}

{% set title = "Chapelet de la Divine Miséricorde" %}

{% block content %}
<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

{% include bpath + "signe-croix.jinja" %}

<!-- Intro -->

{% include mpath + "mis-intro.jinja" %}

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("credo") }}

{% include bpath + "credo.jinja" %}

<!-- Dizaines -->

{{ mc.anchor("dizaines", "=") }}

{% include mpath + "mis-dizaine.jinja" %}

{{ mc.return_link("dizaines") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include mpath + "mis-final.jinja" %}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-misericorde.js") }}

{% endblock %}