{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/special/" %}

{% set title = "Chapelet des saintes plaies" %}

{% block content %}

{% include bpath + "signe-croix.jinja" %}

<!-- Croix -->

{% include spath + "ex-intro.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{% include spath + "ex-rondes.jinja" %}

<p>Père Eternel, je t’offre les plaies de notre Seigneur Jésus-Christ pour guérir celles de nos âmes.</p>

<hr />

<div id="dizaines">
Mon Jésus, pardon et miséricorde, par les mérites de tes saintes plaies.

{{ mc.grains("dizaine", "dz_grains") }}
</div>

<div id="fin">
{{ mc.grains("trio", "fin_trio") }}
</div>

<!-- Fin -->

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-passion.js") }}

{% endblock %}