{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/special/" %}

{% set title = "Chapelet des saintes plaies" %}

{% block content %}

{% include bpath + "signe-croix.jinja" %}

{% include spath + "ex-intro.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(1, 6)) }}

<p id="plaie" class="gras">1. les mains</p>

<p>"Père Eternel, je t’offre les plaies de notre Seigneur Jésus-Christ pour guérir celles de nos âmes."</p>

<hr />

<p>"Mon Jésus, pardon et miséricorde, par les mérites de tes saintes plaies." (x 10)</p>

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p>"Père Eternel, je t’offre les plaies de notre Seigneur Jésus-Christ pour guérir celles de nos âmes." (x 3)</p>

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-plaies.js") }}

{% endblock %}