{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}

{% set title = "Chapelet du rosaire" %}

{% block content %}
<p>
Le <b>chapelet</b> basé sur le <b>rosaire</b> traditionnel s'inspire de l'application 
{{ mc.link("https://rosario.app/", "Rosario") }} par
{{ mc.link("https://hozana.org/", "Hozana") }}.
</p>

<p>Les {{ mc.link("/prieres/litanies.html", "Litanies de Lorette") }} sont complémentaires.</p>

<p>Les {{ mc.link("/prieres/ex-base.html", "prières de base") }} sont listées sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>
    <input type="checkbox" id="v_latine" onchange="switchLang();" />
    <label for="v_latine">Version latine</label>
</p>

{% include bpath + "signe-croix.jinja" %}

{% include rpath + "rs-base.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

{{ mc.anchor("dizaines") }}

{% include rpath + "rs-dizaine.jinja" %}

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-mysteres.js") }}
{{ mc.script("chapelets/ch-rosaire.js") }}

{% endblock %}