{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/sang/" %}

{% set title = "Chapelet du précieux sang" %}

{% block content %}
<p>Il s'agit d'une version simplifiée du chapelet révélé à <b>Barnabas Nwoye</b> en 1995.</p>

<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} sont listées sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

{% include bpath + "signe-croix.jinja" %}

{% include rpath + "rs-base.jinja" %}

<!-- Médaille -->

{{ mc.anchor("medaille", "=") }}

{% include spath + "sg-tabernacle.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(1, 6)) }}

<p id="mystere" class="gras">1. la main droite</p>

<p id="intro"></p>

{% include spath + "sg-douzaine.jinja" %}

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("final", "=") }}

{% include bpath + "salut-reine.jinja" %}

{{ mc.anchor("ex_fin") }}

{% include spath + "sg-fin.jinja" %}

{{ mc.anchor("ex_litanies") }}

{% include spath + "sg-litanies.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-intros.js") }}
{{ mc.script("chapelets/ch-sang.js") }}

{% endblock %}