{% extends "layouts/prieres.jinja" %}

{% set path = "partials/prieres/" %}

{% set cpath = path + "chapelet/" %}
{% set rpath = path + "rosaire/" %}

{% set title = "Chapelet" %}

{% block content %}
<h1>Chapelet</h1>

{% include cpath + "ch-base.html" %}

<hr id="haut" />

{% include cpath + "ch-choix.html" %}

{% include cpath + "ch-dizaine.html" %}

<p><a href="#haut" class="bleu">Revenir en haut</a></p>

<hr />

{% include cpath + "ch-fin.html" %}

<script src="/public/js/chapelet.js"></script>

{% endblock %}