{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Chapelet de dévotion" %}

{% block content %}
<p>
Ce chapelet de dévotion est basé sur la <b>prière de Saint Bernard de Chiaravalle</b>,<br>
en l'honneur de la <b>plaie inconnue de l’épaule de Jésus-Christ</b>.
</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

{% include spath + "st-bernard.jinja" %}

<!-- Prières -->

{{ mc.anchor("pater", "=") }}

<p class="gras">Notre Père</p>

{{ mc.grains("trio", "rd_pater") }}

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("trio", "rd_ave") }}

<p class="gras">Gloire au Père</p>

{{ mc.grains("trio", "rd_gloria") }}

<!-- Fin -->

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-devotion.js") }}

{% endblock %}