{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Chapelet de dévotion à Marie et Joseph (*)" %}

{% block content %}
<p>
Le chapelet est basé sur le {{ mc.link("Saint Rosaire", "/prieres/rosaire.html") }},<br>
avec l'ajout de la prière de <b>St Joseph</b> pour les dizaines<br>
et une prière au <b>St Esprit</b> avant le <b>Gloire au Père</b>.
</p>

<p>Il s'inspire entres autres d'un {{ mc.link("live de Romuald Corbin", "https://www.youtube.com/watch?v=iCY1fW9PdBY") }}.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

{% include rpath + "rs-base.jinja" %}

{{ mc.anchor("b_esprit") }}

{% include spath + "st-esprit.jinja" %}

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

{{ mc.anchor("dz_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ave") }}

{% include bpath + "ste-marie.jinja" %}

<hr />

{% include spath + "st-joseph.jinja" %}

{{ mc.grains("dz_grains", range(0, 11)) }}

{{ mc.anchor("dz_esprit") }}

{% include spath + "st-esprit.jinja" %}

{{ mc.anchor("dz_gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.return_link("mysteres") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-rosaire.js") }}

{% endblock %}