{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}

{% set title = "Dizaines simples" %}

{% block content %}
<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-dizaine-min.jinja" %}

{{ mc.return_link("mysteres") }}

{% include rpath + "rs-scripts.jinja" %}

{% endblock %}