{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Dizaines de lys" %}

{% block content %}
<p>Les dizaines sont attribuées à <b>St Joseph</b>, comme le symbôle du <b>lys</b>.</p>

<hr />

{% include bpath + "signe-croix.jinja" %}

<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

<p>Je prie à l'intention de <input type="text" id="intention" />.</p>

<!-- Rondes -->

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-trio.jinja" %}

{% include bpath + "notre-pere.jinja" %}

<hr />

{% include spath + "st-joseph.jinja" %}

{{ mc.grains("dizaine", "dz_grains") }}

<hr />

{% include bpath + "gloire-pere.jinja" %}

<!-- Fin -->

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link("mysteres") }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("mysteres/ch-trio.js") }}

{{ mc.script("dizaines.js") }}

{% endblock %}