{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/special/" %}

{% set title = "Dizaines minimales" %}

{% block content %}

<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("dizaine", "dz_grains") }}

{{ mc.return_link("mysteres") }}

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

<!-- Scripts -->

{% include rpath + "rs-scripts.jinja" %}

{% endblock %}