{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/special/" %}

{% set title = "Dizaines du précieux sang de Jésus" %}

{% block content %}

{% include bpath + "signe-croix.jinja" %}

<!-- Rondes -->

{% include spath + "sg-mysteres.jinja" %}

{% include spath + "sg-intros.jinja" %}

<hr />

<p>Précieux Sang de Jésus-Christ, sauvez-nous et le monde entier.</p>

{{ mc.grains("douzaine", "dz_grains") }}

<hr />

{% include spath + "sg-tabernacle.jinja" %}

{% include spath + "sg-refrain.jinja" %}

{{ mc.return_link("sel_mysteres") }}

<!-- Scripts -->

{% include spath + "sg-scripts.jinja" %}

{% endblock %}