{% extends "layouts/prieres.jinja" %}

{% set path = "partials/prieres/" %}

{% set cpath = path + "chapelet/" %}
{% set gpath = path + "grains/" %}
{% set rpath = path + "rosaire/" %}

{% set title = "Ex-Eucharistie" %}

{% block content %}
<h1>Le mystère de l'Eucharistie</h1>

<p>
Les clauses sont inspirées de Jean-Paul II avec le site de 
{{ mc.link("https://www.mariedenazareth.com", "Marie de Nazareth") }}.
</p>

<p>
Le chapelet basé sur le rosaire traditionnel s'inspire de l'application 
{{ mc.link("https://rosario.app/", "Rosario") }} par
{{ mc.link("https://hozana.org/", "Hozana") }}.
</p>

<hr />

<p>Page en cours</p>

<script src="/public/js/chapelets/chapelet.js"></script>
{% endblock %}