{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Trentain de Ste Thérèse" %}

{% block content %}

{% include bpath + "signe-croix.jinja" %}

<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

<p>Je prie à l'intention de <input type="text" id="intention" />.</p>

{% include rpath + "rs-dizaine.jinja" %}

{{ mc.anchor("suite") }}

{% include spath + "ste-therese.jinja" %}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

<!-- Scripts -->

{% include rpath + "rs-scripts.jinja" %}

{% endblock %}