{% extends "layouts/prieres.jinja" %}

{% set title = "Chapelet de libération (*)" %}

{% block content %}
<p>
Ce chapelet est personnel et se base sur la <b>méthode Ho'oponopono</b>.<br>
La <b>prière de Morrnah</b>, revue et simplifiée, se récite sur les <b>petits grains</b>.
</p>

<!-- Rondes -->

<hr />

{{ mc.grains("dz_rondes", range(1,6)) }}

<p>
Créateur Divin,<br>
si moi, ma famille, mes proches ou mes ancêtres,<br>
vous ont offensé ou ont offensé<br>
votre famille, vos proches ou vos ancêtres,<br>
en pensées, en paroles ou en actions,<br>
nous vous demandons pardon.<br>
Que toutes ces mémoires du passé<br>
soient transmutées en amour inconditionnel.<br>
Je te remercie. Je t'aime.
</p>

{{ mc.grains("dz_grains", range(0,11)) }}

<hr />

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-liberation.js") }}

{% endblock %}