{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}

{% set title = "Chapelet de libération" %}

{% block content %}

{% include "partials/cb-latin.jinja" %}

<!-- Base -->

{% include bpath + "signe-croix.jinja" %}

<hr id="credo" />

{% include bpath + "credo.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(0,6)) }}

{% include bpath + "notre-pere.jinja" %}

<hr />

<p>"Si Jésus me libère, je serai vraiment libre." (Jean 8,36)</p>

<div id="trio">
{{ mc.grains("base_trio", range(0,4)) }}
</div>

<div id="dizaines">
{{ mc.grains("dz_grains", range(0,11)) }}
</div>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-liberation.js") }}

{% endblock %}