{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}

{% set title = "Chapelet de libération" %}

{% block content %}
<p>Ce chapelet de libération est personnel et se base sur la <b>méthode Ho'oponopono</b>.</p>

<p class="gauche">
La <b>prière de Morrnah Simeona</b>, revue et simplifiée, se récite sur les <b>gros grains</b>.<br>
Le <b>verset de St Jean</b> (Jn 8,36) se récite sur les <b>petits grains</b>.
</p>

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.grains("dz_rondes", range(1,6)) }}

<p class="gauche">
Créateur Divin, au nom du Père, du Fils et du Saint-Esprit,<br>
si moi, ma famille, mes proches ou mes ancêtres,<br>
vous ont offensé ou ont offensé<br>
votre famille, vos proches ou vos ancêtres,<br>
en pensées, en paroles ou en actions,<br>
nous vous demandons pardon.<br>
Que toutes ces mémoires du passé<br>
soient transmutées en amour inconditionnel.<br>
Amen.
</p>

{{ mc.anchor("dz_verset") }}

<p>"Si Jésus nous libère, nous serons vraiment libres." (x 10)</p>

{{ mc.return_link("rondes") }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-liberation.js") }}

{% endblock %}