{% extends "layouts/prieres.jinja" %}

{% set lpath = "prieres/litanies/" %}

{% set title = "Litanies de Lorette" %}

{% block content %}
<h1>Litanies de Lorette</h1>

{% include lpath + "lit-intro.jinja" %}

{{ mc.anchor("louanges") }}

{% include lpath + "lit-louanges.jinja" %}

{{ mc.anchor("agneau_dieu") }}

{% include lpath + "lit-agneau-dieu.jinja" %}
 
{{ mc.anchor("dialogue") }}

{% include lpath + "lit-dialogue.jinja" %}

{{ mc.anchor("priere_finale") }}

{% include lpath + "lit-fin.jinja" %}

{{ mc.return_link("louanges") }}

{% endblock %}