{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set lpath = "prieres/litanies/" %}

{% set title = "Litanies de Lorette" %}

{% block content %}

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("lor_intro") }}

{% include lpath + "lit-intro.jinja" %}

{{ mc.anchor("lor_louanges") }}

{% include lpath + "lit-ste-marie.jinja" %}

{{ mc.anchor("lor_agneau_dieu") }}

{% include lpath + "lit-agneau-dieu.jinja" %}

{{ mc.anchor("lor_dialogue") }}

<p>
Sainte Mère de Dieu, priez pour nous.<br>
Afin que nous devenions dignes des promesses de Jésus-Christ.
</p>

{{ mc.anchor("lor_oraison_finale") }}

{% include lpath + "lit-final.jinja" %}

{{ mc.anchor("lor_fin") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{% endblock %}