{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set npath = "prieres/neuvaines/" %}

{% set title = "Neuvaine" %}

{% block content %}
<h1>Neuvaine de la Médaille Miraculeuse</h1>

{{ mc.vlatine() }}

{% include bpath + "signe-croix.jinja" %}

<hr>

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("dizaine", "dz_grains") }}

{{ mc.anchor("gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{% include npath + "medaille-miraculeuse.jinja" %}

<hr>

{% include bpath + "signe-croix.jinja" %}

<hr>

<h2>Vidéo d'exemple</h2>

{{ mc.yvideo("Xj8YPt1WQ_c?si=RGcbFKWfGGpGzVE_") }}

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{% endblock %}