

{% extends "layouts/prieres.jinja" %}

{% set path = "partials/chapelet/" %}
{% set npath = "partials/prieres/" %}
{% set rpath = path + "rosaire/" %}

{% set title = "Neuvaine" %}

{% block content %}
<h1>Neuvaine</h1>

{% include npath + "pr-signe-croix.html" %}

<hr>

{% include rpath + "rs-notre-pere.html" %}

<p><a href="#ste_marie" id="ste_marie">===</a></p>

{% include rpath + "rs-ste-marie.html" %}

{% include rpath + "rs-grains.html" %}

<p><a href="#gloire_pere" id="gloire_pere">===</a></p>

{% include rpath + "rs-gloire-pere.html" %}

<p><a href="#priere_medaille" id="priere_medaille">===</a></p>

{% include npath + "nv-medaille.html" %}

<hr>

{% include npath + "pr-signe-croix.html" %}

<hr>

<h2>Vidéo d'exemple</h2>

{{ mc.yvideo("Xj8YPt1WQ_c?si=RGcbFKWfGGpGzVE_") }}

{% endblock %}