

{% extends "layouts/prieres.jinja" %}

{% set path = "partials/prieres/" %}

{% set cpath = path + "chapelet/" %}
{% set rpath = path + "rosaire/" %}

{% set title = "Neuvaine" %}

{% block content %}
<h1>Neuvaine</h1>

{% include path + "signe-croix.html" %}

<hr>

<p><a href="#notre_pere" id="notre_pere">===</a></p>

{% include path + "notre-pere.html" %}

<p><a href="#ste_marie" id="ste_marie">===</a></p>

{% include path + "ste-marie.html" %}

{% include path + "dz-grains.html" %}

<p><a href="#gloire_pere" id="gloire_pere">===</a></p>

{% include path + "gloire-pere.html" %}

{% include path + "nv-medaille.html" %}

<hr>

{% include path + "signe-croix.html" %}

<hr>

<h2>Vidéo d'exemple</h2>

{{ mc.yvideo("Xj8YPt1WQ_c?si=RGcbFKWfGGpGzVE_") }}

{% endblock %}