{% extends "layouts/prieres.jinja" %}

{% set title = "Psaumes" %}

{% set path = "partials/prieres/" %}
{% set xpath = path + "psaumes/" %}

{% block content %}
<h1>Psaumes</h1>

{# include xpath + "ps-22.html" #}

{# include xpath + "ps-29.html" #}

{# include xpath + "ps-90.html" #}

{# include xpath + "ps-120.html" #}

{# include xpath + "ps-124.html" %}

{# include xpath + "ps-125.html" #}

{# include xpath + "ps-126.html" #}

{# include xpath + "ps-142.html" #}

<hr />

{% include path + "gloire-pere.html" %}

<p><a id="haut" href="#">Retour en haut</a></p>
{% endblock %}