{% extends "layouts/prieres.jinja" %}

{% set rpath = "prieres/rosaire/" %}

{% set title = "Chapelet du rosaire" %}

{% block content %}

<p>Je recommande l'application {{ mc.link("Rosario", "https://rosario.app/") }} pour la méditation des <b>mystères</b>.</p>

<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} sont listées sur une page dédiée.</p>

{{ mc.anchor("base", "=") }}

<!-- Base -->

<p>(Signe de croix)</p>

{% include rpath + "rs-base.jinja" %}

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

<hr />

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("dz_grains", range(0, 11)) }}

<p class="gras">Gloire au Père</p>

<p class="gras">(Prière de Fatima)</p>

{{ mc.return_link("mysteres") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-rosaire.js") }}

{% endblock %}