{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}

{% set title = "Chapelet du rosaire" %}

{% block content %}
<p>
Le <b>chapelet</b> basé sur le <b>rosaire</b> traditionnel s'inspire de l'application 
{{ mc.link("Rosario", "https://rosario.app/") }} par
{{ mc.link("Hozana", "https://hozana.org/") }}.
</p>

<p>Les {{ mc.link("Litanies de Lorette", "/prieres/litanies.html") }} sont complémentaires.</p>

<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} sont listées sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}</p>

{% include bpath + "signe-croix.jinja" %}

{% include rpath + "rs-base.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

{{ mc.anchor("dizaines") }}

{% include rpath + "rs-dizaine.jinja" %}

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-mysteres.js") }}
{{ mc.script("chapelets/ch-rosaire.js") }}

{% endblock %}