{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/sang/" %}

{% set title = "Chapelet du précieux sang de Jésus" %}

{% block content %}
<p>La dévotion est complémentaire au {{ mc.link("Saint Rosaire", "/prieres/rosaire.html") }}.</p>

<p>(*) Incliner la tête</p>

{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

{% include spath + "sg-esprit.jinja" %}

{{ mc.anchor("credo") }}

{% include bpath + "credo.jinja" %}

{{ mc.anchor("b1_refrain") }}

{% include spath + "sg-refrain.jinja" %}

{% include spath + "sg-coeur.jinja" %}

{{ mc.anchor("b_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("b_ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("base_trio", ["-", "foi", "espérance", "charité"]) }}

{{ mc.anchor("b_gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("b2_refrain") }}

{% include spath + "sg-refrain.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(1,6)) }}

{% include spath + "sg-intros.jinja" %}

{% include spath + "sg-coeur.jinja" %}

{{ mc.anchor("dz_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("douzaine") }}

<p>"Précieux Sang de Jésus-Christ, sauve-nous et le monde entier." (x 12)</p>

{{ mc.anchor("dz_gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("dz_refrain") }}

{% include spath + "sg-refrain.jinja" %}

<div id="dernier">
{% include spath + "sg-coeur.jinja" %}
</div>

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.jinja" %}

<p>
V. Prie pour nous, sainte Mère de Dieu,<br>
R. Afin que nous devenions dignes des promesses de Jésus-Christ.
</p>

{{ mc.anchor("final") }}

{% include spath + "sg-final.jinja" %}

{{ mc.anchor("litanies") }}

{% include spath + "sg-min-litanies.jinja" %}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-sang.js") }}

{% endblock %}