{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/sang/" %}

{% set title = "Chapelet du précieux sang" %}

{% block content %}
<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} sont listées sur une page dédiée.</p>

<p>(*) Baisser la tête</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

{% include spath + "ex-chant.jinja" %}

{{ mc.anchor("st_esprit") }}

{% include spath + "ex-saint-esprit.jinja" %}

{{ mc.anchor("ex_base") }}

<p>{{ mc.checkbox("b_credo", "Credo") }}</p>

{% include spath + "ex-transition.jinja" %}

{% include spath + "ex-coeur.jinja" %}

<p>{{ mc.checkbox("b_pater", "Notre Père") }}</p>

<p>
{{ mc.checkbox("b_ave", "3 x Je vous salue Marie") }}<br>
(foi, espérance, charité)
</p>

<p>{{ mc.checkbox("b_gloria", "Gloire au Père") }}</p>

{% include spath + "ex-transition.jinja" %}

<!-- Dizaines -->

{{ mc.anchor("dizaines", "=") }}

<p>{{ mc.grains("dz_rondes", range(1,6)) }}</p>

<p class="gras"><span id="mystere">Enfoncement du clou dans la main droite</span> de Notre Seigneur Jésus</p>

{% include spath + "ex-intros.jinja" %}

{% include spath + "ex-coeur.jinja" %}

<hr />

<p>{{ mc.checkbox("dz_pater", "Notre Père") }}</p>

<p>{{ mc.checkbox("dz_ave", "Je vous salue Marie") }}</p>

<p>"Précieux Sang de Jésus-Christ, sauvez-nous et le monde entier." (x 12)</p>

<p>{{ mc.checkbox("dz_gloria", "Gloire Père") }}</p>

{% include spath + "ex-transition.jinja" %}

<div id="dernier">
{% include spath + "ex-coeur.jinja" %}
</div>

{{ mc.return_link("dizaines") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.jinja" %}

<p class="gauche">
V. Priez pour nous, sainte Mère de Dieu,<br>
R. afin que nous devenions dignes des promesses de Jésus Christ. 
</p>

{{ mc.anchor("ex_final") }}

{% include spath + "ex-final.jinja" %}

<hr />

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-sang.js") }}

{% endblock %}