{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/sang/" %}

{% set title = "Chapelet du précieux sang de Jésus" %}

{% block content %}
<p>La dévotion est complémentaire au {{ mc.link("Saint Rosaire", "/prieres/rosaire.html") }}.</p>

<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} sont listées sur une page dédiée.</p>

<p>(*) Incliner la tête</p>

<p>(Signe de croix)</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include spath + "sg-chant.jinja" %}

{{ mc.anchor("st_esprit") }}

{% include spath + "sg-esprit.jinja" %}

{{ mc.anchor("credo") }}

<p class="gras">Credo</p>

{{ mc.anchor("b_outro") }}

{% include spath + "sg-outro.jinja" %}

{% include spath + "sg-dialogue.jinja" %}

{{ mc.anchor("b_prieres") }}

<p class="gras">Notre Père</p>

<p>
    <span class="gras">Je vous salue Marie</span> <br>
    (foi, espérance, charité)
</p>

<p class="gras">Gloire au Père</p>

{{ mc.anchor("b_refrain") }}

{% include spath + "sg-outro.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

<ul class="priere gauche">
    <li>{{ mc.radio_btn("r1", "rondes", "1. La main droite") }}</li>
    <li>{{ mc.radio_btn("r2", "rondes", "2. La main gauche") }}</li>
    <li>{{ mc.radio_btn("r3", "rondes", "3. Le pied droit") }}</li>
    <li>{{ mc.radio_btn("r4", "rondes", "4. Le pied gauche") }}</li>
    <li>{{ mc.radio_btn("r5", "rondes", "5. Le côté sacré") }}</li>
</ul>

{% include spath + "sg-intros.jinja" %}

{% include spath + "sg-dialogue.jinja" %}

{{ mc.anchor("douzaines") }}

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

<p>"Précieux Sang de Jésus-Christ, sauve-nous et le monde entier." (x 12)</p>

<p class="gras">Gloire au Père</p>

{% include spath + "sg-outro.jinja" %}

<div id="dernier">
{% include spath + "sg-dialogue.jinja" %}
</div>

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.jinja" %}

<p>
V. Priez pour nous, sainte Mère de Dieu,<br>
R. afin que nous devenions dignes des promesses de Jésus Christ.
</p>

{{ mc.anchor("final") }}

{% include spath + "sg-final.jinja" %}

{{ mc.anchor("litanies") }}

{% include spath + "sg-min-litanies.jinja" %}

<hr />

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-sang.js") }}

{% endblock %}