<p class="priere" lang="fr">
Au nom du <b>Père</b>, et du <b>Fils</b> et du <b>Saint-Esprit</b>.<br>
Amen.
</p>

<p class="priere" lang="latin">
In Nomine <b>Patris</b>, et <b>Filii</b>, et <b>Spiritus Sancti</b>.<br>
Amen.
</p>