<h2>Je vous salue Marie</h2>

<p class="priere" lang="fr">
Je vous salue Marie, pleine de grâce,<br>
le Seigneur est avec vous.<br>
Vous êtes bénie entre toutes les femmes,<br>
et Jésus, le fruit de vos entrailles, est béni.<br>
Sainte Marie, Mère de Dieu,<br>
priez pour nous, pauvres pécheurs,<br>
maintenant et à l'heure de notre mort.<br>
Amen.
</p>
