{% extends "layouts/prieres.jinja" %}

{% set apath = "prieres/anges/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Chapelet de St Michel et des anges" %}

{% block content %}
<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} se trouvent sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

{% include spath + "st-michel.jinja" %}

<p class="gras">Notre Père</p>

{{ mc.grains("base_anges", ["St Michel", "St Gabriel", "St Raphaël", "Ange gardien"]) }}

<!-- Choeurs -->

{{ mc.anchor("choeurs", "=") }}

{% include apath + "an-choeurs.jinja" %}

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("choeur_trio", range(0,4)) }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include apath + "an-antienne.jinja" %}

{{ mc.anchor("oraison") }}

{% include apath + "an-oraison.jinja" %}

{{ mc.anchor("st_michel") }}

{% include spath + "st-michel.jinja" %}

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-anges.js") }}

{% endblock %}