{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}

{% set title = "Chapelet de libération (*)" %}

{% block content %}
<p>(*) Ce chapelet de libération a été personnalisé, tout en reprenant le principe de base.</p>

<p class="gauche">
Le <b>Credo</b> se récite sur la croix.<br>
Le <b>Notre Père</b> se récite sur les gros grains.<br>
Le <b>verset de St Jean</b> (Jn 8,36) se récite sur les petits grains.<br>
Le <b>bref de St Antoine</b> se récite après chaque dizaine.<br>
Le <b>Salve Regina</b> se récite à la fin.
</p>

{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("credo") }}

{% include bpath + "credo.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.grains("dz_rondes", range(0,6)) }}

<p>Je demande <input type="text" id="intention" /></p>

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_verset") }}

<p>"Si Jésus nous libère, nous serons vraiment libres." (x 3, 10)</p>

{{ mc.anchor("dz_bref") }}

{% include bpath + "ex-bref.jinja" %}

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.jinja" %}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-liberation.js") }}

{% endblock %}