{% extends "layouts/prieres.jinja" %}

{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Dizaines des lys de St Joseph" %}

{% block content %}
<p>Le <b>lys</b> est le symbôle de <b>St Joseph</b> comme la rose l'est pour <b>Ste Marie</b>.</p>

<p>
La prière du <b>Je vous salue Joseph</b> a été revue et simplifiée,<br>
en reprenant la structure du <b>Je vous salue Marie</b>.
</p>

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

<p>(Signe de croix)</p>

{% include rpath + "lys-mysteres.jinja" %}

<p class="gras">Notre Père</p>

<p>
Je vous salue Joseph,<br>
vous que la grâce divine a comblé,<br>
le Sauveur a grandi avec vous.<br>
Vous êtes béni entre tous les hommes,<br>
et Jésus, l'enfant divin de votre virginale épouse, est béni.<br>
Saint Joseph, donné pour père au Fils de Dieu,<br>
priez pour nous, pécheurs,<br>
maintenant et à l’heure de notre mort.<br>
Amen.
</p>

{{ mc.grains("dz_grains", range(0, 11)) }}

<p class="gras">Gloire au Père</p>

<p class="gras">(Prière de Fatima)</p>

{{ mc.return_link("mysteres") }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-mysteres.js") }}
{{ mc.script("chapelets/ch-lys.js") }}

{% endblock %}