{% extends "layouts/prieres.jinja" %}

{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Dizaines des lys de St Joseph" %}

{% block content %}
<p>Le <b>lys</b> est le symbôle de <b>St Joseph</b> comme la rose l'est pour <b>Ste Marie</b>.</p>

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

<p>(Signe de croix)</p>

{% include rpath + "lys-mysteres.jinja" %}

<p class="gras">Notre Père</p>

{% include spath + "st-joseph.jinja" %}

{{ mc.grains("dz_grains", range(0, 11)) }}

<p class="gras">Gloire au Père</p>

<p class="gras">(Prière de Fatima)</p>

{{ mc.return_link("mysteres") }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-mysteres.js") }}
{{ mc.script("chapelets/ch-lys.js") }}

{% endblock %}