{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/reparation/" %}

{% set title = "Chapelet de réparation de Fatima" %}

{% block content %}
<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} se trouvent sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

<p class="gras">Credo</p>

{% include rpath + "acte-contrition.jinja" %}

{{ mc.grains("base_trio", range(0, 4)) }}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(1, 6), "resetButtons()") }}

{% include rpath + "ex-trinite.jinja" %}

{{ mc.anchor("dz_priere") }}

{% include rpath + "re-dizaine.jinja" %}

{{ mc.grains("dz_grains", range(0, 11)) }}

<p class="gras">Prière de Fatima</p>

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p>"Dieu Saint, Saint Fort, Saint Immortel, prends pitié de nous et du monde entier." (x 3)</p>

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-reparation.js") }}

{% endblock %}