<h2>Prière à Ste Marie de la médaille miraculeuse</h2>

<p class="priere">
<a href="#md1" id="md1">Ô Marie, conçue sans pêché,</a><br>
Sur vous est venu le Saint-Esprit<br>
Et vous nous avez donné votre Fils.<br>

<a href="#md2" id="md2">Ô Marie, confidente de Ste Catherine,</a><br>
Apprenez-nous à nous asseoir au pied du Seigneur<br>
Pour écouter sa parole et la garder dans notre coeur.<br>

<a href="#md3" id="md3">Ô Marie, debout au pied de la Croix,</a><br>
Conduisez-nous au pied de l'autel<br>
Pour devenir une offrande agréable au Père.<br>

<a href="#md4" id="md4">Ô Marie, Mère de l'Eglise,</a><br>
Vous portez le monde et l'offrez à Dieu<br>
Priez pour nous qui avons recours à vous.<br>

<a href="#md5" id="md5">Ô Marie, comblée de grâces,</a><br>
Répandez vos rayons de lumière<br>
Sur chacun d'entre nous qui vous le demandons.<br>

<a href="#md6" id="md6">Ô Marie, icône de l'humilité,</a><br>
Donnez-nous de porter la sainte Médaille<br>
Signe de notre amour pour les Coeurs de Jésus et Marie.<br>

<a href="#md7" id="md7">Ô Marie, Servante du Seigneur,</a><br>
Aidez-nous à vivre de charité comme Ste Catherine<br>
Qui ne cesse d'intercéder en notre faveur.<br>

Amen.
</p>

<p>***</p>

<p class="priere">
<b>Ô Marie, conçue sans pêché,</b><br>
priez pour nous qui avons recours à vous. (x 3)
</p>