{{ mc.header("salut_reine", "Salut, ô Reine") }}

<p class="priere" lang="fr">
Salut, ô Reine, Mère de miséricorde,<br>
notre vie, notre douceur et notre espérance. Salut !<br>
Enfants d'Eve, exilés, nous crions vers vous.<br>
Vers vous, nous soupirons,<br>
gémissant et pleurant dans cette vallée de larmes.<br>
Ô vous, notre avocate,<br>
tournez vers nous vos regards miséricordieux.<br>
Et après cet exil, montrez-nous Jésus, le fruit béni de vos entrailles.<br>
Ô clémente, ô pieuse, ô douce Vierge Marie.<br>
Amen.
</p>

<p class="priere" lang="latin"><br>
Salve, Regina, Mater misericordiae,<br>
vita, dulcedo, et spes nostra. Salve !<br>
ad te clamamus exsules filii Evae,<br>
ad te suspiramus, gementes et flentes<br>
in hac lacrimarum valle.<br>
Eia, ergo, advocata nostra,<br>
illos tuos misericordes oculos ad nos converte.<br>
Et Iesum, benedictum fructum ventris tui,<br>
nobis post hoc exsilium ostende.<br>
O clemens, O pia, O dulcis Virgo Maria.<br>
Amen.
</p>