<h2>Prière à Saint Charbel</h2>

<p class="priere">
Dieu, infiniment saint et glorifié dans vos Saints,<br>
qui avez inspiré au saint moine et ermite Charbel Makhlouf<br>
de vivre et de mourir dans une parfaite ressemblance avec Jésus,<br>
lui accordant la force de se détacher du monde afin de faire triompher, dans son ermitage,<br>
l’héroïsme des vertus monastiques : la pauvreté, l’obéissance et la chasteté,<br>
nous vous supplions de nous accorder la grâce de vous aimer<br>
et de vous servir à son exemple.<br>
<br>
Seigneur Tout-Puissant,<br>
qui avez manifesté le pouvoir de l’intercession de Saint Charbel<br>
par de nombreux miracles et faveurs,<br>
accordez-nous la grâce de __ que nous implorons par son intercession.<br>
<br>
Amen.
</p>