{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}

{% set title = "Chapelet de libération des âmes" %}

{% block content %}

{% include "partials/cb-latin.jinja" %}

<p>Le <b>chapelet</b> reprend le <b>rosaire</b> et les prières de <b>Ste Gertrude</b>.</p>

<p>Je recommande l'application {{ mc.link("Rosario", "https://rosario.app/") }} pour la méditation des <b>mystères</b>.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

<hr />

{% include rpath + "rs-base.jinja" %}

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

{{ mc.anchor("dz_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ames") }}

<p>
Père Éternel, je Vous offre le très précieux Sang<br>
de Votre Divin Fils, Jésus,<br>
en union avec les saintes messes célébrées<br>
aujourd’hui à travers le monde,<br>
pour toutes les âmes du purgatoire,<br>
pour les pécheurs dans l’Église Universelle,<br>
pour les pécheurs en tout lieu,<br>
ceux de mon entourage et de ma propre famille.<br>
Amen.
</p>

{{ mc.anchor("dz_ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("dz_grains", range(0, 11)) }}

{{ mc.anchor("dz_coeurs") }}

<p>
Cœur Sacré de Jésus,<br>
ouvre les cœurs et les esprits des pécheurs<br>
à la vérité et à la lumière de Dieu, le Père.<br>
Cœur Immaculé de Marie,<br>
priez pour la conversion des pécheurs et du monde.
</p>

{{ mc.anchor("dz_gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.return_link("mysteres") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-rosaire.js") }}

{% endblock %}