{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/ames/" %}

{% set title = "Dizaines de libération des âmes" %}

{% block content %}
<p>
La prière de base a été révélée par Jésus à <b>Ste Gertrude</b>.<br>
Chaque récitation permet de libérer jusqu'à <b>1000 âmes</b>.
</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

<p>
Père Éternel, je vous offre le très précieux Sang de votre Divin Fils, Jésus,<br>
en union avec les saintes messes célébrées aujourd’hui à travers le monde,<br>
pour toutes les âmes du purgatoire,<br>
pour les pécheurs dans l’Église Universelle,<br>
les pécheurs en tout lieu,<br>
ceux de mon entourage et de ma propre famille.<br>
Amen.
</p>

{{ mc.grains("dz_grains", range(0, 11)) }}

<p>
Cœur Sacré de Jésus,<br>
ouvre les cœurs et les esprits des pêcheurs<br>
à la vérité et à la lumière de Dieu, le Père.<br>
<br>
Cœur Immaculé de Marie,<br>
priez pour la conversion des pêcheurs et du monde.
</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-ames.js") }}

{% endblock %}