{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/ames/" %}

{% set title = "Chapelet du salut des âmes" %}

{% block content %}
<p>Ce chapelet permet de libérer jusqu'à <b>5000 âmes</b> sur <b>4 générations</b>.</p>

{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

{% include rpath + "rs-base.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(1,6), "checkFirst()") }}

<p>
Père Éternel, je vous offre le Sacré-Cœur de Jésus et le Cœur Immaculé de Marie<br>
pour le salut de nos âmes, de nos familles et du monde entier.
</p>

<hr />

<p>
Sacré-Cœur de Jésus, aie pitié de nous.<br>
Cœur Immaculé de Marie, prie pour nous.
</p>

{{ mc.grains("dz_grains", range(0, 11)) }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("fin_trio", ["-", "Père", "Fils", "St-Esprit"]) }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-ames.js") }}

{% endblock %}