{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/saints/" %}

{% set title = "Dizaines des lys de St Joseph" %}

{% block content %}
<p>Le <b>lys</b> est le symbôle de <b>St Joseph</b> comme la rose l'est pour <b>Ste Marie</b>.</p>

<p>La prière du <b>Je vous salue Joseph</b> a été revue et simplifiée.</p>

{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}

<!-- Base -->

{% include bpath + "signe-croix.jinja" %}

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "lys-mysteres.jinja" %}

{% include rpath + "lys-dizaines.jinja" %}

{{ mc.return_link("mysteres") }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-mysteres.js") }}
{{ mc.script("chapelets/ch-lys.js") }}

{% endblock %}