<p>
    Par l'intercession de <b>Saint Michel</b> et du chœur céleste  

    <select id="sel_choeur" onchange="majSuite();">
        <option>(1) des Séraphins</option>
        <option>(2) des Chérubins</option>
        <option>(3) des Trônes</option>
        <option>(4) des Dominations</option>
        <option>(5) des Puissances</option>
        <option>(6) des Vertus</option>
        <option>(7) des Principautés</option>
        <option>(8) des Archanges</option>
        <option>(9) de tous les anges</option>
    </select>,

    <br>

    que le Seigneur

    <span id="suite" class="gras">nous rende dignes de brûler du feu de la charité parfaite</span>. Amen.
</p>