<p>
Dieu tout puissant et éternel,<br>
qui par un prodige de bonté et de miséricorde<br>
pour le salut commun des hommes avez choisi pour prince de votre Église<br>
le très glorieux archange Saint Michel.<br>
<br>
Rendez-nous dignes, nous vous en prions,<br>
d'être délivrés, par sa bienveillante protection, de tous nos ennemis,<br>
afin qu'à notre mort aucun d'eux ne puisse nous inquiéter,<br>
mais qu'il nous soit donné d'être introduits par lui<br>
en présence de votre puissante et auguste majesté.<br>
<br>
Par les mérites de Jésus-Christ, Notre Seigneur. Amen.
</p>