<p class="priere" lang="latin">
Credo in Deum, Patrem omnipotentem,<br>
Creatorem caeli et terrae,<br>
et in Iesum Christum, Filium eius unicum, Dominum nostrum,<br>
qui conceptus est de Spiritu Sancto,<br>
natus ex Maria Virgine,<br>
passus sub Pontio Pilato,<br>
crucifixus, mortuus, et sepultus,<br>
descendit ad inferos,<br>
tertia die resurrexit a mortuis,<br>
ascendit ad caelos,<br>
sedet ad dexteram Dei Patris omnipotentis,<br>
inde venturus est iudicare vivos et mortuos.<br>
<br>
Credo in Spiritum Sanctum,<br>
sanctam Ecclesiam catholicam,<br>
sanctorum communionem,<br>
remissionem peccatorum,<br>
carnis resurrectionem,<br>
vitam aeternam.<br>
<br>
Amen.
</p>