<h2 id="mis_dizaine"><a href="#mis_dizaine">Dizaine</a></h2>

<p>
    Je prie à l'intention de

    <input type="text" />
</p>

<select onchange="resetFirst();">
    {% for nb in range(1, 6) %}
    <option>Ronde n°{{ nb }}</option>
    {% endfor %}
</select>

<p class="priere">
Père Éternel,<br> 
je vous offre le corps et le sang,<br>
l'âme et la divinité de votre Fils bien-aimé, <br>
notre Seigneur Jésus-Christ, <br>
en réparation de nos péchés <br>
et de ceux du monde entier.
</p>

<p>***</p>

<p class="priere">
Par sa douloureuse passion,<br> 
soyez miséricordieux pour nous<br>
et pour le monde entier.
</p>

{% include path + "dz-grains.html" %}