{% include path + "signe-croix.html" %}

<hr />

{% include path + "notre-pere.html" %}

{{ mc.anchor("b_ste_marie") }}

{% include path + "ste-marie.html" %}

{% include path + "trio-vertus.html" %}

{{ mc.anchor("b_gloire_pere") }}

{% include path + "gloire-pere.html" %}