{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("b_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{% include gpath + "trio-vertus.jinja" %}

{{ mc.anchor("b_gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}