{{ mc.header("p1", "1. La main droite") }}

<p>
Par la précieuse plaie de votre main droite<br>
et la douleur causée par le clou qui l'a transpercée,<br>
puisse le Précieux Sang qui s'en écoule<br>
sauver les pécheurs du monde entier<br>
et convertir beaucoup d'âmes.<br>
Amen.
</p>

{% include spath + "sg-douzaine.jinja" %}