{{ mc.header("p2", "2. La main gauche") }}

<p>
Par la précieuse plaie de votre main gauche<br>
et la douleur causée par le clou qui l'a transpercée,<br>
puisse le Précieux Sang qui s'en écoule<br>
sauver les âmes du purgatoire et protéger les mourants<br>
contre les attaques des esprits de l'enfer.<br>
Amen. 
</p>

{% include spath + "sg-douzaine.jinja" %}