{{ mc.header("p3", "3. Le pied droit") }}

<p>
Par la précieuse plaie de votre pied droit<br>
et la douleur causée par le clou qui l'a transpercé,<br>
puisse le Précieux Sang qui s'en écoule<br>
protéger le fondement de l'église catholique<br>
contre les plans du royaume occulte et des hommes mauvais.<br>
Amen. 
</p>

{% include spath + "sg-douzaine.jinja" %}