<h2 id="p4">4. Le pied gauche</h2>

<p>
Par la précieuse plaie de votre pied gauche<br>
et la douleur causée par le clou qui l'a transpercé,<br>
puisse le Précieux Sang qui s'en écoule<br>
nous protéger en tout lieu contre les plans et les attaques<br>
des mauvais esprits et de leurs agents.<br>
Amen. 
</p>

{% include spath + "sg-douzaine.jinja" %}