<h2 id="p5">5. Le côté sacré</h2>

<p>
Par la précieuse plaie de votre côté Sacré<br>
et la douleur causée par la lance qui l'a percé,<br>
puisse le Précieux Sang et l'Eau qui s'en écoulent<br>
guérir les malades, ressusciter les morts, régler nos problèmes actuels<br>
et nous enseigner la Voie qui mène à Dieu pour Sa gloire éternelle.<br>
Amen.
</p>

{% include spath + "sg-douzaine.jinja" %}