{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set lpath = "prieres/litanies/" %}

{% set rpath = "chapelets/rosaire/" %}

{% set title = "Dizaines minimales" %}

{% block content %}

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

{% include lpath + "lit-agneau-dieu.jinja" %}

{% include bpath + "ste-marie-dz.jinja" %}

{{ mc.grains("cdizaine", "dz_grains") }}

{{ mc.return_link("mysteres") }}

<hr />

{% include bpath + "signe-croix.jinja" %}

<!-- Scripts -->

{% include rpath + "rs-scripts.jinja" %}

{% endblock %}