<ul class="priere gauche">
    <li><b>Seigneur</b>, aie pitié de nous.</li>
    <li><b>Jesus-Christ</b>, ...</li>
    <li><b>Esprit Saint</b>, qui es Dieu, ...</li>
    <li><b>Trinité sainte</b>, qui es un seul Dieu, ...</li>
</ul>