<p class="intro" id="st_esprit_1">
Esprit Saint, accorde-nous le don de la sagesse,<br>
que nous sachions reconnaître Dieu présent et manifesté dans le monde,<br>
considérant toutes choses dans sa lumière<br>
et dans le souvenir permanent de la vie éternelle.
</p>

<p class="intro" id="st_esprit_2">
Esprit Saint, accorde-nous le don de conseil,<br>
que nous sachions toujours discerner la volonté de Dieu,<br>
même dans les moments les plus difficiles,<br>
et garde-nous de toute décision inconsidérée,<br>
nous dirigeant toujours et en tout par ta prudence.
</p>

<p class="intro" id="st_esprit_3">
Esprit Saint, accorde-nous le don de force,<br>
qu’il nous donne le courage de dépasser les épreuves<br>
sur le chemin qui nous conduit au salut.
</p>

<p class="intro" id="st_esprit_4">
Esprit Saint, accorde-nous le don d’intelligence<br>
qui nous fera comprendre les vérités de la foi,<br>
entrer dans leur sens et contempler leur harmonie intérieure.<br>
Mets en nous l’amour et l’intelligence des vérités enseignées par l’Église.
</p>

<p class="intro" id="st_esprit_5">
Esprit Saint, accorde-nous le don de science,<br>
que nous nous laissions guider par la foi, jour après jour,<br>
et que nous sachions discerner ce qui nous conduit vers toi.
</p>

<p class="intro" id="st_esprit_6">
Esprit Saint, accorde-nous le don de piété,<br>
que nous demeurions dans la confiance<br>
sous le regard aimant de notre Père<br>
et que nous soyons les témoins sa tendresse<br>
auprès de tous les hommes.
</p>

<p class="intro" id="st_esprit_7">
Viens Esprit de crainte,<br>
rends-nous suffisamment conscients de la toute-puissance<br>
et de la majesté de Dieu pour ne point pécher envers elle.
</p>