<p class="priere">
Seigneur Jésus-Christ,<br>
je me tourne vers toi pour te remercier pour tout ce que tu as fait<br>
dans ma vie passée, présente et pour ce que tu feras à l'avenir<br>
et aussi pour ce que tu as souffert pour moi à Gethsémani.<br>
<br>
Enfin, et surtout, je veux te remercier pour le don que tu as fait de ton être tout entier<br>
comme nourriture pour mon âme, sous l'apparence du pain et du vin,<br>
dans le très saint sacrement de l'eucharistie.
</p>