<p class="intro" id="mystere_1">
Par la précieuse plaie de ta main droite<br>
et par la douleur causée par le clou qui l’a transpercée,<br>
que le Précieux Sang qui en jaillit<br>
convertisse de nombreuses âmes<br>
et sauve les pécheurs du monde entier.<br>
Amen.
</p>

<p class="intro" id="mystere_2">
Par la précieuse plaie de ta main gauche<br>
et par la douleur causée par le clou qui l’a transpercée,<br>
que le Précieux Sang qui en jaillit<br>
délivre les âmes du purgatoire et protège les mourants<br>
contre les attaques des esprits du mal.<br>
Amen.
</p>

<p class="intro" id="mystere_3">
Par la précieuse plaie de ton pied droit<br>
et par la douleur causée par le clou qui l’a transpercé,<br>
que le Précieux Sang qui en jaillit<br>
protège les fondations de l’Église catholique<br>
contre les plans du malin et des ennemis de la foi.<br>
Amen.
</p>

<p class="intro" id="mystere_4">
Par la précieuse plaie de ton pied gauche<br>
et par la douleur causée par le clou qui l’a transpercé,<br>
que le Précieux Sang qui en jaillit<br>
nous protège sur tous nos chemins de vie<br>
contre les plans et les attaques des esprits mauvais<br>
et de ceux qui les suivent.<br>
Amen.
</p>

<p class="intro" id="mystere_5">
Par la précieuse plaie de ton côté sacré,<br>
transpercé par la lance,<br>
que le Précieux Sang et Eau qui en jaillit,<br>
guérissent les malades,<br>
apportent les repentir aux mourants<br>
et nous amènent au bonheur éternel avec Dieu.<br>
Amen.
</p>