<p class="intro" id="st_antoine_1">
Saint Antoine, qui avez ressuscité les morts,<br>
priez pour ces chrétiens maintenant à l'agonie,<br>
et pour nos chers défunts.
</p>

<p class="intro" id="st_antoine_2">
Saint Antoine, prédicateur zélé de l'Évangile,<br>
fortifiez-nous contre les erreurs des ennemis de Dieu,<br>
et priez pour le Saint-Père et l'Église.
</p>

<p class="intro" id="st_antoine_3">
Saint Antoine, puissant du Cœur de Jésus,<br>
préservez-nous des calamités qui nous menacent<br>
à cause de nos péchés.
</p>

<p class="intro" id="st_antoine_4">
Saint Antoine, qui chassiez les démons,<br>
faites-nous triompher de leurs pièges.
</p>

<p class="intro" id="st_antoine_5">
Saint Antoine, lys de la pureté céleste,<br>
purifie-nous des souillures de l'âme<br>
et préserve notre corps de tous les dangers.
</p>

<p class="intro" id="st_antoine_6">
Saint Antoine, guérisseur des malades,<br>
guéris nos maladies<br>
et conserve-nous la santé.
</p>

<p class="intro" id="st_antoine_7">
Saint Antoine, guide des voyageurs,<br>
ramène à bon port ceux qui sont en danger de périr<br>
et calme les ondes troubles de la passion qui agitent nos âmes.
</p>

<p class="intro" id="st_antoine_8">
Saint Antoine, libérateur des captifs,<br>
délivre-nous de la captivité du mal.
</p>

<p class="intro" id="st_antoine_9">
Saint Antoine, qui restituez aux personnes jeunes et âgées l'usage de leurs membres,<br>
obtenez-nous l'usage parfait des sens de notre corps<br>
et des facultés de notre âme.
</p>

<p class="intro" id="st_antoine_10">
Saint Antoine, découvreur des choses perdues,<br>
aide-nous à retrouver tout ce que nous avons perdu<br>
dans l'ordre spirituel et temporel.
</p>

<p class="intro" id="st_antoine_11">
Saint Antoine, protégé par Marie,<br>
préviens les dangers qui menacent notre corps et notre âme.
</p>

<p class="intro" id="st_antoine_12">
Saint Antoine, aide les pauvres,<br>
aide-nous dans nos besoins<br>
et donne du pain et du travail à ceux qui le demandent.
</p>

<p class="intro" id="st_antoine_13">
Saint Antoine, nous proclamons avec reconnaissance ta puissance miraculeuse,<br>
et nous te supplions de nous protéger tous les jours de notre vie.
</p>