<ul class="priere gauche">
	<li>Très Précieux Sang, Sang de Jésus-Christ,</li>
	<li>Très Précieux Sang, Sang de Jésus-Christ,</li>
	<li>Très Précieux Sang, Sang de Jésus-Christ,</li>
	<li>Très Précieux Sang, Sang de Jésus-Christ,</li>
	<li>Très Précieux Sang, sauvez le monde.</li>
</ul>