<p class="gras">{{ mc.radio_btn("m1", "mysteres", "1. La main droite de Jésus") }}</p>

<p class="responsive">
Par la précieuse plaie de ta <b>main droite</b><br>
et la douleur causée par le clou qui l'a transpercée,<br>
puisse le Précieux Sang qui s'en écoule<br>
sauver les pécheurs du monde entier<br>
et convertir beaucoup d'âmes. Amen.
</p>

<p class="gras">{{ mc.radio_btn("m2", "mysteres", "2. La main gauche de Jésus") }}</p>

<p class="responsive">
Par la précieuse plaie de ta <b>main gauche</b><br>
et la douleur causée par le clou qui l'a transpercée,<br>
puisse le Précieux Sang qui s'en écoule<br>
sauver les âmes du purgatoire et protéger les mourants<br>
contre les attaques des esprits de l'enfer. Amen.
</p>

<p class="gras">{{ mc.radio_btn("m3", "mysteres", "3. Le pied droit de Jésus") }}</p>

<p class="responsive">
Par la précieuse plaie de ton <b>pied droit</b><br>
et la douleur causée par le clou qui l'a transpercé,<br>
puisse le Précieux Sang qui s'en écoule<br>
protéger le fondement de l'église catholique<br>
contre les plans du royaume occulte et des hommes mauvais. Amen.
</p>

<p class="gras">{{ mc.radio_btn("m4", "mysteres", "4. Le pied gauche de Jésus") }}</p>

<p class="responsive">
Par la précieuse plaie de ton <b>pied gauche</b><br>
et la douleur causée par le clou qui l'a transpercé,<br>
puisse le Précieux Sang qui s'en écoule<br>
nous protéger en tout lieu contre les plans et les attaques<br>
des mauvais esprits et de leurs agents. Amen.
</p>

<p class="gras">{{ mc.radio_btn("m5", "mysteres", "5. Le côté sacré de Jésus") }}</p>

<p class="responsive">
Par la précieuse plaie de ton <b>côté Sacré</b><br>
et la douleur causée par la lance qui l'a percé,<br>
puisse le Précieux Sang et l'Eau qui s'en écoulent<br>
guérir les malades, ressusciter les morts, régler nos problèmes actuels<br>
et nous enseigner la Voie qui mène à Dieu pour Sa gloire éternelle. Amen. 
</p>

{% include spath + "sg-coeur.html" %}

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

<p>"Précieux Sang de Jésus-Christ, sauve-nous et le monde entier." (x 12)</p>

<p class="gras">Gloire au Père</p>

{% include spath + "sg-refrain.html" %}

<p>
(5) L: Ô Très Précieux Sang de Jésus-Christ,<br>
(5) R: Cicatrise les plaies du Très Saint Coeur de Jésus.
</p>
