{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_verset") }}

<p id="verset" class="priere"></p>

{{ mc.grains("dizaine", "dz_grains") }}

{{ mc.anchor("dz_gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("dz_priere_fatima") }}

{% include bpath + "priere-fatima.jinja" %}