<p class="priere" lang="latin">
Ave Maria, gratia plena,<br>
Dominus tecum.<br>
Benedicta tu in mulieribus,<br>
et benedictus fructus ventris tui, Jesus.<br>
Sancta Maria, Mater Dei,<br>
ora pro nobis, peccatoribus,<br>
nunc, et in ora mortis nostrae.<br>
Amen.
</p>