{{ mc.header("fin_st_antoine", "Prière à Saint Antoine") }}

<p class="priere">
Cher Saint Antoine, je te prie,<br>
confiant en ta bonté compatissante qui écoute et réconforte tout le monde.<br>
Sois mon intercesseur auprès de Dieu.<br>
Toi qui as eu une vie évangélique,<br> 
aide-moi à vivre dans la foi et l'espérance chrétienne.<br>
Toi qui a prêché le message de la charité,<br> 
sème le désir de paix et de fraternité dans le monde.<br>
Toi qui a secouru par tes miracles les personnes souffrantes et victimes de l'injustice,<br> 
aide les pauvres et les personnes marginalisées dans ce monde.<br>
Toi qui as eu une vie évangélique,<br> 
bénis en particulier mon travail et ma famille.<br>
Eloigne les maux de l'esprit et du corps.<br>
Fais que je reste toujours uni à Dieu avec la foi de l'amour filial,<br>
dans les moments de joie et d'épreuve.<br>
Amen.
</p>