<p class="priere">
Souvenez-vous, ô très chaste époux de la Vierge Marie,<br>
ô mon aimable protecteur, saint Joseph,<br>
qu'on n'a jamais entendu dire que quelqu'un ait invoqué votre protection<br>
et demandé votre secours sans avoir été consolé.<br>
Animé d'une pareille confiance,<br>
je viens à vous et je me recommande à vous de toute la ferveur de mon âme.<br>
Ne rejetez pas ma prière, ô vous, qui êtes appelé le père du Rédempteur,<br>
mais daignez l'accueillir avec bonté.<br>
Amen.
</p>