<p>
Glorieux saint Antoine,<br>
tu as exercé le divin pouvoir de retrouver ce qui était perdu.<br>
Aide-moi à retrouver la grâce de Dieu,<br>
et rends-moi dévoué au service de Dieu et de la vertu.<br>
Fais-moi retrouver ce que j'ai perdu<br>
et montre-moi ainsi la présence de ta bonté.
</p>