<p>
Très aimé Seigneur, très doux Agneau de Dieu,<br>
Moi pauvre pécheur,<br>
j’adore et vénère la très Sainte Plaie<br>
que Vous avez reçue à l’épaule<br>
en portant au Calvaire<br>
la très lourde Croix qui laissa découverts trois os saints,<br>
occasionnant une immense douleur.<br>
<br>
Je Vous supplie,<br>
en vertu des mérites de ladite Plaie,<br>
d’avoir pitié de moi,<br>
en me pardonnant de tous mes péchés<br>
mortels ou véniels,<br>
en m’assistant à l’heure de ma mort<br>
et en me conduisant dans Votre heureux Royaume.<br>
<br>
Amen.
</p>