<h2>Médaille &minus; Prière à St Benoît</h2>

<p>
Dieu notre Père,<br>
par la bienveillante intercession de saint Benoît,<br>
exauce dans ta miséricorde et ta bonté<br>
les prières que nous t’adressons<br>
pour la liberté et l'exaltation de la Sainte Eglise Universelle, notre Mère,<br>
pour les vocations sacerdotales, monastiques et religieuses,<br>
pour la conversion des pécheurs,<br>
pour la santé des malades,<br>
pour la consolation des affligés,<br>
pour le salut des vivants,<br>
pour tous ceux qui se recommandent ou sont recommandés à nos prières,<br>
pour le soulagement ou la délivrance des défunts,<br>
pour nos familles,<br>
pour nos amis<br>
et spécialement pour nos intentions particulières.<br>
Par Jésus, le Christ, notre Seigneur.<br>
Amen.
</p>