<p>
Très aimé Seigneur, très doux Agneau de Dieu,<br>
Moi pauvre pécheur, j’adore et vénère la très Sainte Plaie<br>
que Vous avez reçue à l’épaule<br>
en portant au Calvaire la très lourde Croix<br>
qui laissa découverts trois os saints, occasionnant une immense douleur.<br>
Je Vous supplie, en vertu des mérites de ladite Plaie, d’avoir pitié de moi,<br>
en me pardonnant de tous mes péchés mortels ou véniels,<br>
en m’assistant à l’heure de ma mort<br>
et en me conduisant dans Votre heureux Royaume.<br>
Amen.
</p>