<h2>Prière en l'honneur de la plaie de l'épaule</h2>

<p>
Très aimé Seigneur, très doux agneau de Dieu,<br>
moi, pauvre pécheur, j'adore et vénère la très sainte plaie<br>
que vous avez reçu à l'épaule en portant au Calvaire la très lourde croix<br>
qui laissa découverts 3 os saints, occasionnant une immense douleur.<br>
Je Vous supplie, en vertu des mérites de la dite plaie,<br>
d'avoir pitié de moi, en me pardonnant tous mes péchés mortels ou véniels,<br>
en m'assistant à l'heure de ma mort<br>
et en me conduisant dans Votre heureux Royaume.<br>
Amen.
</p>