<p>
Esprit Saint, guide-moi sur le chemin de la paix et de la sérénité.<br>
Esprit Saint, conduis-moi sur le sentier de la bienveillance et de l'amour.<br>
Esprit Saint, éclaire-moi pour trouver la guérison dans toutes les dimensions de ma vie.<br>
Esprit Saint, accompagne-moi dans les moments de joie comme dans les épreuves.<br>
Esprit Saint, sois ma lumière et ma voie tout au long de ma vie.<br>
Amen.
</p>