<table>
    <tr>
        <td>1</td>
        <td>Viens, Esprit-Saint, et envoie du haut du ciel, un rayon de ta lumière.</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Viens en nous, père des pauvres. Viens, dispensateur des dons. Viens, lumière de nos cœurs.</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Consolateur souverain, hôte très doux de nos âmes, adoucissante fraîcheur.</td>
    </tr>

    <tr>
        <td>4</td>
        <td>Dans le labeur, le repos. Dans la fièvre, la fraîcheur. Dans les pleurs, le réconfort.</td>
    </tr>

    <tr>
        <td>5</td>
        <td>Ô lumière bienheureuse, viens remplir jusqu’à l’intime, le cœur de tous tes fidèles.</td>
    </tr>

    <tr>
        <td>6</td>
        <td>Sans ta puissance divine, il n’est rien en aucun homme, rien qui ne soit perverti.</td>
    </tr>

    <tr>
        <td>7</td>
        <td>Lave ce qui est souillé. Baigne ce qui est aride. Guéris ce qui est blessé.</td>
    </tr>

    <tr>
        <td>8</td>
        <td>Assouplis ce qui est raide. Réchauffe ce qui est froid. Rends droit ce qui est faussé.</td>
    </tr>

    <tr>
        <td>9</td>
        <td>A tous ceux qui ont la foi, et qui en toi se confient, donne tes sept dons sacrés.</td>
    </tr>

    <tr>
        <td>10</td>
        <td>Donne mérite et vertu. Donne le salut final. Donne la joie éternelle.</td>
    </tr>
</table>