<table>
{{ mc.table_line([1, "Viens, Esprit-Saint, et envoie du haut du ciel, un rayon de ta lumière."]) }}
{{ mc.table_line([2, "Viens en nous, père des pauvres. Viens, dispensateur des dons. Viens, lumière de nos cœurs."]) }}
{{ mc.table_line([3, "Consolateur souverain, hôte très doux de nos âmes, adoucissante fraîcheur."]) }}
{{ mc.table_line([4, "Dans le labeur, le repos. Dans la fièvre, la fraîcheur. Dans les pleurs, le réconfort."]) }}
{{ mc.table_line([5, "Ô lumière bienheureuse, viens remplir jusqu’à l’intime, le cœur de tous tes fidèles."]) }}
{{ mc.table_line([6, "Sans ta puissance divine, il n’est rien en aucun homme, rien qui ne soit perverti."]) }}
{{ mc.table_line([7, "Lave ce qui est souillé. Baigne ce qui est aride. Guéris ce qui est blessé."]) }}
{{ mc.table_line([8, "Assouplis ce qui est raide. Réchauffe ce qui est froid. Rends droit ce qui est faussé."]) }}
{{ mc.table_line([9, "A tous ceux qui ont la foi, et qui en toi se confient, donne tes sept dons sacrés."]) }}
{{ mc.table_line([10, "Donne mérite et vertu. Donne le salut final. Donne la joie éternelle."]) }}
</table>