<p class="fr maskable">
Je vous salue, Joseph,<br>
vous que la grâce divine a comblé.<br>
Le sauveur a reposé dans vos bras et grandi sous vos yeux.<br>
Vous êtes béni entre tous les hommes,<br>
et Jésus, l'enfant divin de votre virginale épouse, est béni.<br>
Saint Joseph, donné pour père au Fils de Dieu,<br>
priez pour nous, dans nos soucis de famille, de santé et de travail,<br>
jusqu'à nos derniers jours,<br>
et daignez nous secourir à l'heure de notre mort.<br>
Amen.
</p>

<p class="latin maskable">
Ave Joseph,<br>
gratia Dei abundantius praedite,<br>
cujus ulnae Salvatorem parvulum portaverunt<br>
et oculi erescentem aspexerunt.<br>
Benedictus es inter viros,<br>
et benedictus filius almae sponsae tuae Jesus.<br>
Sancte Joseph, qui Unigenito Dei in patrem es electus,<br>
quamdiu in terris inter familiae valetudinis laborisque curas versamur,<br>
ora pro nobis et morte imminente nobis subvenire dignare.<br>
Amen.
</p>