<p>
Je vous salue Joseph,<br>
docile à l'Esprit Saint.<br>
Le Seigneur est avec vous.<br>
Vous êtes l'époux virginal de Marie,<br>
et Jésus, que Dieu vous confia, est béni.<br>
Saint Joseph, père par le coeur,<br>
priez pour nous, pécheurs,<br>
maintenant et à l'heure de notre mort.<br>
Amen.
</p>