<p>
Je vous salue Joseph,<br>
vous que la grâce divine a comblé,<br>
le Sauveur a grandi avec vous.<br>
Vous êtes béni entre tous les hommes,<br>
et Jésus, l'enfant divin de votre virginale épouse, est béni.<br>
Saint Joseph, donné pour père au Fils de Dieu,<br>
priez pour notre famille, notre santé et notre travail.<br>
Amen.
</p>