<p>
Saint Michel Archange, défendez-nous dans le combat.<br>
Soyez notre secours contre la malice et les embûches du démon.<br>
Que Dieu exerce sur lui son empire.<br>  
Nous vous le demandons en suppliant.<br>
Et vous, prince de la Milice Céleste,<br>
par la force divine, repoussez en enfer Satan<br> 
et les autres esprits mauvais<br>
qui rôdent dans le monde en vue de perdre les âmes.<br>
Amen.
</p>