<p>
"Je te bénis, Père, d'avoir caché ce mystère aux sages et aux intelligents<br>
et de l'avoir révélé aux tout petits." (Mat 11, 25)
</p>

<p>
Seigneur, Père des Miséricordes,<br>
petite Thérèse a tout attendu de Toi<br>
comme un petit enfant attend tout de son père.<br>
Sa confiance inconditionnelle et son abandon d'enfant lui faisaient espérer<br>
"Que Tu ferais sa volonté au Ciel puisqu'elle avait toujours fait la Tienne sur la Terre."
</p>

<p>Je te supplie d'exaucer la prière que je T'adresse avec foi et abandon en me confiant à son intercession.</p>