<ul class="priere">
    <li>Esprit-Saint, <b>embrase</b>-moi.</li>
    <li>Feu de Dieu, <b>consume</b>-moi</li>
    <li>Au vrai chemin, <b>conduis</b>-moi.</li>
    <li>Esprit-Saint, <b>illumine</b>-moi.</li>
    <li>Feu d'amour, <b>enflamme</b>-moi.</li>
    <li>En Jésus, <b>épouse</b>-moi.</li>
    <li>Amour de Dieu, <b>guéris</b>-moi.</li>
    <li>Esprit-Saint, <b>inspire</b>-moi.</li>
    <li>Amour du Fils, <b>comble</b>-moi.</li>
    <li><b>Donne</b>-moi le vrai bonheur.</li>
</ul>