<h2>Choeurs</h2>

{% include bpath + "choeurs.jinja" %}

<p class="priere">
Par l'intercession de 

<select id="sel_anges">
    <option>Saint Michel</option>
    <option>Saint Gabriel</option>
    <option>Saint Raphaël</option>
    <option>mon ange gardien</option>
</select>

et du choeur céleste des <span id="choeur" class="gras">séraphins</span>,<br>
que le Seigneur <span id="suite" class="gras">nous rende dignes de brûler du feu de la charité parfaite</span>.<br>
Amen.
</p>
