<h2>Oraison finale</h2>

<p class="priere">
Dieu tout puissant et éternel,<br>
qui par un prodige de bonté et de miséricorde<br> 
pour le salut commun des hommes<br> 
avez choisi pour prince de votre Église<br> 
le très glorieux archange saint Michel,<br>
rendez-nous dignes, nous vous en prions,<br> 
d'être délivrés, par sa bienveillante protection,<br>
de tous nos ennemis, afin qu'à notre mort,<br>
aucun d'eux ne puisse nous inquiéter,<br>
mais qu'il nous soit donné d'être introduits par lui<br> 
en présence de votre puissante et auguste majesté.<br> 
<br>
Par les mérites de Jésus-Christ, notre Seigneur.<br>
<br>
Amen.
</p>