<h2>Pater Noster</h2>

<p class="maskable">
Pater Noster, qui es in caelis<br>
sanctificetur nomen tuum,<br>
adveniat regnum tuum,<br>
fiat voluntas tua, sicut in caelo et in terra.<br>
Panem nostrum quotidianum da nobis hodie,<br>
et dimitte nobis debita nostra,<br>
sicut et nos dimittimus debitoribus nostris,<br>
et ne nos inducas in tentationem,<br>
sed libera nos a malo.<br>
Amen.
</p>