<h2>Salve Regina</h2>

<p class="maskable">
Salve, Regina, Mater misericordiae,<br>
Vita, dulcedo et spes nostra. Salve !<br>
Ad te clamamus, exsules filii Evae.<br>
Ad te suspiramus, gementes et flentes in hac lacrimarum valle.<br>
Eia ergo, advocata nostra, illos tuos misericordes oculos ad nos converte.<br>
Et Jesum, benedictum fructum ventris tui, nobis post hoc exilium ostende.<br>
O clemens, o pia, o dulcis Virgo Maria.<br>
Amen.
</p>