<h2>Psaume 142 (143)</h2>

<p class="priere">
01 - Seigneur, entends ma prière.<br>
Dans ta justice, écoute mes appels.<br>
Dans ta fidélité, réponds-moi.<br>
<br>
02 - N'entre pas en jugement avec ton serviteur.<br>
Aucun vivant n'est juste devant toi.<br>
<br>
03 - L'ennemi cherche ma perte.<br>
Il foule au sol ma vie.<br>
Il me fait habiter les ténèbres avec les morts de jadis.<br>
<br>
04 - Le souffle en moi s'épuise.<br>
Mon coeur au fond de moi s'épouvante.<br>
<br>
05 - Je me souviens des jours d'autrefois.<br>
Je me redis toutes mes actions.<br>
Sur l'oeuvre de tes mains, je médite.<br>
<br>
06 - Je tends les mains vers toi.<br>
Me voici devant toi comme une terre assoiffée.<br>
<br>
07 - Vite, réponds-moi, Seigneur !<br>
Je suis à bout de souffle !<br>
Ne me cache pas ton visage.<br>
Je serais de ceux qui tombent dans la fosse.<br>
<br>
08 - Fais que j'entende au matin ton amour,<br>
car je compte sur toi.<br>
Montre-moi le chemin que je dois prendre.<br>
Vers toi, j'élève mon âme !<br>
<br>
09 - Délivre-moi de mes ennemis, Seigneur.<br>
J'ai un abri auprès de toi.<br>
<br>
10 - Apprends-moi à faire ta volonté,<br>
car tu es mon Dieu.<br>
Ton souffle est bienfaisant.<br>
Qu'il me guide en un pays de plaines.<br>
<br>
11 - Pour l'honneur de ton nom,<br>
Seigneur, fais-moi vivre.<br>
A cause de ta justice, tire-moi de la détresse.<br>
<br>
12 - A cause de ton amour,<br>
tu détruiras mes ennemis.<br>
Tu feras périr mes adversaires,<br>
car je suis ton serviteur.
</p>