<h2>Psaume 101 (102)</h2>

<p>
02 - Seigneur, entends ma prière.<br>
Que mon cri parvienne jusqu'à toi !<br>
<br>
03 - Ne me cache pas ton visage,<br>
le jour où je suis en détresse !<br>
Le jour où j'appelle, écoute-moi.<br>
Viens vite, réponds-moi !<br>
<br>
04 - Mes jours s'en vont en fumée.<br>
Mes os comme un brasier sont en feu.<br>
<br>
05 - Mon coeur se dessèche comme l'herbe fauchée.<br>
J'oublie de manger mon pain.<br>
<br>
06 - A force de crier ma plainte, ma peau colle à mes os.<br>
<br>
07 - Je ressemble au corbeau du désert.<br>
Je suis pareil à la hulotte des ruines.<br>
<br>
08 - Je veille la nuit, comme un oiseau solitaire sur un toit.<br>
<br>
09 - Le jour, mes ennemis m'outragent.<br>
Dans leur rage contre moi, ils me maudissent.<br>
<br>
10 - La cendre est le pain que je mange.<br>
Je mêle à ma boisson mes larmes.<br>
<br>
11 - Dans ton indignation, dans ta colère,<br>
tu m'as saisi et rejeté.<br>
<br>
12 - L'ombre gagne sur mes jours, et moi,<br>
je me dessèche comme l'herbe.<br>
<br>
13 - Mais toi, Seigneur, tu es là pour toujours.<br>
D'âge en âge, on fera mémoire de toi.<br>
<br>
14 - Toi, tu montreras ta tendresse pour Sion.<br>
Il est temps de la prendre en pitié.<br>
L'heure est venue.<br>
<br>
15 - Tes serviteurs ont pitié de ses ruines.<br>
Ils aiment jusqu'à sa poussière.<br>
<br>
16 - Les nations craindront le nom du Seigneur,<br>
et tous les rois de la Terre, sa gloire.<br>
<br>
17 - Quand le Seigneur rebâtira Sion,<br>
quand il apparaîtra dans sa gloire.<br>
<br>
18 - Il se tournera vers la prière du spolié.<br>
Il n'aura pas méprisé sa prière.<br>
<br>
19 - Que cela soit écrit pour l'âge à venir,<br>
et le peuple à nouveau créé chantera son Dieu.<br>
<br>
20 - "Des hauteurs, son sanctuaire,<br>
le Seigneur s'est penché du ciel,<br>
il regarde la Terre."<br>
<br>
21 - "Pour entendre la plainte des captifs<br>
et libérer ceux qui devaient mourir."<br>
<br>
22 - On publiera dans Sion le nom du Seigneur,<br>
et sa louange dans tout Jérusalem.<br>
<br>
23 - Au rassemblement des royaumes et des peuples,<br>
qui viendront servir le Seigneur.<br>
<br>
24 - Il a brisé ma force en chemin,<br>
réduit le nombre de mes jours.<br>
<br>
25 - Et j'ai dit : "Mon Dieu, ne me prends pas au milieu de mes jours !"<br>
Tes années recouvrent tous les temps.<br>
<br>
26 - Autrefois, tu as fondé la Terre.<br>
Le ciel est l'ouvrage de tes mains.<br>
<br>
27 - Ils passent, mais toi, tu demeures.<br>
Ils s'usent comme un habit, l'un et l'autre.<br>
Tu les remplaces comme un vêtement.<br>
<br>
28 - Toi, tu es le même.<br>
Tes années ne finissent pas.<br>
<br>
29 - Les fils de tes serviteurs trouveront un séjour,<br>
et devant toi se maintiendra leur descendance.
</p>