<h2>Psaume 20</h2>

<p>
02 - Que le Seigneur t'exauce au jour de la détresse.<br>
Que le nom du Dieu de Jacob te protège.<br>
<br>
03 - Que du Sanctuaire, il t'envoie du secours.<br>
Que de Sion, il te soutienne.<br>
<br>
04 - Qu’il se souvienne de toutes tes offrandes.<br>
Et qu’il agrée tes holocaustes.<br>
<br>
05 - Qu'il te donne ce que ton coeur désire.<br>
Et qu’il accomplisse tous tes desseins.<br>
<br>
06 - Nous nous réjouirons de ton salut.<br>
Nous lèveront l'étendard au nom de notre Dieu.<br>
Le Seigneur exaucera tous tes voeux.<br>
<br>
07 - Je sais déjà que le Seigneur sauve son oint.<br>
Il exaucera des cieux, de sa Sainte Demeure, par le secours puissant de sa main droite.<br>
<br>
08 - Ceux-ci s'appuient sur leur chars.<br>
Et les autres, sur leurs chevaux.<br>
Nous, nous invoquons le nom du Seigneur, notre Dieu.<br>
<br>
09 - Eux, ils plient, et ils tombent.<br>
Nous, nous tenons ferme, et restons debout.<br>
<br>
10 - Seigneur, sauve le roi.<br>
Qu'il nous exauce quand nous l'invoquons.
</p>