<h2>Psaume 37 (38)</h2>

<p>
02 - Seigneur, corrige-moi sans colère<br>
et reprends-moi sans violence.<br>
<br>
03 - Tes flèches m'ont frappé,<br>
ta main s'est abattue sur moi.<br>
<br>
04 - Rien n'est sain dans ma chair sous ta fureur,<br>
rien d'intact en mes os depuis ma faute.<br>
<br>
05 - Oui, mes péchés me submergent,<br>
leur poids trop pesant m'écrase.<br>
<br>
06 - Mes plaies sont puanteur et pourriture.<br>
C'est là le prix de ma folie.<br>
<br>
07 - Accablé, prostré, à bout de forces,<br>
tout le jour, j'avance dans le noir.<br>
<br>
08 - La fièvre m'envahit jusqu'aux moelles,<br>
plus rien n'est sain dans ma chair.<br>
<br>
09 - Brisé, écrasé, à bout de forces,<br>
mon coeur gronde et rugit.<br>
<br>
10 - Seigneur, tout mon désir est devant toi,<br>
et rien de ma plainte ne t'échappe.<br>
<br>
11 - Le coeur me bat, ma force m'abandonne,<br>
et même la lumière de mes yeux.<br>
<br>
12 - Amis et compagnons se tiennent à distance,<br>
et mes proches, à l'écart de mon mal.<br>
<br>
13 - Ceux qui veulent ma perte me talonnent,<br>
ces gens qui cherchent mon malheur.<br>
Ils prononcent des paroles maléfiques.<br>
Tout le jour, ils ruminent leur traîtrise.<br>
<br>
14 - Moi, comme un sourd, je n'entends rien.<br>
Comme un muet, je n'ouvre pas la bouche.<br>
<br>
15 - Pareil à celui qui n'entend pas,<br>
qui n'a pas de réplique à la bouche.<br>
<br>
16 - C'est toi que j'espère, Seigneur.<br>
Seigneur, mon Dieu, toi, tu répondras.<br>
<br>
17 - J'ai dit : "Qu'ils ne triomphent pas,<br>
ceux qui rient de moi quand je trébuche !"<br>
<br>
18 - Et maintenant, je suis près de tomber,<br>
ma douleur est toujours devant moi.<br>
<br>
19 - Oui, j'avoue mon péché.<br>
Je m'effraie de ma faute.<br>
<br>
20 - Mes ennemis sont forts et vigoureux.<br>
Ils sont nombreux à m'en vouloir injustement.<br>
<br>
21 - Ils me rendent le mal pour le bien.<br>
Quand je cherche le bien, ils m'accusent.<br>
<br>
22 - Ne m'abandonne jamais, Seigneur.<br>
Mon Dieu, ne sois pas loin de moi.<br>
<br>
23 - Viens vite à mon aide,<br>
Seigneur, mon salut !
</p>