<p class="priere">
Ô Très Précieux Sang de Jésus-Christ,<br>
nous t’honorons, nous te bénissons et nous t’adorons.<br>
Guéris les blessures de nos âmes et lave les péchés du monde entier.<br>
Ô Précieux Sang, prends pitié de nous et du monde entier.<br>
Amen.
</p>

{{ mc.anchor("outro_fin") }}

<ul class="priere">
    <li><b>Cœur Sacré de Jésus</b>, aie pitié de nous.</li>
    <li><b>Cœur Immaculé de Marie</b>, prie pour nous.</li>
    <li><b>Saint Joseph</b>, chaste époux de Marie, prie pour nous.</li>
    <li><b>Saint Pierre</b> et <b>Saint Paul</b>, priez pour nous.</li>
    <li><b>Saint Jean</b> au pied de la Croix, prie pour nous.</li>
    <li><b>Sainte Marie-Madeleine</b>, prie pour nous.</li>
    <li>Tous <b>les saints</b> et <b>les anges</b> du Ciel, priez pour nous.</li>
</ul>
