<h2>Prière finale de libération</h2>

<p class="priere">
Seigneur Jésus,<br>
nous demandons pardon pour tous nos péchés.<br>
Nous demandons, en ton nom,<br>
que le Père envoie son Saint-Esprit déverser dans nos cœurs<br>
le don de proclamer ta parole avec foi et confiance,<br>
par le chapelet de la libération.<br>
Nous demandons, Jésus,<br>
que ton pouvoir se manifeste dans nos vies,<br>
et que tu réalises miracles et merveilles <br>
par cette puissante prière de foi,<br>
qui n’est autre que la proclamation de ta parole.<br>
Amen.
</p>
