<p class="priere">
Puisse le Précieux Sang s'écoulant du<br>
Chef Sacré de Notre Seigneur Jésus-Christ,<br>
Temple de la Divine Sagesse,<br>
Tabernacle de la Science Divine<br>
et Soleil du Ciel et de la Terre,<br>
nous couvrir maintenant et toujours.<br>
Amen.
</p>

<hr />

<p class="priere">
Ô Très Précieux Sang de Jésus-Christ,<br>
cicatrise les plaies du Très Saint Cœur de Jésus. 
</p>