<ul class="priere">
    <li><b>Cœur Sacré de Jésus</b>, j'ai confiance en toi.</li>
    <li><b>Cœur Immaculé de Marie</b>, prie pour nous.</li>
    <li><b>Saint Joseph</b>, prie pour nous.</li>
    <li><b>Sainte Famille de Nazareth</b>, priez pour nous.</li>
</ul>
