<p class="priere">
Dieu, notre refuge et notre force,<br>
regarde favorablement ton peuple qui crie vers toi et,<br>
par l'intercession de la glorieuse et immaculée Vierge Marie, Mère de Dieu,<br>
de saint Joseph, son bienheureux époux,<br>
des bienheureux apôtres Pierre et Paul,<br>
et de tous les saints.<br>
Ecoute avec miséricorde et bienveillance,<br>
les prières que nous t'adressons pour la conversion des pécheurs,<br>
et pour la liberté et l'exaltation de notre Mère la sainte Église.<br>
Par le Christ, notre Seigneur.<br>
Amen. 
</p>

{{ mc.anchor("outro_fin_1") }}

<p class="priere">
Ô Très Précieux Sang de Jésus-Christ,<br>
nous te louons, nous te bénissons et nous t'adorons.<br>
parce que tu as amené l'Alliance Nouvelle et Eternelle,<br>
source de paix pour l'humanité.<br>
Cicatrise les plaies du Très Saint Coeur de Jésus.<br>
Console le Père Tout-Puissant assis sur son trône<br>
et efface les péchés du monde entier.<br>
Que tous te vénèrent.<br>
O Précieux Sang, sois miséricordieux.<br>
Amen.
</p>

{{ mc.anchor("outro_fin_2") }}

<ul class="priere">
    <li><b>Cœur Sacré de Jésus</b>, aie pitié de nous.</li>
    <li><b>Cœur Immaculé de Marie</b>, prie pour nous.</li>
    <li><b>Saint Joseph</b>, chaste époux de Marie, prie pour nous.</li>
    <li><b>Saint Pierre</b> et <b>Saint Paul</b>, priez pour nous.</li>
    <li><b>Saint Jean</b> au pied de la Croix, prie pour nous.</li>
    <li><b>Sainte Marie-Madeleine</b>, prie pour nous.</li>
    <li>Tous <b>les soldats de la prière</b> et <b>intercesseurs au ciel</b>, priez pour nous.</li>
    <li>Toute <b>la milice céleste</b>, priez pour nous.</li>
    <li>Toute <b>la légion de Marie</b>, priez pour nous.</li>
</ul>
