{{ mc.header("oraison_finale", "Oraison finale") }}

<p class="priere">
<b>Coeur Sacré de Jésus</b>, j'ai confiance en toi.<br>
<b>Coeur Immaculé de Marie</b>, priez pour nous.<br>
<b>Saint Joseph</b>, priez pour nous.<br>
<b>Notre Dame de Lourdes</b>, priez pour nous.<br>
<b>Saint Michel Archange</b>, priez pour nous.<br>
<b>Saint Raphaël Archange</b>, priez pour nous.<br>
<b>Notre saint ange gardien</b>, veillez sur nous.<br>
<b>Tous les anges et tous les saints</b>, priez pour nous.<br>

Ô Marie, conçue sans péché, priez pour nous qui avons recours à vous. (x 3)
</p>