<p class="intro" id="lumineux_1">
Je t'offre cette 1ère dizaine, Seigneur Jésus,<br>
en l'honneur de ton baptême dans le Jourdain,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une parfaite fidélité aux promesses de mon baptême.
</p>

<p class="intro" id="lumineux_2">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur des noces de Cana,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une parfaite confiance en elle.
</p>

<p class="intro" id="lumineux_3">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de l'annonce du Royaume de Dieu,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une parfaite conversion de mon coeur.
</p>

<p class="intro" id="lumineux_4">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de ta transfiguration,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
un plus grand recueillement dans mes prières.
</p>

<p class="intro" id="lumineux_5">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de l'institution du sacrement de l'Eucharistie,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une plus grande dévotion au très saint sacrement.
</p>