<p class="intro" id="glorieux_1">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de ta triomphante résurrection,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une vive foi.
</p>

<p class="intro" id="glorieux_2">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de ta glorieuse ascension,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une ferme espérance et un grand désir du paradis.
</p>

<p class="intro" id="glorieux_3">
Je t'offre cette dizaine, Esprit-Saint,<br>
en l'honneur du mystère de la Pentecôte,<br>
et je te demande, par ce mystère et l'intercession de Ste Marie,<br>
la divine sagesse pour connaître, goûter, pratiquer la vérité,<br>
et la faire participer à tout le monde.
</p>

<p class="intro" id="glorieux_4">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de l'Immaculée Conception,<br>
et de l'Assomption en corps et en âme de ta sainte mère dans les cieux,<br>
et je te demande, par ce mystère et son intercession,<br>
une vraie dévotion envers elle pour bien vivre et mourir.
</p>

<p class="intro" id="glorieux_5">
Je t'offre cette dizaine, Seigneur Jésus,<br>
par les 20 mystères de ta vie, ta mort et ta passion,<br>
ta gloire et les mérites de ta sainte mère,<br>
de convertir les pécheurs,<br>
d'aider les agonisants,<br>
de délivrer les âmes du purgatoire,<br>
de nous donner à tous ta grâce pour bien vivre et mourir,<br>
et ta gloire pour te voir face à face,<br>
et t'aimer pour l'éternité.
</p>