<p class="priere intro" id="m_annonciation">
Je t'offre cette première dizaine, Seigneur Jésus,<br>
en l'honneur du mystère de l'annonciation,<br>
et je te demande, par ce mystère et l'annonciation de ta sainte mère,<br>
une profonde humilité de coeur.
</p>

<p class="priere intro" id="m_visitation">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de la visitation de ta sainte mère à sa cousine Ste Elisabeth,<br>
et je te demande, par ce mystère et l'intercession de Marie,<br>
une parfaite charité envers mon prochain.
</p>

<p class="priere intro" id="m_nativite">
Je t'offre, cette dizaine, enfant Jésus, en l'honneur de ta nativité,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
le détachement des biens du monde, l'amour de la pauvreté et des pauvres.
</p>

<p class="priere intro" id="m_presentation_temple">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de ta présentation au temple,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
le don de la sagesse et la pureté de coeur et de corps.
</p>

<p class="priere intro" id="m_recouvrement_temple">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de ton recouvrement au temple<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
ma conversion et celle de tous les pécheurs.
</p>