<p class="priere intro" id="m_agonie_jesus">
Jésus, agonissant au jardin de Gethsémani,<br>
et pleinement soumis à la volonté du Père,<br>
nous te louons, te bénissons et t'adorons.
</p>

<p class="priere intro" id="m_flagellation">
Jésus, cruellement flagellé pour nos péchés de sensualité et d'impureté,<br>
nous te louons, te bénissons et t'adorons.
</p>

<p class="priere intro" id="m_couronnement_epines">
Jésus, couronné d'épines et outragé,<br>
nous te louons, te bénissons et t'adorons.
</p>

<p class="priere intro" id="m_portement_croix">
Jésus, portant sa croix et marchant vers le Golgotha,<br>
nous te louons, te bénissons et t'adorons.
</p>

<p class="priere intro" id="m_crucifixion">
Jésus, cloué et mort sur la croix, et au coeur transpercé,<br>
nous te louons, te bénissons et t'adorons.
</p>