<p class="intro" id="douloureux_1">

</p>

<p class="intro" id="douloureux_2">

</p>

<p class="intro" id="douloureux_3">

</p>

<p class="intro" id="douloureux_4">

</p>

<p class="intro" id="douloureux_5">

</p>