<p class="intro" id="joyeux_1">
Je t'offre cette 1ère dizaine, Seigneur Jésus,<br>
en l'honneur du mystère de l'annonciation,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une profonde humilité de coeur.
</p>

<p class="intro" id="joyeux_2">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de la visitation de ta sainte mère à sa cousine Ste Elisabeth,<br>
et je te demande, par ce mystère et l'intercession de Ste Marie,<br>
une parfaite charité envers mon prochain.
</p>

<p class="intro" id="joyeux_3">
Je t'offre cette dizaine, enfant Jésus,<br>
en l'honneur de ta nativité,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
le détachement des biens du monde, l'amour de la pauvreté et des pauvres.
</p>

<p class="intro" id="joyeux_4">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de ta présentation au temple,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
le don de la sagesse et la pureté de coeur et de corps.
</p>

<p class="intro" id="joyeux_5">
Je t'offre cette dizaine, Seigneur Jésus,<br>
en l'honneur de ton recouvrement au temple,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
ma conversion et celle de tous les pécheurs.
</p>