<p class="intro" id="douloureux_1">
Jésus, agonisant au jardin de Gethsémani et pleinement soumis à la volonté du Père,<br>
nous te louons, nous te bénissons et nous t'adorons.
</p>

<p class="intro" id="douloureux_2">
Jésus, cruellement flagellé pour nos péchés de sensualité et d'impureté,<br>
nous te louons, nous te bénissons et nous t'adorons.
</p>

<p class="intro" id="douloureux_3">
Jésus, couronné d'épines et outragé,<br>
nous te louons, nous te bénissons et nous t'adorons.
</p>

<p class="intro" id="douloureux_4">
Jésus, portant sa croix et marchant vers le Golgotha,<br>
nous te louons, nous te bénissons et nous t'adorons.
</p>

<p class="intro" id="douloureux_5">
Jésus, cloué, mort sur la croix et au coeur transpercé,<br>
nous te louons, nous te bénissons et nous t'adorons.
</p>