<p class="priere intro" id="m_bapteme_jesus">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de ton baptême dans le Jourdain<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une parfaite fidélité aux promesses de mon baptême.
</p>

<p class="priere intro" id="m_noces_cana">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur des noces de Cana<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une parfaite confiance en elle.
</p>

<p class="priere intro" id="m_annonce_royaume">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de l'annonce du Royaume de Dieu,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une parfaite conversion de mon coeur.
</p>

<p class="priere intro" id="m_transfiguration">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de ta transfiguration<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
un plus grand recueillement dans mes prières.
</p>

<p class="priere intro" id="m_eucharistie">
Je t'offre, Seigneur Jésus, cette dizaine en l'honneur de l'institution du sacrement de l'eucharistie,<br>
et je te demande, par ce mystère et l'intercession de ta sainte mère,<br>
une plus grande dévotion au très saint sacrement.
</p>