<p>
Très glorieux Saint Michel,<br>
chef et prince des armées célestes,<br>
gardien fidèle des âmes,<br>
vainqueur des esprits rebelles,<br>
favori de la maison de Dieu,<br>
notre admirable guide après Jésus-Christ,<br>
vous dont l'excellence et la vertu sont suréminentes.<br>
<br>
Daignez nous délivrer de tous les maux,<br>
nous tous qui recourons à vous avec confiance,<br>
et faites par votre incomparable protection,<br>
que nous avancions chaque jour dans la fidélité à servir Dieu.<br>
<br>
V. Priez pour nous, ô bienheureux Saint Michel,<br>
prince de l'Eglise de Jésus-Christ.<br>
R. Afin que nous puissions être rendus dignes de ses promesses.
</p>