<p>
Saint Michel Archange,<br>
grand prince des milices célestes,<br>
défendez-nous dans le combat<br>
pour que nous ne périssions pas au jour du Jugement.<br>
Ô Dieu, venez à mon aide.<br>
Seigneur, hâtez-vous de me secourir.
</p>