{% include path + "credo.html" %}

{{ mc.anchor("b_notre_pere") }}

{% include path + "notre-pere.html" %}

{{ mc.anchor("b_ste_mere") }}

{% include path + "ste-marie.html" %}

{% include gpath + "trio-vertus.html" %}

{{ mc.anchor("b_gloire_pere") }}

{% include path + "gloire-pere.html" %}