{% include bpath + "credo.jinja" %}

{{ mc.anchor("b_notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("b_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("base_trio", ["-", "foi", "espérance", "charité"]) }}

{{ mc.anchor("b_gloire") }}

{% include bpath + "gloire-pere.jinja" %}