<p class="gras">Credo</p>

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("base_trio", ["-", "foi", "espérance", "charité"]) }}

<p class="gras">Gloire au Père</p>