{{ mc.anchor("dz_notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

<div id="dizaine">
{{ mc.anchor("dz_ste_marie") }}

{% include bpath + "ste-marie-clausule.jinja" %}
</div>

<div id="verset"></div>

{{ mc.grains("dizaine", "dz_grains") }}

{{ mc.anchor("dz_gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("dz_priere_fatima") }}

{% include bpath + "priere-fatima.jinja" %}