{{ mc.anchor("dz_notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ste_marie") }}

{% include rpath + "rs-clausules-ste-marie.jinja" %}

{% include gpath + "dz-grains.jinja" %}

{{ mc.anchor("dz_gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{% include rpath + "rs-priere-fatima.jinja" %}