{{ mc.anchor("dz_base", "=") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("dz_grains", range(0, 11)) }}

{{ mc.anchor("dz_gloire") }}

{% include bpath + "gloire-pere.jinja" %}