{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ste_marie") }}

{% include bpath + "ste-marie-dz.jinja" %}

<p>"Si Jésus nous libère, nous serons vraiment libres." (Jean 8, 36)</p>

{{ mc.grains("cdizaine", "dz_grains") }}

{{ mc.anchor("dz_gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("dz_fatima") }}

{% include bpath + "priere-fatima.jinja" %}