{% set mpath = "chapelets/mysteres/" %}

{{ mc.script("utils.js") }}
{{ mc.script("versions.js") }}

{{ mc.script(mpath + "ch-joyeux.js") }}
{{ mc.script(mpath + "ch-lumineux.js") }}
{{ mc.script(mpath + "ch-douloureux.js") }}
{{ mc.script(mpath + "ch-glorieux.js") }}

{{ mc.script("chapelets/chapelet.js") }}