<p class="priere">
Auguste Reine des cieux, souveraine maîtresse des Anges,<br>
vous qui avez reçu de Dieu le pouvoir et la mission d’écraser la tête de Satan,<br>
nous vous le demandons humblement,<br>
envoyez vos légions saintes,<br>
pour que sous vos ordres et par votre puissance,<br>
elles poursuivent les démons, les combattent partout,<br>
répriment leur audace et les refoulent dans l’abîme.<br>
"Qui est comme Dieu ?"<br>
Ô bonne et tendre Mère, vous serez toujours<br>
notre amour et notre espérance.<br>
Ô divine Mère, envoyez les saints Anges pour nous défendre<br>
et repousser loin de nous le cruel ennemi.<br>
Saints Anges et Archanges, défendez-nous et gardez-nous.<br>
Amen.
</p>