<p>
Ô Très Précieux Sang de Jésus-Christ,<br>
nous t’honorons, nous t’adorons et nous te bénissons.<br>
Guéris les blessures de nos âmes et lave les péchés du monde entier.<br>
Ô Précieux Sang, prends pitié de nous et du monde entier.<br>
Amen.
</p>