<p>
Créateur Divin,<br>
si moi, ma famille, mes proches ou mes ancêtres,<br>
vous ont offensé ou ont offensé<br>
votre famille, vos proches ou vos ancêtres,<br>
en pensées, en paroles ou en actions,<br>
nous vous demandons pardon.<br>
Que toutes ces mémoires du passé<br>
soient transmutées en amour inconditionnel.
</p>