<p>
Ô Jésus, Divin Rédempteur, sois miséricordieux pour nous et pour le monde entier. Amen.<br>

Dieu saint, Dieu fort, Dieu immortel, aie pitié de nous et du monde entier. Amen.<br>

Ô Père Eternel, traite-nous avec miséricorde par le sang de Jésus, ton Fils Unique.<br>
Traite-nous avec miséricorde, nous t’en conjurons. Amen.
</p>