<p>
Seigneur Jésus-Christ, je me tourne vers Toi pour Te remercier<br>
pour tout ce que Tu as fait dans ma vie passée,<br>
présente et pour ce que Tu feras à l'avenir<br>
et aussi pour ce que Tu as souffert pour moi à Gethsémani.<br>
<br>
Enfin, et surtout, je veux Te remercier<br>
pour le don que Tu as fait de Ton être tout entier<br>
comme nourriture pour mon âme,<br>
sous l'apparence du pain et du vin,<br>
dans le Très Saint Sacrement de l'Eucharistie.
</p>