<p>
<b>Cœur Sacré de Jésus</b>, j’ai confiance en Toi.<br>
<b>Cœur Immaculé de Marie</b>, prie pour nous.<br>
<b>Saint Joseph</b>, prie pour nous.<br>
<b>Saint Pierre et saint Paul</b>, priez pour nous.<br>
<b>Saint Jean au pied de la Croix</b>, prie pour nous.<br>
<b>Sainte Marie-Madeleine</b>, prie pour nous.<br>
Tous les <b>Saints</b> et les <b>Anges</b> du Ciel, priez pour nous.
</p>