<p>
Seigneur Jésus-Christ, vous êtes le serviteur souffrant,<br>
vous avez pris sur vous l’iniquité, les fautes et le châtiment de tous,<br>
et vous nous avez offert la guérison et la libération.
</p>

<p>
Vous êtes le Juste "qui portez le péché des multitudes et intercédez pour les criminels" (Is 53, 12).
</p>

<p>
Vous êtes allé prêcher aux esprits des morts pour les sauver (1P3, 19).
</p>

<p>
Je viens vers vous au nom de tous les membres décédés de ma famille,<br>
qui ne sont pas encore dans votre Amour.
</p>

<p>
Veuillez les recouvrir de votre sang précieux : 
</p>

<p>
"Que les eaux du baptême refluent sur toutes les générations passées de mon arbre généalogique".
</p>

<p>
Vous, Jésus, vous nous avez réconciliés avec Dieu le Père des miséricordes et de toute consolation.
</p>

<p>
J’invoque le pardon de votre Croix sur eux tous.
</p>

<p>
Je dresse et plante la croix de Jésus dans toutes les générations qui m’ont précédé.
</p>

<p>
Je veux aussi pardonner, bénir tous les ancêtres 
qui ont laissé des influences négatives dans notre descendance.
</p>

<p>
Par vous, ô Christ miséricordieux, nous, leurs descendants, leur pardonnons du fond du cœur et nous les bénissons. 
</p>

<p>
Pardonnez-nous Seigneur nos propres péchés que nous vous confessons.
</p>

<p>
Par votre Cœur transpercé ô Jésus, nous leur demandons pardon du fond du cœur<br>
si nous les avons offensés et si nous ne les avons pas aimés comme ils le souhaitaient.
</p>

<p>
Que par la grâce du Sacrement Eucharistique du Christ mort pour eux,<br>
ils soient réconciliés avec les vivants et les morts<br>
et entrent dans la paix et la communion de votre amour,<br>
dans la joie éternelle du Christ Ressuscité.
</p>

<p>
Que tous leurs descendants affectés par leurs désobéissances soient guéris et délivrés au nom de Jésus.
</p>

<p>
Ne permets pas que leurs péchés affligent encore notre famille.
</p>

<p>
Seigneur Jésus-Christ, nous vous présentons les morts connus et inconnus de nous, dans notre arbre généalogique.
</p>

<p>
Nous les abandonnons à votre sainte miséricorde.
</p>

<p>
Permettez qu’ils fassent l’expérience de votre amour et de votre pardon.
</p>

<p>
Ô notre Seigneur notre Dieu, nous vous remercions, nous vous bénissons et nous vous glorifions.
</p>
