<p>
Mère de la Miséricorde Divine,<br>
intercédez pour les Saintes âmes détenues au Purgatoire,<br>
par la puissance de Votre Cœur Immaculé,<br>
pour glorifier Dieu en vue du Salut de toutes les âmes.
</p>