<table>
    <tr>
        <td class="gras">Crux Sacra Sit Mihi Lux</td>
        <td>Que la sainte Croix soit ma lumière</td>
    </tr>

    <tr>
        <td class="gras">Non Draco Sit Mihi Dux</td>
        <td>Que le dragon ne soit pas mon guide</td>
    </tr>

    <tr>
        <td class="gras">Vade Retro Satana</td>
        <td>Arrière, Satan</td>
    </tr>

    <tr>
        <td class="gras">Non Suade Mihi Vana</td>
        <td>Ne viens pas me conseiller tes vanités</td>
    </tr>

    <tr>
        <td class="gras">Sunt Mala Quae Libas</td>
        <td>Le breuvage que tu verses est le mal</td>
    </tr>

    <tr>
        <td class="gras">Ipse Venena Bibas</td>
        <td>Bois toi-même tes poisons</td>
    </tr>
</table>
