<p>
Seigneur Jésus-Christ, je me tourne vers Toi<br>
pour Te remercier pour tout ce que Tu as fait<br>
dans ma vie passée, présente et pour ce que Tu feras à l'avenir<br>
et aussi pour ce que Tu as souffert pour moi à Gethsémani.<br>
<br>
Enfin, et surtout je veux Te remercier pour le don<br>
que Tu as fait de Ton être tout entier<br>
comme nourriture pour mon âme,<br>
sous l'apparence du pain et du vin,<br>
dans le Très Saint Sacrement de l'Eucharistie.
</p>