<p>
    <select id="sel_niveaux" onchange="resetButtons()">
        <option>1. la Crainte de Dieu</option>
        <option>2. la Charité</option>
        <option>3. la Foi</option>
        <option>4. l'Espérance</option>
        <option>5. l'Obéissance</option>
        <option>6. la Patience</option>
        <option>7. la Piété</option>
        <option>8. la Chasteté</option>
        <option>9. la Prudence</option>
        <option>10. la Force</option>
        <option>11. la Tempérance</option>
        <option>12. la Pureté</option>
        <option>13. la Justice</option>
    </select>
</p>