<p>
    <select id="sel_niveaux" onchange="setBlock()">
        <option>---</option>
        <option>1. Crainte de Dieu</option>
        <option>2. Charité</option>
        <option>3. Foi</option>
        <option>4. Espérance</option>
        <option>5. Obéissance</option>
        <option>6. Patience</option>
        <option>7. Piété</option>
        <option>8. Chasteté</option>
        <option>9. Prudence</option>
        <option>10. Force</option>
        <option>11. Tempérance</option>
        <option>12. Pureté</option>
        <option>13. Justice</option>
    </select>
</p>
