<p>
Ô Jésus, divin rédempteur, sois miséricordieux pour nous et pour le monde entier. Amen.
</p>

<p>
Dieu saint, Dieu fort, Dieu immortel, aie pitié de nous et du monde entier. Amen.
</p>

<p>
Ô Père Eternel, traite-nous avec miséricorde par le sang de Jésus, ton fils unique.<br>
Traite-nous avec miséricorde, nous t’en conjurons. Amen.
</p>