<p>
    <select id="sel_rondes" onchange="setBlock()">
        <option>1. les mains</option>
        <option>2. les pieds</option>
        <option>3. le dos</option>
        <option>4. la tête</option>
        <option>5. le coeur</option>
        <option>--- Fin ---</option>
    </select>
</p>