<p>
Mon Dieu, je crois en Vous parce que Vous êtes la vérité même.<br>
J'espère en Vous parce que Vous êtes infiniment bon et infiniment aimable.<br>
J'aime aussi mon prochain comme moi-même pour l'amour de Vous.<br>
Que les âmes des fidèles trépassés reposent en paix, par la miséricorde du Seigneur.<br>
Amen.
</p>