<p>
Que le Très Précieux Sang qui jaillit du Visage Sacré<br>
de Notre Seigneur Jésus-Christ,<br>
Temple de la Divine Sagesse,<br>
Tabernacle de la Divine Connaissance<br>
et Soleil brillant du Ciel et de la Terre,<br>
nous couvre tous maintenant et toujours.<br>
Amen.
</p>