<p class="priere">
Seigneur Jésus-Christ, Fils du Dieu vivant,<br>
viens nous recouvrir de ton précieux sang.<br>
Viens aussi recouvrir toutes les personnes présentes ici et dans nos cœurs.<br>
Libère, guéris, sauve et transforme chacun selon ta divine volonté.<br>
Amen.
</p>