{% include bpath + "credo.jinja" %}

{{ mc.anchor("b_tabernacle") }}

{% include spath + "sg-tabernacle.jinja" %}

{% include spath + "sg-refrain.jinja" %}

{{ mc.anchor("b_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("b_ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("vertus", "ste_marie_vertus") }}

{{ mc.anchor("b_gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{% include spath + "sg-tabernacle.jinja" %}