{% include spath + "sg-mysteres.jinja" %}

<!-- Intros -->

{% include spath + "sg-intros.jinja" %}

{% include spath + "sg-refrain.jinja" %}

<!-- Prières -->

{{ mc.anchor("dz_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ave") }}

{% include bpath + "ste-marie.jinja" %}

<hr />

<p>Précieux Sang de Jésus-Christ, sauvez-nous et le monde entier.</p>

{{ mc.grains("douzaine", "dz_grains") }}

<hr />

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("dz_fin") }}

{% include spath + "sg-tabernacle.jinja" %}

{% include spath + "sg-refrain.jinja" %}