<!-- Intros -->

{% include spath + "sg-intros.jinja" %}

<!-- Prières -->

{{ mc.anchor("dz_pater") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("dz_ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("dz_serie") }}

<p>Précieux Sang de Jésus-Christ, sauvez-nous et le monde entier.</p>

{{ mc.grains("douzaine", "dz_grains") }}

{{ mc.anchor("dz_gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("dz_fin") }}

{% include spath + "sg-fin-partie.jinja" %}