{% include spath + "sg-mysteres.jinja" %}

<p class="intro">
Par la précieuse plaie de votre <b>main droite</b><br>
et la douleur causée par le clou qui l'a transpercée,<br>
puisse le Précieux Sang qui s'en écoule<br>
sauver les pécheurs du monde entier et convertir beaucoup d'âmes.<br>
Amen.
</p>

<p class="intro">
Par la précieuse plaie de votre <b>main gauche</b><br>
et la douleur causée par le clou qui l'a transpercée,<br>
puisse le Précieux Sang qui s'en écoule sauver les âmes du purgatoire<br>
et protéger les mourants contre les attaques des esprits de l'enfer.<br>
Amen. 
</p>

<p class="intro">
Par la précieuse plaie de votre <b>pied droit</b><br>
et la douleur causée par le clou qui l'a transpercé,<br>
puisse le Précieux Sang qui s'en écoule<br>
protéger le fondement de l'église catholique<br>
contre les plans du royaume occulte et des hommes mauvais.<br>
Amen.
</p>

<p class="intro">
Par la précieuse plaie de votre <b>pied gauche</b><br>
et la douleur causée par le clou qui l'a transpercé,<br>
puisse le Précieux Sang qui s'en écoule<br>
nous protéger en tout lieu contre les plans et les attaques<br>
des mauvais esprits et de leurs agents.<br>
Amen. 
</p>

<p class="intro">
Par la précieuse plaie de votre <b>côté sacré</b><br>
et la douleur causée par la lance qui l'a percé,<br>
puisse le Précieux Sang et l'Eau qui s'en écoulent<br>
guérir les malades, ressusciter les morts, régler nos problèmes actuels<br>
et nous enseigner la Voie qui mène à Dieu pour Sa gloire éternelle.<br>
Amen. 
</p>

{% include spath + "sg-refrain.jinja" %}