<p>
Très Saint Coeur de Jésus, ayez pitié de nous.<br>
Coeur Immaculé de Marie, priez pour nous.<br>
Saint Joseph, chaste époux de Marie, priez pour nous.<br>
Saint Pierre et Saint Paul, priez pour nous.<br>
Saint Jean au pied de la Croix, priez pour nous.<br>
Sainte Marie Madeleine, priez pour nous.<br>
Tous les soldats de la prière et intercesseurs au ciel, priez pour nous.<br>
Tous les grands saints de Notre-Seigneur, priez pour nous.<br>
Toute la Milice céleste, priez pour nous.<br>
Légion de Marie, priez pour nous.
</p>