<p>
    <select id="sel_mysteres" onchange="setIntro();">
        <option>1. la main droite</option>
        <option>2. la main gauche</option>
        <option>3. le pied droit</option>
        <option>4. le pied gauche</option>
        <option>5. le côté sacré</option>
    </select>
</p>