<p>
Dieu, notre refuge et notre force, regarde favorablement ton peuple qui crie vers toi et, par l'intercession de la glorieuse et immaculée Vierge Marie, Mère de Dieu, de saint Joseph son bienheureux époux, des bienheureux apôtres Pierre et Paul et de tous les saints, écoute avec miséricorde et bienveillance, les prières que nous t'adressons pour la conversion des pécheurs, et pour la liberté et l'exaltation de notre Mère la sainte Église. Par le Christ, notre Seigneur. Amen.
</p>

<p>
O très Précieux Sang de Jésus Christ, nous Vous louons, nous Vous bénissons, nous Vous adorons parce que Vous avez amené l'Alliance Nouvelle et Eternelle, source de paix pour l'humanité. Cicatrisez les plaies du Très Saint Coeur de Jésus. Consolez le Père Tout-Puissant assis sur Son trône et effacez les péchés du monde entier. Que tous Vous vénèrent. O Précieux Sang, soyez miséricordieux. Amen. 
</p>