{% include lpath + "lit-intro.html" %}

<hr />

<ul class="priere gauche">
    <li>Père Eternel, qui es <b>trois fois Saint</b>, nous t'adorons !</li>

    {% for louange in data["pere-eternel"] %}
    <li>Père Eternel, qui es <a class="gras" href="#eternel_{{ loop.index }}" id="eternel_{{ loop.index }}">{{ louange }}</a>, nous t'adorons !</li>
    {% endfor %}
</ul>

<hr />

<ul class="priere gauche">
    <li>Père Eternel, qui as envoyé l'Agneau de Dieu afin de racheter les péchés du monde, <b>sauve-nous</b>, Seigneur.</li>
    <li>Père Eternel, qui as envoyé l'Agneau de Dieu, <b>entends notre prière</b>, Seigneur.</li>
    <li>Père Eternel, qui as envoyé l'Agneau de Dieu, <b>prends pitié de nous</b>.</li>
</ul>
 
<hr />

<p class="priere">
Ô Père Eternel, nous, tes enfants,<br> 
t'offrons ces litanies de louanges, d'amour et d'adoration,<br> 
en action de grâces pour toutes tes oeuvres d'amour.<br> 
<br> 
Emplis nos coeurs de la chaleur de ton amour <br> 
et puissions-nous un jour contempler ton visage.<br> 
<br> 
En union avec le Coeur Immaculé de Marie, <br> 
nous te le demandons par l'intercession de ton Fils, <br> 
notre Seigneur Jésus-Christ, <br> 
qui vit et règne avec Toi dans l'unité du Saint-Esprit,<br> 
maintenant et pour les siècles des siècles.<br>  
<br> 
Amen.
</p>
