<div id="certifications">
    <h2>Certifications</h2>

    <ul>
        <li>
            <i class="fa fa-certificate" aria-hidden="true"></i>

            <a href="https://www.tosa.org/FR/Index?param=cWRPdjdpSUoxQkpYd1M1L2g4aEVGdjZ6ZlZQbmNFNlYwYkU5dDVSTDllL2tTbFlaK2VQdHhMZlB0d1UrZmtiVThmUGF3KzFuL2srUWFLTDRSYkFaQ1E9PTo6Cm2vbfXPWwWu5ZqdWIvxSw" target="_blank">Tosa PHP - 767/1000 (Avancé)</a>
        </li>

        <li>
            <i class="fa fa-calendar" aria-hidden="true"></i> 
            novembre 2023
        </li>
    </ul>

    <ul>
        <li>
            <i class="fa fa-certificate" aria-hidden="true"></i>

            <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/38DNLJU4DN3E" target="_blank">IBM z/OS Mainframe Practitioner</a>
        </li>

        <li>
            <i class="fa fa-calendar" aria-hidden="true"></i> 
            juillet 2023
        </li>
    </ul>

    <ul>
        <li>
            <i class="fa fa-certificate" aria-hidden="true"></i>

            <a href="https://coursera.org/verify/professional-cert/VU59298YW5LG" target="_blank">IBM Mainframe Developer</a>
        </li>
        
        <li>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            juin 2023
        </li>
    </ul>

    <ul>
        <li>
            <i class="fa fa-certificate" aria-hidden="true"></i>
            SecNum Académie
        </li>

        <li>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            juin 2023
        </li>
    </ul>

    <ul>
        <li>
            <i class="fa fa-certificate" aria-hidden="true"></i>
            IBM Z Xplore (Advanced)
        </li>

        <li>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            mars 2023
        </li>
    </ul>
</div>