<div id="competences">
    <h2>Compétences</h2>

    <h3>Front End</h3>

    <ul>
        <li>HTML, (S)CSS</li>
        <li>JavaScript, jQuery, React</li>
    </ul>

    <h3>Back End</h3>

    <ul>
        <li>PHP, Symfony, Laravel</li>
        <li>Node.js, Express</li>
        <li>SQL, MongoDB</li>
    </ul>

    <h3>Mobile</h3>

    <ul>
        <li>Dart, Flutter</li>
    </ul>

    <h3>DevOPS</h3>

    <ul>
        <li>Git</li>
        <li>Docker</li>
    </ul>

    <h3>Soft skills</h3>

    <ul>
        <li>Travail en équipe</li>
        <li>Gestion de projet</li>
        <li>Veille</li>
    </ul>
</div>