<div id="intro">
    <p>Etant passionné de développement web et mobile, j'ai songé à en faire mon métier.</p>

    <p>Mes compétences de base sont :</p>

    <ul>
        <li>- HTML, (S)CSS et JavaScript en front end</li>
        <li>- PHP, Symfony et Laravel en back end</li>
        <li>- Dart et Flutter en développement mobile</li>
        <li>- Python pour les scripts</li>
    </ul>

    <p>Je me suis ensuite tourné vers la data science avec Python.</p>

    <p>Je me forme actuellement en autodidacte avec DataCamp.</p>
</div>