<div id="liens">
    <span class="lien">
        <a href="https://github.com/Lukam90">
            <img src="/public/icons/github.svg" alt="icône Github" />
        </a>
    </span>

    <span class="lien">
        <a href="https://www.linkedin.com/in/lucien-hamm">
            <img src="/public/icons/linkedin.svg" alt="icône Linkedin" />
        </a>
    </span>

    <span class="lien">
        <a href="https://lukam90.github.io">
            <img src="/public/icons/web.svg" alt="icône web" />
        </a>
    </span>
</div>