<div id="projets">
    <h2>Projets</h2>

    <h3>Projet AACCP</h3>

    <p>
    Site d'actualités de l'<abbr title="Association Alsacienne des Collectionneurs de Cartes Postales">AACCP</abbr> 
    et système de réservations pour les événements annuels
    </p>

    <ul>
        <li>- Front end avec React</li>
        <li>- Back end avec Express et MongoDB</li>
    </ul>
</div>