<p>
Très Sainte Trinité, Père, Fils et Saint-Esprit,<br>
je Vous adore profondément,<br>
et je Vous offre le très précieux<br>
Corps, Sang, Âme et Divinité de Jésus-Christ,<br>
présent dans tous les tabernacles de la terre,<br>
en réparation des outrages, sacrilèges et indifférences<br>
par lesquels il est Lui-même offensé.<br>
Par les mérites infinis de son très Saint Coeur<br>
et du Coeur Immaculé de Marie,<br>
je Vous demande la conversion des pauvres pécheurs.
</p>