{% include bpath + "signe-croix.jinja" %}

<hr />

{{ mc.header("mis_intro", "Intro") }}

<p class="priere">
Vous avez été à l’agonie, Jésus,<br>
mais la source de vie a jailli pour les âmes.<br>
<br>
Un océan de miséricorde s'est découvert pour le monde entier.<br>
<br>
Ô source de vie, <br>
insondable miséricorde de Dieu,<br> 
submergez le monde entier, <br>
engloutissez-nous.<br>
<br>    
Ô sang et eau, <br>
qui avez jailli du coeur de Jésus <br>
comme source de miséricorde pour nous, <br>
j'ai confiance en vous.<br>
<br>
Amen.
</p>

{{ mc.anchor("mis_notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("mis_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{% include bpath + "credo.jinja" %}