{{ mc.header("dieu_saint", "Dieu saint") }}

<p class="priere">
Dieu saint, Dieu fort, Dieu éternel,<br> 
ayez pitié de nous et du monde entier. (x 3)
</p>

{{ mc.header("oraison_finale", "Oraison finale") }}

<p class="priere">
Dieu éternel,<br>
en qui la miséricorde est sans fin<br>
et le trésor de la compassion inépuisable,<br>
regardez avec bonté et augmentez votre miséricorde en nous,<br>
afin que, dans les moments difficiles,<br>
nous ne désespérions ni ne nous découragions,<br> 
mais nous nous soumettions avec une grande confiance<br>
à votre sainte volonté,<br>
qui est amour et miséricorde.<br>
<br>
Amen.
</p>