{% extends "layouts/prieres.jinja" %}

{% set bpath = "chapelets/base/" %}
{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet du salut des âmes" %}

{% block content %}
<p>Ce chapelet permet de libérer jusqu'à <b>5000 âmes</b> sur <b>4 générations</b>.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

<p class="gras">Credo</p>

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("base_trio", ["-", "foi", "espérance", "charité"]) }}

<p class="gras">Gloire au Père</p>

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

<p>{{ mc.grains("dz_rondes", range(1,6)) }}</p>

<p>
Père Eternel, je vous offre le <b>Sacré-Cœur de Jésus</b> et le <b>Cœur Immaculé de Marie</b><br>
pour le salut de nos <b>âmes</b>, de nos <b>familles</b> et du <b>monde entier</b>.
</p>

<hr>

<p>
"<b>Sacré-Cœur de Jésus</b>, ayez pitié de nous.<br>
<b>Cœur Immaculé de Marie</b>, priez pour nous." (x 10)
</p>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p class="gras">Gloire au Père</p>

{{ mc.grains("fin_trio", ["-", "Père", "Fils", "Saint-Esprit"]) }}

<p>(Signe de croix)</p>

{{ mc.anchor("bonus", "=") }}

<p>
Père Éternel, je vous offre le très précieux Sang<br>
de votre Divin Fils, Jésus,<br>
en union avec les saintes messes célébrées<br>
aujourd’hui à travers le monde,<br>
pour toutes les âmes du purgatoire,<br>
pour les pécheurs dans l’Église Universelle,<br>
les pécheurs en tout lieu,<br>
ceux de mon entourage<br>
et de ma propre famille.<br>
Amen.
</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-misericorde.js") }}

{% endblock %}