{% extends "layouts/prieres.jinja" %}

{% set bpath = "chapelets/base/" %}
{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet de libération des âmes" %}

{% block content %}
<p>La récitation de ce chapelet permet de libérer jusqu'à <b>5000 âmes</b> sur <b>4 générations</b>.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

{% include rpath + "rs-base.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

<p>{{ mc.grains("dz_rondes", range(1,6)) }}</p>

<p>
Père Eternel, je vous offre le <b>Sacré-Cœur de Jésus</b> et le <b>Cœur Immaculé de Marie</b><br>
pour le salut de nos <b>âmes</b>, de nos <b>familles</b> et du <b>monde entier</b>.
</p>

{{ mc.anchor("dizaine") }}

<p>
"<b>Sacré-Cœur de Jésus</b>, ayez pitié de nous.<br>
<b>Cœur Immaculé de Marie</b>, priez pour nous." (x 10)
</p>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("fin_trio", ["-", "Père", "Fils", "Saint-Esprit"]) }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-misericorde.js") }}

{% endblock %}