{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/special/" %}

{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet de libération des âmes" %}

{% block content %}
<p>{{ mc.cb_version() }}</p>

<p>
Le chapelet est inspiré de celui révélé à Ste Gertrude par Jésus.<br>
Chaque récitation de la <b>prière des dizaines</b> peut libérer jusqu'à <b>1000 âmes</b>.
</p>

<p>
Les mystères sont repris du {{ mc.link("/chapelets/chapelet.html", "rosaire") }},
restant la dévotion quotidienne de base.
</p>

<hr />

{% include bpath + "signe-croix.jinja" %}

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include rpath + "rs-base.jinja" %}

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

<p id="clausule" class="invisible"></p>

{% include spath + "ex-coeurs.jinja" %}

{{ mc.anchor("dz_priere") }}

{% include spath + "ex-pere-eternel.jinja" %}

{{ mc.grains("cdizaine", "dz_grains") }}

{{ mc.return_link("mysteres") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer") }}

<!-- Scripts -->

{% include rpath + "rs-scripts.jinja" %}

{% endblock %}