{% extends "layouts/prieres.jinja" %}

{% set root = "https://boutique.labonnenouvelle.net/chapelets-et-rosaire/" %}
{% set url = root + "1073-chapelet-des-ames-du-purgatoire-9502379583487.html" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/special/" %}

{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet des âmes" %}

{% block content %}
<p>{{ mc.cb_version() }}</p>

<p>Il s'agit du {{ mc.link(url, "chapelet en l'honneur des 13 vertus de Notre-Dame") }}.</p>

<hr />

{% include bpath + "signe-croix.jinja" %}

<!-- Base -->

{{ mc.anchor("croix", "=") }}

{% include bpath + "credo.jinja" %}

{{ mc.anchor("notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("ames", "base_trio") }}

{{ mc.anchor("base_ste_mere") }}

{% include bpath + "ste-marie.jinja" %}

<!-- Médaille -->

{{ mc.anchor("medaille", "=") }}

{% include spath + "ex-medaille.jinja" %}

<!-- Niveaux -->

{{ mc.anchor("niveaux", "=") }}

{% include spath + "ex-niveaux.jinja" %}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("repos") }}

{% include spath + "ex-repos.jinja" %}

{{ mc.grains("trio", "fin_trio") }}

{{ mc.return_link("niveaux") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = true) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("versions.js") }}

{{ mc.script("chapelets/ch-ames.js") }}

{% endblock %}