{% extends "layouts/prieres.jinja" %}

{% set apath = "chapelets/anges/" %}
{% set bpath = "prieres/base/" %}

{% set title = "C-Anges" %}

{% set choeurs = ["séraphins", "chérubins", "trônes", "dominations", "puissances", "vertus", "principautés", "archanges", "anges"] %}

{% block content %}
<h1>Chapelet de St Michel et des anges</h1>

{% include apath + "an-intro.jinja" %}

<hr />

{% include apath + "an-choeurs.jinja" %}

<hr />

{% include apath + "an-fin.jinja" %}

<script src="/public/js/chapelets/ch-anges.js"></script>
{% endblock %}