{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}

{% set title = "C-Eucharistie" %}

{% block content %}
<h1>Chapelet de l'Eucharistie</h1>

{% include bpath + "signe-croix.jinja" %}

<hr />

<p class="priere">
Comme je ne peux pas te recevoir, mon Jésus,<br>
dans la sainte communion,<br>
viens spirituellement dans mon cœur,<br> 
et fais qu’il soit toujours tien.
</p>

<hr />

<p>Jésus, présent dans le Saint Sacrement sur l’autel, aie pitié de nous.</p>

<h3>
    <span class="signe" onclick="decrement()">-</span>
    &nbsp;
    <span id="counter">0</span>
    &nbsp;
    <span class="signe" onclick="increment()">+</span>
</h3>

{{ mc.script("counter.js") }}

{% endblock %}