{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/special/" %}

{% set lpath = "chapelets/liberation/" %}

{% set title = "C-Liberation" %}

{% block content %}
<h1>Chapelet de libération</h1>

<p>
Le chapelet est inspiré de la 2ème méthode décrite dans la 
{{ mc.link("https://boutique.labonnenouvelle.net/revues-voici-ta-mere-/776-chapelet-de-la-liberation-en-telechargement.html", "revue dédiée") }}
<br>de la boutique de la <b>Bonne Nouvelle</b>.
</p>

<hr />

{% include bpath + "signe-croix.jinja" %}

<!-- Base -->

{{ mc.anchor("credo", "=") }}

{% include bpath + "credo.jinja" %}

<!-- Rondes -->

{{ mc.anchor("serie", "=") }}

<p>
    <select id="sel_rondes" onchange="setSuite();">
        <option>Base</option>
        {% for nb in range(1, 6) %}
        <option>Ronde n°{{ nb }}</option>
        {% endfor %}
    </select>
</p>

{% include bpath + "notre-pere.jinja" %}

<hr />

<p>"Si le Fils vous libère, vous serez vraiment libres." (Jn 8,36)</p>

{{ mc.grains("trio", "base_trio") }}

{{ mc.grains("dizaine", "dz_grains") }}

{{ mc.anchor("fin_dizaine") }}

{% include spath + "fin-dz-liberation.jinja" %}

{{ mc.return_link("serie") }}

<!-- Fin -->

{{ mc.anchor("salut_reine", "=") }}

{% include bpath + "salut-reine.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}
{{ mc.script("chapelets/ch-liberation.js") }}

{% endblock %}