{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set gpath = "chapelets/grains/" %}
{% set lpath = "chapelets/liberation/" %}

{% set title = "C-Liberation" %}

{% block content %}
<h1>Chapelet de libération</h1>

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("credo", "=") }}

{% include bpath + "credo.jinja" %}

{{ mc.anchor("base_fils") }}

{% include lpath + "lib-fils.jinja" %}

{{ mc.anchor("base_jesus") }}

{% include lpath + "lib-jesus.jinja" %}

{% include gpath + "trio-grains.jinja" %}

{{ mc.anchor("rondes", "=") }}

<p>
    {% for nb in range(1, 6) %}
    <input type="radio" name="rondes" id="rondes_{{ loop.index }}" {% if loop.first %} checked {% endif %} />
    <label for="rondes_{{ loop.index }}">{{ nb }}</label>
    {% endfor %}
</p>

{% include lpath + "lib-fils.jinja" %}

<p>***</p>

<p>Jésus, <span id="clausule" class="gras">aie pitié de nous</span> !</p>

{% include gpath + "dz-grains.jinja" %}

{{ mc.anchor("salut_reine", "=") }}

{% include bpath + "salut-reine.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

<script src="/public/js/latin.js"></script>
<script src="/public/js/chapelets/ch-liberation.js"></script>
{% endblock %}