{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}

{% set lpath = "chapelets/liberation/" %}

{% set title = "C-Liberation" %}

{% block content %}
<h1>Chapelet de libération</h1>

<p>Je prie à l'intention de __.</p>

{{ mc.vlatine() }}

{% include bpath + "signe-croix.jinja" %}

<hr />

<!-- Base -->

{% include bpath + "credo.jinja" %}

{{ mc.anchor("base_st_jean") }}

<p>"Si donc le Fils vous libère, vous serez réellement libres." (Jn 8,36)</p>

{{ mc.anchor("base_jesus") }}

{% include bpath + "ex-jesus.jinja" %}

{{ mc.grains("trio", "base_trio") }}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.rondes() }}

<p>"Si donc le Fils vous libère, vous serez réellement libres." (Jn 8,36)</p>

<p>***</p>

{% include bpath + "ex-jesus.jinja" %}

{{ mc.grains("dizaine", "dz_grains") }}

{{ mc.anchor("salut_reine", "=") }}

{% include bpath + "salut-reine.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.first_btn("dz_grains_1") }}

{% endblock %}