{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set ipath = "prieres/intros/" %}

{% set title = "C-Merci" %}

{% block content %}
<h1>Chapelet des 1000 mercis</h1>

{% include bpath + "signe-croix.jinja" %}

<p>Embrasser la croix</p>

{{ mc.anchor("intro", "=") }}

{% include ipath + "intro-merci.jinja" %}

{{ mc.anchor("rondes", "=") }}

<p>
    Ronde

    {{ mc.select("sel_rondes", 1, 20) }}
</p>

<p>Oh, merci Jésus !</p>

<hr />

{{ mc.grains("dizaine", "dz_grains") }}

<p>Merci Jésus !</p>

{{ mc.script("utils.js") }}
{{ mc.script("chapelets/ch-reset.js") }}

{% endblock %}