{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}

{% set mpath = "chapelets/misericorde/" %}

{% set title = "C-Misericorde" %}

{% block content %}
<h1>Chapelet de la Miséricorde Divine</h1>

<p>(*) Prières optionnelles, en intro et en conclusion</p>

{{ mc.vlatine() }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("mis_intro", "=") }}

{% include mpath + "mis-intro.jinja" %}

{{ mc.anchor("mis_notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("mis_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("mis_credo") }}

{% include bpath + "credo.jinja" %}

{{ mc.anchor("mis_dizaine", "=") }}

{% include mpath + "mis-dizaine.jinja" %}

{{ mc.anchor("mis_fin", "=") }}

{% include mpath + "mis-fin.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}
{{ mc.script("chapelets/ch-misericorde.js") }}

{% endblock %}