{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}

{% set mpath = "chapelets/misericorde/" %}

{% set title = "C-Misericorde" %}

{% block content %}
<h1>Chapelet de la Miséricorde Divine</h1>

{% include bpath + "signe-croix.jinja" %}

<hr />

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("mis_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("mis_credo") }}

{% include bpath + "credo.jinja" %}

{{ mc.anchor("mis_dizaine", "=") }}

{% include mpath + "mis-dizaine.jinja" %}

{{ mc.anchor("mis_fin", "=") }}

<p class="priere">
Dieu saint, Dieu fort, Dieu éternel,<br> 
ayez pitié de nous et du monde entier.
</p>

{{ mc.grains("trio", "fin_trio") }}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}
{{ mc.script("chapelets/ch-reset.js") }}

{% endblock %}