{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/special/" %}

{% set title = "Chapelet de la passion du Christ" %}

{% block content %}
<p>
Il s'agit du <b>chapelet des saintes plaies</b>,<br>
renommé en référence aux <b>mystères douloureux</b> du {{ mc.link("/chapelets/chapelet.html", "rosaire") }}.
</p>

<hr />

<p>Je prie à l'intention de <input type="text" id="txt_intention" /></p>

{% include bpath + "signe-croix.jinja" %}

<!-- Croix -->

{{ mc.anchor("croix", "=") }}

{% include spath + "ex-intro.jinja" %}

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

<p>
    <span id="ordinal" class="gras">1er</span> mystère : 

    <select id="sel_mysteres" onchange="setOrdinal()">
        <option>les mains</option>
        <option>les pieds</option>
        <option>le dos</option>
        <option>la tête</option>
        <option>le cœur</option>
    </select>
</p>

{% include spath + "ex-pere-eternel.jinja" %}

<hr />

<p>Mon Jésus, pardon et miséricorde, par les mérites de tes saintes plaies.</p>

{{ mc.grains("cdizaine", "dz_grains") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include spath + "ex-pere-eternel.jinja" %}

{{ mc.grains("trio", "fin_trio") }}

<!-- Réinitialisation -->

{{ mc.anchor("reset", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = true) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("versions.js") }}

{{ mc.script("chapelets/ch-passion.js") }}

{% endblock %}