{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set gpath = "chapelets/grains/" %}
{% set spath = "chapelets/sacrement/" %}

{% set title = "C-Sacrement" %}

{% block content %}
<h1>Chapelet du Saint Sacrement</h1>

{% include bpath + "signe-croix.jinja" %}

<hr />

{% include spath + "sc-intro.jinja" %}

<hr id="mysteres" />

{% include spath + "sc-mysteres.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

<script src="/public/js/reset.js"></script>
{% endblock %}