{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set ipath = "prieres/intros/" %}
{% set opath = "prieres/outros/" %}
{% set spath = "prieres/saints/" %}

{% set mpath = "chapelets/misericorde/" %}

{% set title = "C-Sang" %}

{% block content %}
<h1>Chapelet du Précieux Sang de Jésus</h1>

<p>Le chapelet est inspiré de la révélation de Jésus à Barnabas Nwoye le 15 mars 1997.</p>

<!-- Base -->

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("base", "=") }}

{% include spath + "st-esprit.jinja" %}

{{ mc.anchor("credo") }}

{% include bpath + "credo.jinja" %}

{{ mc.anchor("b_notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("b_ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("trio", "base_trio") }}

{{ mc.anchor("b_gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("intro_base") }}

{% include opath + "outro-dz-sang.jinja" %}

<!-- Rondes -->

{{ mc.anchor("mysteres", "=") }}

<p>
    <select id="sel_mysteres" onchange="updateText();">
        <option>1. La main droite de Jésus</option>
        <option>2. La main gauche de Jésus</option>
        <option>3. Le pied droit de Jésus</option>
        <option>4. Le pied gauche de Jésus</option>
        <option>5. Le côté sacré de Jésus</option>
    </select>
</p>

{% include ipath + "intros-sang.jinja" %}

<p class="priere">
Ô Très Précieux Sang de Jésus-Christ,<br>
cicatrise les plaies du Très Saint Cœur de Jésus. 
</p>

{{ mc.anchor("notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

<p id="rappel" class="gras">1. La main droite de Jésus</p>

<p class="priere">
Précieux Sang de Jésus-Christ,<br>
sauve-nous et le monde entier.
</p>

{{ mc.grains("douzaine", "dz_grains") }}

{{ mc.anchor("gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.anchor("outro_dizaine") }}

{% include opath + "outro-dz-sang.jinja" %}

{{ mc.return_link("mysteres") }}

<!-- Fin -->

{{ mc.anchor("salut_reine", "=") }}

{% include bpath + "salut-reine.jinja" %}

{{ mc.anchor("outro_fin_sang") }}

{% include opath + "outro-fin-sang.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}
{{ mc.script("chapelets/ch-sang.js") }}

{% endblock %}