{% extends "layouts/prieres.jinja" %}

{% set title = "C-St-Antoine" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/saints/" %}

{% block content %}
<h1>Chapelet de St Antoine</h1>

{% include bpath + "signe-croix.jinja" %}

<hr />

<div>
    <select id="sel_ronde" onchange="setSuite();">
        {% for nb in range(0, 14) %}
            {% if nb > 0 %}
            <option>Ronde n°{{ nb }}</option>
            {% else %}
            <option>Bref de St Antoine</option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<p class="priere" id="suite">
Voici la croix du Seigneur !<br>
Fuyez, puissances ennemis !<br>
Le lion de la tribu de Juda, le rejeton de David, a vaincu !<br>
Alléluia !
</p>

{{ mc.anchor("notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("gloire_pere") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.return_link() }}

<hr />

{% include spath + "st-antoine.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

<script src="/public/js/chapelets/ch-st-antoine.js"></script>
{% endblock %}