{% extends "layouts/prieres.jinja" %}

{% set title = "C-St-Charbel" %}

{% set bpath = "prieres/base/" %}
{% set spath = "prieres/saints/" %}

{% set gpath = "chapelets/grains/" %}

{% block content %}
<h1>Chapelet de St Charbel</h1>

{% include bpath + "signe-croix.jinja" %}

<hr />

<div>
    <select id="sel_rondes" onchange="setSuites();">
        <option>Bref de St Charbel</option>
        <option>1. voeu de pauvreté</option>
        <option>2. voeu de chasteté</option>
        <option>3. voeu d'obéissance</option>
        <option>4. messe quotidienne</option>
        <option>5. Sainte Eucharistie</option>
        <option>6. dévotion pour Ste Marie</option>
    </select>
</div>

<p id="bref">Ô Père de vérité, voici votre Fils, victime pour vous plaire.</p>

<div id="suite">
    {% include bpath + "notre-pere.jinja" %}

    {{ mc.anchor("trio_ste_marie") }}

    {% include bpath + "ste-marie.jinja" %}

    {% include gpath + "trio-grains.jinja" %}

    {{ mc.return_link() }}
</div>

<hr />

{% include spath + "st-charbel.jinja" %}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link() }}

<script src="/public/js/chapelets/ch-st-charbel.js"></script>
{% endblock %}