{% extends "layouts/prieres.jinja" %}

{% set title = "C-St-Charbel" %}

{% set path = "partials/prieres/" %}

{% block content %}
<h1>Chapelet de St Charbel</h1>

{% include path + "signe-croix.html" %}

<p><a href="#rondes" id="rondes">===</a></p>

<div>
    <select id="sel_rondes" onchange="setSuites();">
        <option>Bref de St Charbel</option>
        <option>1. voeu de pauvreté</option>
        <option>2. voeu de chasteté</option>
        <option>3. voeu d'obéissance</option>
        <option>4. messe quotidienne</option>
        <option>5. Sainte Eucharistie</option>
        <option>6. dévotion pour Ste Marie</option>
    </select>
</div>

<p id="bref">Ô Père de vérité, voici votre Fils, victime pour vous plaire.</p>

<div id="suite">
    {% include path + "notre-pere.html" %}

    <p><a href="#trio_ste_marie" id="trio_ste_marie">===</a></p>

    {% include path + "ste-marie.html" %}

    {% include path + "trio-grains.html" %}

    <p><a href="#rondes" class="bleu">Revenir en haut</a></p>
</div>

<hr />

{% include path + "st-charbel.html" %}

<hr />

{% include path + "signe-croix.html" %}

<p><a href="#" class="bleu">Revenir en haut</a></p>

<script src="/public/js/chapelets/ch-st-charbel.js"></script>
{% endblock %}