{% extends "layouts/prieres.jinja" %}

{% set title = "C-St-Charbel" %}

{% set path = "partials/prieres/" %}

{% block content %}
<h1>Chapelet de St Charbel</h1>

{% include path + "signe-croix.jinja" %}

<hr />

<div>
    <select id="sel_rondes" onchange="setSuites();">
        <option>Bref de St Charbel</option>
        <option>1. voeu de pauvreté</option>
        <option>2. voeu de chasteté</option>
        <option>3. voeu d'obéissance</option>
        <option>4. messe quotidienne</option>
        <option>5. Sainte Eucharistie</option>
        <option>6. dévotion pour Ste Marie</option>
    </select>
</div>

<p id="bref">Ô Père de vérité, voici votre Fils, victime pour vous plaire.</p>

<div id="suite">
    {% include path + "notre-pere.jinja" %}

    {{ mc.anchor("trio_ste_marie") }}

    {% include path + "ste-marie.jinja" %}

    {% include path + "trio-grains.jinja" %}

    {{ mc.return_link("rondes") }}
</div>

<hr />

{% include path + "st-charbel.jinja" %}

<hr />

{% include path + "signe-croix.jinja" %}

{{ mc.return_link() }}

<p><a href="#" class="bleu">Revenir en haut</a></p>

<script src="/public/js/chapelets/ch-st-charbel.js"></script>
{% endblock %}