{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set lpath = "prieres/litanies/" %}
{% set spath = "prieres/saints/" %}

{% set mpath = "chapelets/mysteres/" %}
{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet" %}

{% block content %}
<h1>Chapelet</h1>

<p>
Le chapelet basé sur le rosaire traditionnel s'inspire de l'application 
{{ mc.link("https://rosario.app/", "Rosario") }} par
{{ mc.link("https://hozana.org/", "Hozana") }}.
</p>

<hr />

{% include bpath + "signe-croix.jinja" %}

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include rpath + "rs-base.jinja" %}

{{ mc.anchor("st_benoit") }}

{% include spath + "st-benoit.jinja" %}

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

{% include rpath + "rs-choix.jinja" %}

{% include rpath + "rs-dizaine.jinja" %}

{{ mc.return_link("mysteres") }}

<hr />

{% include bpath + "signe-croix.jinja" %}

<!-- Litanies -->

{{ mc.anchor("litanies", "=") }}

{% include lpath + "lit-ste-marie.jinja" %}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script(mpath + "ch-joyeux.js") }}
{{ mc.script(mpath + "ch-lumineux.js") }}
{{ mc.script(mpath + "ch-douloureux.js") }}
{{ mc.script(mpath + "ch-glorieux.js") }}

{{ mc.script("chapelets/chapelet.js") }}

{% endblock %}