{% extends "layouts/prieres.jinja" %}

{% set path = "partials/prieres/" %}

{% set cpath = path + "chapelet/" %}
{% set gpath = path + "grains/" %}
{% set rpath = path + "rosaire/" %}

{% set title = "Chapelet" %}

{% block content %}
<h1>Chapelet</h1>

<p>
Les clauses sont inspirées de Jean-Paul II avec le site de 
{{ mc.link("https://www.mariedenazareth.com", "Marie de Nazareth") }}.
</p>

<p>
Le chapelet basé sur le rosaire traditionnel s'inspire de l'application 
{{ mc.link("https://rosario.app/", "Rosario") }} par
{{ mc.link("https://hozana.org/", "Hozana") }}.
</p>

<hr />

{% include path + "signe-croix.html" %}

<hr id="base" />

{% include cpath + "ch-base.html" %}

{{ mc.anchor("dizaines", "=") }}

{% include cpath + "ch-choix.html" %}

{% include cpath + "ch-dizaine.html" %}

{{ mc.return_link("dizaines") }}

<hr id="fin" />

{% include path + "signe-croix.html" %}

<script src="/data/mysteres/m_joyeux.js"></script>
<script src="/data/mysteres/m_lumineux.js"></script>
<script src="/data/mysteres/m_douloureux.js"></script>
<script src="/data/mysteres/m_glorieux.js"></script>

<script src="/public/js/chapelets/chapelet.js"></script>
{% endblock %}