{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set lpath = "prieres/litanies/" %}
{% set spath = "prieres/saints/" %}

{% set ipath = "chapelets/intros/" %}
{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet" %}

{% block content %}
<h1>Chapelet</h1>

<p>
Le chapelet basé sur le rosaire traditionnel s'inspire de l'application 
{{ mc.link("https://rosario.app/", "Rosario") }} par
{{ mc.link("https://hozana.org/", "Hozana") }}.
</p>

<hr />

{{ mc.vlatine() }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("base", "=") }}

{% include rpath + "rs-base.jinja" %}

{{ mc.anchor("dizaines", "=") }}

{% include rpath + "rs-choix.jinja" %}

{% include rpath + "rs-dizaine.jinja" %}

{{ mc.return_link("dizaines") }}

<hr />

{% include bpath + "signe-croix.jinja" %}

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}
{{ mc.script("data/d.mysteres.js") }}
{{ mc.script("chapelets/chapelet.js") }}

{% endblock %}