{% extends "layouts/prieres.jinja" %}

{% set bpath = "chapelets/base/" %}

{% set title = "Chapelet de dévotion de St Bernard de Clairvaux" %}

{% block content %}
<p>
La dévotion est basée sur la prière de <b>St Bernard de Clairvaux</b>,<br>
en l'honneur de la <b>plaie inconnue de l'épaule de Jésus</b>.
</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

<p class="gauche">
Très aimé Seigneur, très doux agneau de Dieu,<br>
moi pauvre pécheur, j'adore et vénère la très sainte Plaie<br>
que Vous avez reçue à l'épaule<br>
en portant au Calvaire la très lourde croix<br>
qui laissa découverts trois os saints,<br>
occasionnant une immense douleur.<br>
<br>
Je Vous supplie, en vertu des mérites de ladite Plaie,<br>
d'avoir pitié de moi, en me pardonnant de<br>
tous mes péchés mortels ou véniels,<br>
en m'assistant à l'heure de ma mort,<br>
et en me conduisant dans Votre heureux Royaume.<br>
<br>
Amen.
</p>

<!-- Trios -->

{{ mc.anchor("trios", "=") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.grains("np_trio", range(0, 4)) }}

{{ mc.anchor("ave") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.grains("m_trio", range(0, 4)) }}

{{ mc.anchor("gloria") }}

{% include bpath + "gloire-pere.jinja" %}

{{ mc.grains("g_trio", range(0, 4)) }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-devotion.js") }}

{% endblock %}