{% extends "layouts/prieres.html" %}

{% set bpath = "chapelets/base/" %}
{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet du Dieu de l'impossible" %}

{% block content %}
<p>Les {{ mc.link("prières de base", "/chapelets/ex-base.html") }} se trouvent sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

{% include rpath + "rs-base.html" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

<p>{{ mc.grains("dz_rondes", range(1,6)) }}</p>

<p class="responsive">"Je bénirai le Seigneur, toujours et partout."</p>

<hr />

<p class="responsive">"Merci Seigneur de rendre possible ce qui paraît impossible à mes yeux." (x 10)</p>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p class="responsive">"Je Vous loue Seigneur pour Votre présence dans ma vie." (x 3)</p>

<p>(Signe de croix)</p>

{{ mc.return_link() }}

{% endblock %}