{% extends "layouts/prieres.html" %}

{% set bpath = "chapelets/base/" %}
{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet de libération" %}

{% block content %}
<p>Les {{ mc.link("prières de base", "/chapelets/ex-base.html") }} se trouvent sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

<p class="gras">Credo</p>

<p>"Si Jésus vous libère, vous serez vraiment libres." (Jn 8,36) x 3</p>

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

<p>{{ mc.grains("dz_rondes", range(1,6)) }}</p>

<p class="gras">Notre Père</p>

<p class="responsive">"Si Jésus vous libère, vous serez vraiment libres." (Jn 8,36) x 10</p>

<hr />

<p>"Jésus-Christ, par ton précieux sang, chasse __ ."</p>

<p>
Seigneur Jésus-Christ, Fils du Dieu vivant.<br>
Viens nous recouvrir de ton Précieux Sang.<br>
Viens aussi recouvrir toutes les personnes présentes ici et dans nos cœurs.<br>
Libère, guéris, sauve et transforme chacun selon ta Divine Volonté.<br>
Amen.
</p>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p>
Auguste Reine des cieux et Maîtresse des Anges,<br>
vous qui, avez reçu de Dieu le pouvoir et la mission d’écraser la tête de Satan,<br>
nous vous le demandons humblement,<br>
envoyez les légions célestes pour que sous vos ordres,<br>
elles poursuivent les démons, les combattent partout, répriment leur audace et les refoulent dans l’abîme.<br>
Qui est comme Dieu ?<br>
Ô bonne et tendre Mère, vous serez toujours notre amour et notre espérance.<br>
Ô divine Mère, envoyez les Saints Anges pour me défendre et repousser loin de moi le cruel ennemi.<br>
Saints Anges et Archanges, défendez-nous et gardez-nous.<br>
Amen.
</p>

<p>(Signe de croix)</p>

{{ mc.return_link() }}

{% endblock %}