{% extends "layouts/prieres.jinja" %}

{% set bpath = "prieres/base/" %}
{% set rpath = "prieres/rosaire/" %}
{% set spath = "prieres/sang/" %}

{% set title = "Litanies du précieux sang de Jésus" %}

{% block content %}
<p>Les litanies sont complémentaires au {{ mc.link("chapelet du précieux sang de Jésus", "/prieres/sang.html") }}.</p>

<!-- Base -->

{{ mc.anchor("sg0", "=") }}

<p>(Signe de croix)</p>

<ul class="priere gauche">
    <li><b>Seigneur</b>, aie pitié de nous.</li>
    <li><b>Jesus-Christ</b>, ...</li>
    <li><b>Esprit Saint</b>, qui es Dieu, ...</li>
    <li><b>Trinité sainte</b>, qui es un seul Dieu, ...</li>
</ul>

{{ mc.anchor("sg_liste") }}

<ul class="priere gauche">
    <li>Sang du Christ, {{ mc.list_anchor("sg1", "(1) Fils unique du Père Eternel") }}, sauve-nous.</li>
    <li>Sang du Christ, Verbe incarné, ...</li>
    <li>Sang du Christ, Nouvelle et Eternelle Alliance, ...</li>
    <li>Sang du Christ, répandu sur la terre pendant son agonie, ...</li>

    <li class="separation"></li>

    <li>Sang du Christ, {{ mc.list_anchor("sg2", "(2) versé dans la flagellation") }}, ...</li>
    <li>Sang du Christ, émanant de la couronne d’épines, ...</li>
    <li>Sang du Christ, répandu sur la Croix, ...</li>
    <li>Sang du Christ, prix de notre salut, ...</li>

    <li class="separation"></li>

    <li>Sang du Christ, {{ mc.list_anchor("sg3", "(3) sans lequel il ne peut y avoir de rémission") }}, ...</li>
    <li>Sang du Christ, nourriture eucharistique et purification des âmes, ...</li>
    <li>Sang du Christ, fleuve de miséricorde, ...</li>
    <li>Sang du Christ, victoire sur les démons, ...</li>

    <li class="separation"></li>

    <li>Sang du Christ, {{ mc.list_anchor("sg4", "(4) force des martyrs") }}, ...</li>
    <li>Sang du Christ, vertu des confesseurs, ...</li>
    <li>Sang du Christ, source de virginité, ...</li>
    <li>Sang du Christ, soutien de ceux qui sont dans le danger, ...</li>
    
    <li class="separation"></li>

    <li>Sang du Christ, {{ mc.list_anchor("sg5", "(5) soulagement de ceux qui peinent") }}, ...</li>
    <li>Sang du Christ, espoir des pénitents, ...</li>
    <li>Sang du Christ, secours des mourants, ...</li>
    <li>Sang du Christ, paix et douceur des cœurs, ...</li>
    
    <li class="separation"></li>

    <li>Sang du Christ, {{ mc.list_anchor("sg6", "(6) gage de vie éternelle") }}, ...</li>
    <li>Sang du Christ, qui délivre les âmes du Purgatoire, ...</li>
    <li>Sang du Christ, digne de tout honneur et de toute gloire, ...</li>
</ul>

{{ mc.anchor("sg_agnus") }}

<ul class="priere gauche">
    <li>Agneau de Dieu, qui efface les péchés du monde, <b>pardonne-nous</b>, Seigneur.</li>
    <li>Agneau de Dieu, qui efface les péchés du monde, <b>exauce-nous</b>, Seigneur.</li>
    <li>Agneau de Dieu, qui efface les péchés du monde, <b>aie pitié de nous</b>.</li>
</ul>

{{ mc.anchor("sg_fin") }}

<p class="priere">
V. Tu nous as rachetés, Seigneur, par ton Sang.<br>
R. Et tu as fait de nous le royaume de Dieu.
</p>

{{ mc.anchor("final") }}

<p class="priere">
Dieu éternel et tout-puissant qui as constitué<br>
ton Fils Unique, Rédempteur du monde,<br>
et a voulu être apaisé par son sang, fais, nous t'en prions que,<br>
vénérant le prix de notre salut et étant par lui protégés<br>
sur la terre contre les maux de cette vie,<br>
nous recueillions la récompense éternelle dans le Ciel.<br>
Par le même Jésus-Christ, Notre-Seigneur. Amen.
</p>

<p>(Signe de croix)</p>

{{ mc.return_link() }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("keynums.js") }}

{% endblock %}