{% extends "layouts/prieres.html" %}

{% set bpath = "chapelets/base/" %}

{% set title = "Chapelet de la Miséricorde Divine" %}

{% block content %}
<p>Les {{ mc.link("prières de base", "/chapelets/ex-base.html") }} se trouvent sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{{ mc.checkbox("v_latine", "Version latine", "switchLang()") }}

{% include bpath + "signe-croix.html" %}

{% include bpath + "notre-pere.html" %}

{{ mc.anchor("b_ave") }}

{% include bpath + "ste-marie.html" %}

{{ mc.anchor("b_credo") }}

{% include bpath + "credo.html" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

<p>{{ mc.grains("dz_rondes", range(1,6)) }}</p>

<p>Je prie pour la miséricorde de <input type="text" id="intention" /></p>

<p class="responsive">
Père Éternel, je Vous offre le corps et le sang, l'âme et la divinité<br>
de Votre Fils bien-aimé, notre Seigneur Jésus-Christ,<br>
en réparation de nos péchés et de ceux du monde entier.
</p>

<hr />

<p class="responsive">"Par sa douloureuse Passion, soyez miséricordieux pour nous et le monde entier." (x 10)</p>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p class="responsive">"Dieu saint, Dieu fort, Dieu éternel, ayez pitié de nous et du monde entier." (x 3)</p>

{% include bpath + "signe-croix.html" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}
{{ mc.script("latin.js") }}

{{ mc.script("chapelets/ch-misericorde.js") }}

{% endblock %}