{% extends "layouts/prieres.jinja" %}

{% set bpath = "chapelets/base/" %}

{% set title = "Chapelet de la Miséricorde Divine" %}

{% block content %}
<!-- Base -->

{% include bpath + "signe-croix.jinja" %}

{{ mc.anchor("notre_pere") }}

{% include bpath + "notre-pere.jinja" %}

{{ mc.anchor("ste_marie") }}

{% include bpath + "ste-marie.jinja" %}

{{ mc.anchor("credo") }}

{% include bpath + "credo.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

<p>{{ mc.grains("dz_rondes", range(1,6)) }}</p>

<p>Je prie pour la miséricorde de <input type="text" id="intention" /></p>

<p>
Père Éternel, je Vous offre le corps et le sang, l'âme et la divinité<br>
de Votre Fils bien-aimé, notre Seigneur Jésus-Christ,<br>
en réparation de nos péchés et de ceux du monde entier.
</p>

<hr />

<p>"Par sa douloureuse Passion, soyez miséricordieux pour nous et le monde entier." (x 10)</p>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p>"Dieu saint, Dieu fort, Dieu éternel, ayez pitié de nous et du monde entier." (x 3)</p>

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-misericorde.js") }}

{% endblock %}