{% extends "layouts/prieres.html" %}

{% set title = "Chapelet de la Miséricorde Divine" %}

{% block content %}
<p>Les {{ mc.link("prières de base", "/prieres/ex-base.html") }} se trouvent sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

<p class="gras">Credo</p>

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

<p>{{ mc.grains("dz_rondes", range(0,6)) }}</p>

<p>Je prie pour la miséricorde de <input type="text" id="intention" /></p>

<p class="responsive">
Père Éternel, je Vous offre le corps et le sang, l'âme et la divinité<br>
de Votre Fils bien-aimé, notre Seigneur Jésus-Christ,<br>
en réparation de nos péchés et de ceux du monde entier.
</p>

<hr />

<p class="responsive">"Par sa douloureuse Passion, soyez miséricordieux pour nous et le monde entier." (x 10)</p>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p class="responsive">"Dieu saint, Dieu fort, Dieu éternel, ayez pitié de nous et du monde entier." (x 3)</p>

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-misericorde.js") }}

{% endblock %}