{% extends "layouts/prieres.jinja" %}

{% set bpath = "chapelets/base/" %}

{% set title = "Chapelet des saintes plaies" %}

{% block content %}
<!-- Base -->
<p>Le {{ mc.link("chapelet de dévotion de St Bernard de Clairvaux", "/chapelets/devotion.html") }} est complémentaire.</p>

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

<p>
Ô Jésus, Divin Rédempteur, sois miséricordieux pour nous et le monde entier. Amen.<br>
<br>
Dieu saint, Dieu fort, Dieu immortel, aie pitié de nous et du monde entier. Amen.<br>
<br>
Ô Père Éternel, traite-nous avec miséricorde par le sang de Jésus, ton Fils Unique.<br>
Traite-nous avec miséricorde, nous t’en conjurons. Amen.
</p>

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", ["1. les mains", "2. les pieds", "3. le dos", "4. la tête", "5. le coeur"]) }}

<p>"Père Éternel, je t’offre les plaies de notre Seigneur Jésus-Christ pour guérir celles de nos âmes."</p>

<hr />

<p>"Mon Jésus, pardon et miséricorde, par les mérites de tes saintes plaies." (x 10)</p>

<!-- Fin -->

{{ mc.anchor("fin") }}

<p>"Père Éternel, je t’offre les plaies de notre Seigneur Jésus-Christ pour guérir celles de nos âmes." (x 3)</p>

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-plaies.js") }}

{% endblock %}