{% extends "layouts/prieres.jinja" %}

{% set bpath = "chapelets/base/" %}
{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet du rosaire" %}

{% block content %}
<p>Je recommande l'application {{ mc.link("Rosario", "https://rosario.app/") }} pour la méditation des <b>mystères</b>.</p>

<p>Les {{ mc.link("litanies de Lorette", "/litanies/lorette.html") }} sont complémentaires.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

{% include bpath + "signe-croix.jinja" %}

{% include rpath + "rs-base.jinja" %}

<!-- Dizaines -->

{{ mc.anchor("dizaines", "=") }}

{% include rpath + "rs-mysteres.jinja" %}

<p>Je prie à l'intention <input type="text" id="intention" /></p>

{% include rpath + "rs-dizaines.jinja" %}

{{ mc.return_link("dizaines") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "signe-croix.jinja" %}

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-mysteres.js") }}
{{ mc.script("chapelets/ch-rosaire.js") }}

{% endblock %}