{% extends "layouts/prieres.html" %}

{% set bpath = "chapelets/base/" %}
{% set rpath = "chapelets/rosaire/" %}

{% set title = "Chapelet du rosaire" %}

{% block content %}
<p>Je recommande l'application {{ mc.link("Rosario", "https://rosario.app/") }} pour la méditation des <b>mystères</b>.</p>

<p>Les {{ mc.link("prières de base", "/chapelets/ex-base.html") }} se trouvent sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

{% include rpath + "rs-base.html" %}

<!-- Dizaines -->

{{ mc.anchor("dizaines", "=") }}

{% include rpath + "rs-mysteres.html" %}

<p>Je prie à l'intention <input type="text" id="intention" /></p>

{% include rpath + "rs-dizaines.html" %}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-mysteres.js") }}
{{ mc.script("chapelets/ch-rosaire.js") }}

{% endblock %}