{% extends "layouts/prieres.html" %}

{% set bpath = "chapelets/base/" %}
{% set spath = "chapelets/sang/" %}

{% set title = "Chapelet du précieux sang de Jésus" %}

<!-- # Douzaines # -->

{% macro douzaine(last = False) %}
    {% include spath + "sg-coeur.html" %}

    <p class="gras">Notre Père</p>

    <p class="gras">Je vous salue Marie</p>

    <p>"Précieux Sang de Jésus-Christ, sauve-nous et le monde entier." (x 12)</p>

    <p class="gras">Gloire au Père</p>

    {% include spath + "sg-refrain.html" %}

    {% if last %}
        {% include spath + "sg-coeur.html" %}
    {% endif %}
{% endmacro %}

<!-- # Contenu # -->

{% block content %}
<p>Les {{ mc.link("prières de base", "/chapelets/ex-base.html") }} se trouvent sur une page dédiée.</p>

<p>Les {{ mc.link("litanies", "/litanies/lt-sang.html") }} sont complémentaires.</p>

<p>(*) Incliner la tête</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

{% include spath + "sg-chant.html" %}

{{ mc.anchor("st_esprit") }}

{% include spath + "sg-esprit.html" %}

{{ mc.anchor("credo") }}

<p class="gras">Credo</p>

{{ mc.anchor("refrain_n1") }}

{% include spath + "sg-refrain.html" %}

{% include spath + "sg-coeur.html" %}

{{ mc.anchor("b_prieres") }}

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("base_trio", ["-", "foi", "espérance", "charité"]) }}

<p class="gras">Gloire au Père</p>

{{ mc.anchor("refrain_n2") }}

{% include spath + "sg-refrain.html" %}

<!-- Mystères -->

{{ mc.anchor("mysteres", "=") }}

{% include spath + "sg-mysteres.html" %}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.html" %}

<ul class="priere gauche">
    <li>V. Prie pour nous, sainte Mère de Dieu,</li>
    <li>R. Afin que nous devenions dignes des promesses de Jésus-Christ.</li>
</ul>

{{ mc.anchor("final") }}

{% include spath + "sg-final.html" %}

{{ mc.anchor("litanies") }}

{% include spath + "sg-min-litanies.html" %}

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-sang.js") }}

{% endblock %}