{% extends "layouts/prieres.jinja" %}

{% set bpath = "chapelets/base/" %}
{% set spath = "chapelets/sang/" %}

{% set title = "Chapelet du précieux sang de Jésus" %}

{% block content %}
<p>Les {{ mc.link("prières de base", "/chapelets/ex-base.html") }} se trouvent sur une page dédiée.</p>

<p>Les {{ mc.link("litanies", "/litanies/lt-sang.html") }} sont complémentaires.</p>

<p>(*) Incliner la tête</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

{% include spath + "sg-chant.jinja" %}

{{ mc.anchor("st_esprit") }}

{% include spath + "sg-esprit.jinja" %}

{{ mc.anchor("credo") }}

<p class="gras">Credo</p>

{{ mc.anchor("refrain_n1") }}

{% include spath + "sg-refrain.jinja" %}

{% include spath + "sg-coeur.jinja" %}

{{ mc.anchor("base_prieres") }}

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

{{ mc.grains("base_trio", ["-", "foi", "espérance", "charité"]) }}

<p class="gras">Gloire au Père</p>

{{ mc.anchor("refrain_n2") }}

{% include spath + "sg-refrain.jinja" %}

<!-- Rondes -->

{{ mc.anchor("rondes", "=") }}

{{ mc.grains("dz_rondes", range(1,6)) }}

{% include spath + "sg-intros.jinja" %}

{% include spath + "sg-coeur.jinja" %}

<p class="gras">Notre Père</p>

<p class="gras">Je vous salue Marie</p>

<p>"Précieux Sang de Jésus-Christ, sauve-nous et le monde entier." (x 12)</p>

<p class="gras">Gloire au Père</p>

{% include spath + "sg-refrain.jinja" %}

<div id="dernier">
{% include spath + "sg-coeur.jinja" %}
</div>

{{ mc.return_link("rondes") }}

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

{% include bpath + "salut-reine.jinja" %}

<p>
V. Prie pour nous, sainte Mère de Dieu,<br>
R. Afin que nous devenions dignes des promesses de Jésus-Christ.
</p>

{{ mc.anchor("final") }}

{% include spath + "sg-final.jinja" %}

{{ mc.anchor("litanies") }}

{% include spath + "sg-min-litanies.jinja" %}

<p>(Signe de croix)</p>

{{ mc.return_link(label = "Recommencer", reset = True) }}

<!-- Scripts -->

{{ mc.script("utils.js") }}

{{ mc.script("chapelets/ch-sang.js") }}

{% endblock %}