{% extends "layouts/prieres.html" %}

{% set bpath = "chapelets/base/" %}

{% set base_url = "https://boutique.labonnenouvelle.net/chapelets-et-rosaire/" %}
{% set ext_url = base_url + "1073-chapelet-des-ames-du-purgatoire-9502379583487.html" %}

{% set title = "Chapelet des 13 vertus de Notre-Dame" %}

{% block content %}
<p>Il existe un {{ mc.link("chapelet spécifique", ext_url) }}.</p>

<p>Les {{ mc.link("prières de base", "/chapelets/ex-base.html") }} se trouvent sur une page dédiée.</p>

<!-- Base -->

{{ mc.anchor("base", "=") }}

<p>(Signe de croix)</p>

<p class="gras">Credo</p>

<p class="gras">Notre Père</p>

<p>
<b>Gloire au Père</b>
<br>
(Saints, St Michel, Anges gardiens)
</p>

<p class="gras">Je vous salue Marie</p>

<!-- Médaille -->

{{ mc.anchor("medaille", "=") }}

<p>
Mère de la Miséricorde Divine,<br>
intercédez pour les Saintes âmes détenues au Purgatoire,<br>
par la puissance de Votre Cœur Immaculé,<br>
pour glorifier Dieu en vue du Salut de toutes les âmes.
</p>

<!-- Niveaux -->

{{ mc.anchor("niveaux", "=") }}

<ul class="priere gauche">
    <li>{{ mc.radio_btn("nv1", "niveaux", "1. Crainte de Dieu") }}</li>
    <li>{{ mc.radio_btn("nv2", "niveaux", "2. Charité") }}</li>
    <li>{{ mc.radio_btn("nv3", "niveaux", "3. Foi") }}</li>
    <li>{{ mc.radio_btn("nv4", "niveaux", "4. Espérance") }}</li>
    <li>{{ mc.radio_btn("nv5", "niveaux", "5. Obéissance") }}</li>
    <li>{{ mc.radio_btn("nv6", "niveaux", "6. Patience") }}</li>
    <li>{{ mc.radio_btn("nv7", "niveaux", "7. Piété") }}</li>
    <li>{{ mc.radio_btn("nv8", "niveaux", "8. Chasteté") }}</li>
    <li>{{ mc.radio_btn("nv9", "niveaux", "9. Prudence") }}</li>
    <li>{{ mc.radio_btn("nv10", "niveaux", "10. Force") }}</li>
    <li>{{ mc.radio_btn("nv11", "niveaux", "11. Tempérance") }}</li>
    <li>{{ mc.radio_btn("nv12", "niveaux", "12. Pureté") }}</li>
    <li>{{ mc.radio_btn("nv13", "niveaux", "13. Justice") }}</li>
</ul>

<p class="gras">Je vous salue Marie</p>

<p>
"Ô Seigneur, donnez-leur le repos éternel et faites briller sur eux la lumière éternelle.<br>
Que les âmes des fidèles défunts reposent en paix par la miséricorde de Dieu. Amen." x 3
</p>

<!-- Fin -->

{{ mc.anchor("fin", "=") }}

<p>(Signe de croix)</p>

{{ mc.return_link() }}

{% endblock %}