{% include "Rituel/Signe-Croix.html" %}

<h2>Intro</h2>

<p class="priere">
Vous avez été à l’agonie, Jésus,<br>
mais la source de vie a jailli pour les âmes. <br>
<br>
Un océan de Miséricorde s'est découvert pour le monde entier. <br>
<br>
Ô source de vie, <br>
insondable Miséricorde de Dieu,<br> 
submergez le monde entier, <br>
engloutissez-nous.<br>
<br>    
Ô Sang et Eau, <br>
qui avez jailli du Coeur de Jésus <br>
comme source de Miséricorde pour nous, <br>
j'ai confiance en Vous.<br>
<br>
Amen.
</p>