<h2>Psaume 129 (130)</h2>

<p>
01 - Des profondeurs, je crie vers toi, Seigneur.<br>
<br>
02 - Seigneur, écoute mon appel.<br>
Que ton oreille se fasse attentive,<br>
au cri de ma prière !<br>
<br>
03 - Si tu retiens les fautes, Seigneur,<br>
qui subsistera ?<br>
<br>
04 - Mais près de toi se trouve le pardon<br>
pour que l'homme te craigne.<br>
<br>
05 - J'espère le Seigneur de toute mon âme.<br>
Je l'espère, et j'attends sa parole.<br>
<br>
06 - Mon âme attend le Seigneur<br>
plus qu'un veilleur ne guette l'aurore.<br>
<br>
07 - Attends le Seigneur, Israël.<br>
Oui, près du Seigneur, est l'amour.<br>
Près de lui, abonde le rachat.<br>
<br>
08 - C'est lui qui rachètera Israël de toutes ses fautes.
</p>