<h2>Psaume 31 (32)</h2>

<p>
01 - Heureux l'homme dont la faute est enlevée,<br>
et le péché remis !<br>
<br>
02 - Heureux l'homme dont le Seigneur ne retient pas l'offense,<br>
dont l'esprit est sans fraude !<br>
<br>
03 - Je me taisais et mes forces s'épuisaient à gémir tout le jour.<br>
<br>
04 - Ta main, le jour et la nuit, pesait sur moi.<br>
Ma vigueur se desséchait comme l'herbe en été.<br>
<br>
05 - Je t'ai fait connaître ma faute.<br>
Je n'ai pas caché mes torts.<br>
J'ai dit : "Je rendrai grâce au Seigneur en confessant mes péchés."<br>
Et toi, tu as enlevé l'offense de ma faute.<br>
<br>
06 - Ainsi, chacun des tiens te priera aux heures décisives.<br>
Même les eaux qui débordent ne peuvent l'atteindre.<br>
<br>
07 - Tu es un refuge pour moi, mon abri dans la forteresse.<br>
De chants de délivrance, tu m'as entouré.<br>
<br>
08 - "Je vais t'instruire, te montrer la route à suivre,<br>
te conseiller, veiller sur toi."<br>
<br>
09 - "N'imite pas les mules et les chevaux qui ne comprennent pas,<br>
qu'il faut mater par la bride et le mors,<br>
et rien ne t'arrivera."<br>
<br>
10 - Pour le méchant, douleurs sans nombre.<br>
Mais l'amour du Seigneur entourera ceux qui comptent sur lui.<br>
<br>
11 - Que le Seigneur soit votre joie !<br>
Exultez, hommes justes !<br>
Hommes droits, chantez votre allégresse !
</p>