<h2>Psaume 50 (51)</h2>

<p class="priere">
<a href="#v3" id="v3">03</a> &minus; 
Pitié pour moi, mon Dieu, dans ton amour.<br>
Selon ta grande miséricorde, efface mon péché.<br>
<br>
<a href="#v4" id="v4">04</a> &minus; 
Lave-moi tout entier de ma faute.<br>
Purifie-moi de mon offense.<br>
<br>
<a href="#v5" id="v5">05</a> &minus; 
Oui, je connais mon péché.<br>
Ma faute est toujours devant moi.<br>
<br>
<a href="#v6" id="v6">06</a> &minus; 
Contre toi, et toi seul, j'ai péché.<br>
Ce qui est mal à tes yeux, je l'ai fait.<br>
Ainsi, tu peux parler et montrer ta justice,<br>
être juge et montrer ta victoire.<br>
<br>
<a href="#v7" id="v7">07</a> &minus; 
Moi, je suis né dans la faute.<br>
J'étais pécheur dès le sein de ma mère.<br>
<br>
<a href="#v8" id="v8">08</a> &minus; 
Mais tu veux au fond de moi la vérité.<br>
Dans le secret, tu m'apprends la sagesse.<br>
<br>
<a href="#v9" id="v9">09</a> &minus; 
Purifie-moi avec l'hysope, et je serai pur.<br>
Lave-moi et je serai blanc, plus que la neige.<br>
<br>
<a href="#v10" id="v10">10</a> &minus; 
Fais que j'entende les chants et la fête.<br>
Ils danseront, les os que tu broyais.<br>
<br>
<a href="#v11" id="v11">11</a> &minus; 
Détourne la face de mes fautes.<br>
Enlève tous mes péchés.<br>
<br>
<a href="#v12" id="v12">12</a> &minus; 
Crée en moi un coeur pur, ô mon Dieu.<br>
Renouvelle et raffermis au fond de moi mon esprit.<br>
<br>
<a href="#v13" id="v13">13</a> &minus; 
Ne me chasse pas loin de ta face.<br>
Ne me reprends pas ton esprit saint.<br>
<br>
<a href="#v14" id="v14">14</a> &minus; 
Rends-moi la joie d'être sauvé,<br>
que l'esprit généreux me soutienne.<br>
<br>
<a href="#v15" id="v15">15</a> &minus; 
Aux pécheurs, j'enseignerai tes chemins.<br>
Vers toi, reviendront les égarés.<br>
<br>
<a href="#v16" id="v16">16</a> &minus; 
Libère-moi du sang versé.<br>
Dieu, mon Dieu sauveur,<br>
et ma langue acclamera ta justice.<br>
<br>
<a href="#v17" id="v17">17</a> &minus; 
Seigneur, ouvre mes lèvres,<br>
et ma bouche annoncera ta louange.<br>
<br>
<a href="#v18" id="v18">18</a> &minus; 
Si j'offre un sacrifice, tu n'en veux pas.<br>
Tu n'acceptes pas d'holocauste.<br>
<br>
<a href="#v19" id="v19">19</a> &minus; 
Le sacrifice qui plaît à Dieu, c'est un esprit brisé.<br>
Tu ne repousses pas, ô mon Dieu, un coeur brisé et noyé.<br>
<br>
<a href="#v20" id="v20">20</a> &minus; 
Accorde à Sion le bonheur,<br>
relève les murs de Jérusalem.<br>
<br>
<a href="#v21" id="v21">21</a> &minus; 
Alors tu accepteras de justes sacrifices, oblations et holocaustes.<br>
Alors on offrira des taureaux sur ton autel.
</p>