<h2>Psaume 6</h2>

<p>
02 - Seigneur, corrige-moi sans colère,<br>
et reprends-moi sans fureur.<br>
<br>
03 - Pitié, Seigneur, je dépéris !<br>
Seigneur, guéris-moi !<br>
Car je tremble de tous mes os.<br>
<br>
04 - De toute mon âme, je tremble.<br>
Et toi, Seigneur, que fais-tu ?<br>
<br>
05 - Reviens, Seigneur, délivre-moi !<br>
Sauve-moi en raison de ton amour !<br>
<br>
06 - Personne, dans la mort, n'invoque ton nom.<br>
Au séjour des morts, qui te rend grâce ?<br>
<br>
07 - Je m'épuise à force de gémir.<br>
Chaque nuit, je pleure sur mon lit.<br>
Ma couche est trempée de larmes.<br>
<br>
08 - Mes yeux sont rongés de chagrin.<br>
J'ai vieilli parmi tant d'adversaires !<br>
<br>
09 - Loin de moi, vous tous, malfaisants,<br>
car le Seigneur entend mes sanglots !<br>
<br>
10 - Le Seigneur accueille ma demande.<br>
Le Seigneur entend ma prière.<br>
<br>
11 - Qu'ils aient honte et qu'ils tremblent, tous mes ennemis,<br>
qu'ils reculent, soudain, couverts de honte !
</p>