<p>
Vous avez été à l’agonie, Jésus,<br>
mais la source de vie a jailli pour les âmes.<br>
Un océan de Miséricorde s'est découvert pour le monde entier.<br>
Ô source de vie, insondable Miséricorde de Dieu,<br>
submergez le monde entier, engloutissez-nous.<br>
(Petit Journal - § 1747)<br>
</p>

<hr />

<p>
Ô Sang et Eau, qui avez jailli du Coeur de Jésus<br>
comme source de Miséricorde pour nous,<br>
j'ai confiance en Vous.<br>
(Petit Journal - § 187)
</p>