<p>
Dieu éternel, en qui la miséricorde est sans fin et le trésor de la compassion inépuisable,<br>
regardez avec bonté et augmentez votre miséricorde en nous, afin que,<br>
dans les moments difficiles, nous ne désespérions ni ne nous découragions,<br>
mais nous nous soumettions avec une grande confiance à Votre sainte volonté,<br>
qui est amour et miséricorde.
</p>