<p>Dieu saint, Dieu fort, Dieu éternel, ayez pitié de nous et du monde entier</p>

{{ mc.grains("trio", "fin_trio") }}

<hr />

<p>
Dieu éternel, en qui la miséricorde est sans fin et le trésor de la compassion inépuisable,<br>
regardez avec bonté et augmentez votre miséricorde en nous,<br>
afin que, dans les moments difficiles,<br>
nous ne désespérions ni ne nous découragions,<br>
mais nous nous soumettions avec une grande confiance<br>
à Votre sainte volonté, qui est amour et miséricorde.
</p>