{% include path + "signe-croix.html" %}

<hr />

<p class="priere">
Saint Michel Archange,<br> 
grand prince des milices célestes,<br>
défendez-nous dans le combat<br>
pour que nous ne périssions pas au jour du jugement.<br>
Ô Dieu, venez à mon aide,<br>
Seigneur, hâtez-vous de me secourir.
</p>

<p><a href="#intro_notre_pere" id="intro_notre_pere">===</a></p>

{% include path + "notre-pere.html" %}

<p>
    {% for step in ["-", "St Michel", "St Gabriel", "St Raphaël", "Ange gardien"] %}
    <input type="radio" name="nbase" id="nbase_{{ loop.index }}" {% if loop.first %} checked {% endif %} />
    <label for="nbase_{{ loop.index }}">{{ step }}</label>
    {% endfor %}
</p>