<h2>Psaume 130 - De profundis</h2>

<p class="priere gauche">
Des profondeurs, je crie vers toi, Seigneur.<br>
Seigneur, écoute mon appel !<br>
Que ton oreille se fasse attentive au cri de ma prière.<br>
Si tu retiens les fautes, Seigneur, qui subsistera ?<br>
Mais près de toi se trouve le pardon pour que l'homme te craigne.<br>
J'espère le Seigneur de toute mon âme.<br>
Je l'espère, et j'attends sa parole.<br>
Mon âme attend le Seigneur, plus qu'un veilleur ne guette l'aurore.<br>
Plus qu'un veilleur ne guette l'aurore, attend le Seigneur, Israël.<br>
Oui, près du Seigneur est l'amour.<br>
Près de lui, abonde le rachat.<br>
C'est lui qui rachètera Israël de toutes ses fautes.
</p>
