<p class="priere gauche">
Quand je me tiens sous l'abri du Très-Haut et repose à l'ombre du Puissant.<br>

<br>

Je dis au Seigneur :<br>
"Mon refuge, mon rempart, mon Dieu, dont je suis sûr !"<br>

<br>

C'est lui qui te sauve des filets du chasseur et de la peste maléfique.<br>

<br>

Il te couvre et te protège.<br>
Tu trouves sous son aile un refuge.<br>
Sa fidélité est une armure, un bouclier.<br>

<br>

Tu ne craindras ni les terreurs de la nuit.<br>
Ni la flèche qui vole au grand jour.<br>

<br>

Ni la peste qui rôde dans le noir.<br>
Ni le fléau qui frappe à midi.<br>

<br>

Qu'il en tombe mille à tes côtés.<br>
Qu'il en tombe dix mille à ta droite.<br>
Toi, tu restes hors d'atteinte.<br>

<br>

Il suffit que tu ouvres les yeux.<br>
Tu verras le salaire du méchant.<br>

<br>

Oui, le Seigneur est ton refuge.<br>
Tu as fait du Très-Haut ta forteresse.<br>

<br>

Le malheur ne pourra te toucher, ni le danger, approcher de ta demeure.<br>

<br>

Il donne mission à ses anges de te garder sur tous tes chemins.<br>

<br>

Ils te porteront sur leurs mains pour que ton pied ne heurte les pierres.<br>

<br>

Tu marcheras sur la vipère et le scorpion.<br>
Tu écraseras le lion et le dragon.<br>

<br>

Puisqu'il s'attache à moi, je le délivre.<br>
Je le défends, car il connaît mon nom.<br>

<br>

Il m'appelle, et moi, je lui réponds.<br>
Je suis avec lui dans son épreuve.<br>
Je veux le libérer, le glorifier.<br>

<br>

De longs jours, je veux le rassasier.<br>
Et je ferai qu'il voie mon salut.
</p>
