{{ mc.header("m_douloureux", "Les mystères douloureux") }}

<h3>1. L'agonie de Jésus</h3>

<p>Fruit : <b>le regret de nos péchés</b></p>

{{ rmc.dizaine("d1") }}

<h3>2. La flagellation</h3>

<p>Fruit : <b>la maîtrise des sens</b></p>

{{ rmc.dizaine("d2") }}

<h3>3. Le couronnement d'épines</h3>

<p>Fruit : <b>l'humilité et le pardon de nos péchés d'orgueil</b></p>

{{ rmc.dizaine("d3") }}

<h3>4. Le portement de croix</h3>

<p>Fruit : <b>la patience dans les épreuves</b></p>

{{ rmc.dizaine("d4") }}

<h3>5. La crucifixion</h3>

<p>Fruit : <b>la soif du salut des âmes</b></p>

{{ rmc.dizaine("d5") }}