{{ mc.header("m_douloureux", "Les mystères douloureux") }}

<ul class="priere gauche">
    <li>{{ rmc.option("1. L'agonie de Jésus", "douloureux", 1) }}</li>
    <li>{{ rmc.option("2. La flagellation", "douloureux", 2) }}</li>
    <li>{{ rmc.option("3. Le couronnement d'épines", "douloureux", 3) }}</li>
    <li>{{ rmc.option("4. Le portement de croix", "douloureux", 4) }}</li>
    <li>{{ rmc.option("5. La crucifixion", "douloureux", 5) }}</li>
</ul>

<hr />

{{ rmc.dizaine("douloureux") }}
