{{ mc.header("m_douloureux", "Les mystères douloureux") }}

<ul class="priere gauche">
    <li>{{ mc.radio_btn("1. L'agonie de Jésus", "rd_douloureux", "d1") }}</li>
    <li>{{ mc.radio_btn("2. La flagellation", "rd_douloureux", "d2") }}</li>
    <li>{{ mc.radio_btn("3. Le couronnement d'épines", "rd_douloureux", "d3") }}</li>
    <li>{{ mc.radio_btn("4. Le portement de croix", "rd_douloureux", "d4") }}</li>
    <li>{{ mc.radio_btn("5. La crucifixion", "rd_douloureux", "d5") }}</li>
</ul>

<hr />

{{ rmc.dizaine("douloureux") }}
