{{ mc.header("m_glorieux", "Les mystères glorieux") }}

<h3>1. La résurrection de Jésus</h3>

<p>Fruit : <b>la foi et la conversion des coeurs</b></p>

{{ rmc.dizaine("g1") }}

<h3>2. L'ascension de Jésus</h3>

<p>Fruit : <b>l'espérance et le désir du ciel</b></p>

{{ rmc.dizaine("g2") }}

<h3>3. La Pentecôte</h3>

<p>Fruit : <b>la charité et le zèle apostolique</b></p>

{{ rmc.dizaine("g3") }}

<h3>4. L'Assomption de Marie</h3>

<p>Fruit : <b>la grâce d'une bonne mort et la dévotion filiale à Marie</b></p>

{{ rmc.dizaine("g4") }}

<h3>5. Le couronnement de Marie</h3>

<p>Fruit : <b>la persévérance finale et la confiance en Marie</b></p>

{{ rmc.dizaine("g5") }}