{{ mc.header("m_glorieux", "Les mystères glorieux") }}

<ul class="priere gauche">
    <li>{{ mc.radio_btn("1. La résurrection de Jésus", "rd_glorieux", "g1") }}</li>
    <li>{{ mc.radio_btn("2. L'ascension de Jésus", "rd_glorieux", "g2") }}</li>
    <li>{{ mc.radio_btn("3. La Pentecôte", "rd_glorieux", "g3") }}</li>
    <li>{{ mc.radio_btn("4. L'Assomption de Marie", "rd_glorieux", "g4") }}</li>
    <li>{{ mc.radio_btn("5. Le couronnement de Marie", "rd_glorieux", "g5") }}</li>
</ul>

<hr />

{{ rmc.dizaine("glorieux") }}