{{ mc.header("m_glorieux", "Les mystères glorieux") }}

<ul class="priere gauche">
    <li>{{ mc.radio_btn("1. La résurrection de Jésus", "rd_mysteres", "g1", "resetAll()") }}</li>
    <li>{{ mc.radio_btn("2. L'ascension de Jésus", "rd_mysteres", "g2", "resetAll()") }}</li>
    <li>{{ mc.radio_btn("3. La Pentecôte", "rd_mysteres", "g3", "resetAll()") }}</li>
    <li>{{ mc.radio_btn("4. L'Assomption de Marie", "rd_mysteres", "g4", "resetAll()") }}</li>
    <li>{{ mc.radio_btn("5. Le couronnement de Marie", "rd_mysteres", "g5", "resetAll()") }}</li>
</ul>
