{{ mc.header("m_joyeux", "Les mystères joyeux") }}

<ul class="priere gauche">
    <li>{{ rmc.option("1. L'annonciation", "joyeux", 1) }}</li>
    <li>{{ rmc.option("2. La visitation", "joyeux", 2) }}</li>
    <li>{{ rmc.option("3. La nativité", "joyeux", 3) }}</li>
    <li>{{ rmc.option("4. La présentation de Jésus au temple", "joyeux", 4) }}</li>
    <li>{{ rmc.option("5. Le recouvrement de Jésus au temple", "joyeux", 5) }}</li>
</ul>

<hr />

{{ rmc.dizaine("joyeux") }}