{{ mc.header("m_joyeux", "Les mystères joyeux") }}

<h3>1. L'annonciation</h3>

<p>Fruit : <b>l'humilité</b></p>

{{ rmc.dizaine("j1") }}

<h3>2. La visitation</h3>

<p>Fruit : <b>la charité fraternelle</b></p>

{{ rmc.dizaine("j2") }}

<h3>3. La nativité</h3>

<p>Fruit : <b>l'esprit de pauvreté</b></p>

{{ rmc.dizaine("j3") }}

<h3>4. La présentation de Jésus au temple</h3>

<p>Fruit : <b>la pureté et l'esprit d'obéissance</b></p>

{{ rmc.dizaine("j4") }}

<h3>5. Le recouvrement de Jésus au temple</h3>

<p>Fruit : <b>la recherche de Dieu en tout</b></p>

{{ rmc.dizaine("j5") }}