<h2>Les mystères lumineux</h2>

<ul class="priere gauche">
    <li>{{ ex_mystere("l1", "1. Le baptême de Jésus") }}</li>
    <li>{{ ex_mystere("l2", "2. Les noces de Cana") }}</li>
    <li>{{ ex_mystere("l3", "3. L'annonce du Royaume de Dieu") }}</li>
    <li>{{ ex_mystere("l4", "4. La transfiguration au Mont Thabor") }}</li>
    <li>{{ ex_mystere("l5", "5. L'institution de l'eucharistie") }}</li>
</ul>
