{{ mc.header("m_lumineux", "Les mystères lumineux") }}

<ul class="priere gauche">
    <li>{{ rmc.option("1. Le baptême de Jésus", "lumineux", 1) }}</li>
    <li>{{ rmc.option("2. Les noces de Cana", "lumineux", 2) }}</li>
    <li>{{ rmc.option("3. L'annonce du Royaume de Dieu", "lumineux", 3) }}</li>
    <li>{{ rmc.option("4. La transfiguration au Mont Thabor", "lumineux", 4) }}</li>
    <li>{{ rmc.option("5. L'institution de l'eucharistie", "lumineux", 5) }}</li>
</ul>

<hr />

{{ rmc.dizaine("lumineux") }}