{{ mc.header("m_lumineux", "Les mystères lumineux") }}

<ul class="priere gauche">
    <li>{{ mc.radio_btn("1. Le baptême de Jésus", "rd_lumineux", "l1") }}</li>
    <li>{{ mc.radio_btn("2. Les noces de Cana", "rd_lumineux", "l2") }}</li>
    <li>{{ mc.radio_btn("3. L'annonce du Royaume de Dieu", "rd_lumineux", "l3") }}</li>
    <li>{{ mc.radio_btn("4. La transfiguration au Mont Thabor", "rd_lumineux", "l4") }}</li>
    <li>{{ mc.radio_btn("5. L'institution de l'eucharistie", "rd_lumineux", "l5") }}</li>
</ul>

<hr />

{{ rmc.dizaine("lumineux") }}
